In [1]:
from itertools import permutations

In [23]:
import numpy as np
import pandas as pd
def solve(num, ck_grid, sample=False):
    result=[]
    ck=[]
    poslist=permutations(num)
    for p in poslist:
        rt_sum=None
        for grid in ck_grid:
            sums=sum(p[pt] for pt in grid)
            if rt_sum==None: rt_sum=sums
            elif rt_sum!=sums or (sample==True and sums in ck): break
        else: 
            result.append([p,rt_sum])
            ck.append(rt_sum)
    result=pd.DataFrame(sorted(result,key=lambda x: x[1]),columns=['solution','sum'])
    return result

In [88]:
solve(range(1,7),[[0,1,2],[2,3,4],[4,5,0]],sample=True)

             solution  sum
0  (1, 5, 3, 4, 2, 6)    9
1  (1, 4, 5, 2, 3, 6)   10
2  (2, 3, 6, 1, 4, 5)   11
3  (4, 2, 6, 1, 5, 3)   12

In [79]:
solve(range(1,10),[[0,1,2],[3,4,5],[1,5,8],[3,6,8]],sample=True)

                      solution  sum
0  (1, 3, 9, 2, 5, 6, 7, 8, 4)   13
1  (1, 4, 9, 5, 2, 7, 6, 8, 3)   14
2  (1, 6, 9, 5, 4, 7, 8, 2, 3)   16
3  (1, 7, 9, 8, 3, 6, 5, 2, 4)   17

In [101]:
#Q8
solve2(range(1,10),[[0,2,6,8],[0,1,3,4],[1,2,4,5],[3,4,6,7],[4,5,7,8]])

[[0, 2, 6, 8], [0, 1, 3, 4], [1, 2, 4, 5], [3, 4, 6, 7]]
[[4, 5, 7, 8]]
[[0, 8, 2, 6], [1, 3, 4], [5], [7]]
5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

                      solution  sum
0  [1, 8, 3, 6, 5, 4, 7, 2, 9]   20
1  [1, 6, 7, 8, 5, 2, 3, 4, 9]   20
2  [3, 8, 1, 4, 5, 6, 9, 2, 7]   20
3  [3, 4, 9, 8, 5, 2, 1, 6, 7]   20
4  [7, 6, 1, 2, 5, 8, 9, 4, 3]   20
5  [7, 2, 9, 6, 5, 4, 1, 8, 3]   20
6  [9, 4, 3, 2, 5, 8, 7, 6, 1]   20
7  [9, 2, 7, 4, 5, 6, 3, 8, 1]   20

In [1]:
print("1 6 7\n8 5 2\n3 4 9")

1 6 7
8 5 2
3 4 9

In [50]:
#洛神圖
solve2(range(1,10),[[0,1,2],[3,4,5],[6,7,8],[0,3,6],[1,4,7],[2,5,8],[0,4,8],[2,4,6]])

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]
[[0, 3, 6], [1, 4, 7], [2, 5, 8], [0, 4, 8], [2, 4, 6]]
[[0, 1, 2], [3, 4, 5], [8, 6, 7]]

                      solution  sum
0  [2, 7, 6, 9, 5, 1, 4, 3, 8]   15
1  [2, 9, 4, 7, 5, 3, 6, 1, 8]   15
2  [4, 3, 8, 9, 5, 1, 2, 7, 6]   15
3  [4, 9, 2, 3, 5, 7, 8, 1, 6]   15
4  [6, 1, 8, 7, 5, 3, 2, 9, 4]   15
5  [6, 7, 2, 1, 5, 9, 8, 3, 4]   15
6  [8, 1, 6, 3, 5, 7, 4, 9, 2]   15
7  [8, 3, 4, 1, 5, 9, 6, 7, 2]   15

In [37]:
#Q5
solve(range(1,10),[[0,1,2,3],[3,4,5,6],[6,7,8,0]],sample=False)

                        solution  sum
0    (1, 4, 9, 3, 5, 7, 2, 6, 8)   17
1    (1, 4, 9, 3, 5, 7, 2, 8, 6)   17
2    (1, 4, 9, 3, 7, 5, 2, 6, 8)   17
3    (1, 4, 9, 3, 7, 5, 2, 8, 6)   17
4    (1, 5, 9, 2, 4, 8, 3, 6, 7)   17
5    (1, 5, 9, 2, 4, 8, 3, 7, 6)   17
6    (1, 5, 9, 2, 8, 4, 3, 6, 7)   17
7    (1, 5, 9, 2, 8, 4, 3, 7, 6)   17
8    (1, 6, 7, 3, 4, 8, 2, 5, 9)   17
9    (1, 6, 7, 3, 4, 8, 2, 9, 5)   17
10   (1, 6, 7, 3, 8, 4, 2, 5, 9)   17
11   (1, 6, 7, 3, 8, 4, 2, 9, 5)   17
12   (1, 6, 8, 2, 5, 7, 3, 4, 9)   17
13   (1, 6, 8, 2, 5, 7, 3, 9, 4)   17
14   (1, 6, 8, 2, 7, 5, 3, 4, 9)   17
15   (1, 6, 8, 2, 7, 5, 3, 9, 4)   17
16   (1, 7, 6, 3, 4, 8, 2, 5, 9)   17
17   (1, 7, 6, 3, 4, 8, 2, 9, 5)   17
18   (1, 7, 6, 3, 8, 4, 2, 5, 9)   17
19   (1, 7, 6, 3, 8, 4, 2, 9, 5)   17
20   (1, 8, 6, 2, 5, 7, 3, 4, 9)   17
21   (1, 8, 6, 2, 5, 7, 3, 9, 4)   17
22   (1, 8, 6, 2, 7, 5, 3, 4, 9)   17
23   (1, 8, 6, 2, 7, 5, 3, 9, 4)   17
24   (1, 9, 4, 3, 5, 7, 2, 6, 8)   17
25   (1, 9, 4, 3, 5, 7, 2, 8, 6)   17
26   (1, 9, 4, 3, 7, 5, 2, 6, 8)   17
27   (1, 9, 4, 3, 7, 5, 2, 8, 6)   17
28   (1, 9, 5, 2, 4, 8, 3, 6, 7)   17
29   (1, 9, 5, 2, 4, 8, 3, 7, 6)   17
..                           ...  ...
834  (9, 1, 5, 8, 6, 2, 7, 3, 4)   23
835  (9, 1, 5, 8, 6, 2, 7, 4, 3)   23
836  (9, 1, 6, 7, 3, 5, 8, 2, 4)   23
837  (9, 1, 6, 7, 3, 5, 8, 4, 2)   23
838  (9, 1, 6, 7, 5, 3, 8, 2, 4)   23
839  (9, 1, 6, 7, 5, 3, 8, 4, 2)   23
840  (9, 2, 4, 8, 3, 5, 7, 1, 6)   23
841  (9, 2, 4, 8, 3, 5, 7, 6, 1)   23
842  (9, 2, 4, 8, 5, 3, 7, 1, 6)   23
843  (9, 2, 4, 8, 5, 3, 7, 6, 1)   23
844  (9, 3, 4, 7, 2, 6, 8, 1, 5)   23
845  (9, 3, 4, 7, 2, 6, 8, 5, 1)   23
846  (9, 3, 4, 7, 6, 2, 8, 1, 5)   23
847  (9, 3, 4, 7, 6, 2, 8, 5, 1)   23
848  (9, 4, 2, 8, 3, 5, 7, 1, 6)   23
849  (9, 4, 2, 8, 3, 5, 7, 6, 1)   23
850  (9, 4, 2, 8, 5, 3, 7, 1, 6)   23
851  (9, 4, 2, 8, 5, 3, 7, 6, 1)   23
852  (9, 4, 3, 7, 2, 6, 8, 1, 5)   23
853  (9, 4, 3, 7, 2, 6, 8, 5, 1)   23
854  (9, 4, 3, 7, 6, 2, 8, 1, 5)   23
855  (9, 4, 3, 7, 6, 2, 8, 5, 1)   23
856  (9, 5, 1, 8, 2, 6, 7, 3, 4)   23
857  (9, 5, 1, 8, 2, 6, 7, 4, 3)   23
858  (9, 5, 1, 8, 6, 2, 7, 3, 4)   23
859  (9, 5, 1, 8, 6, 2, 7, 4, 3)   23
860  (9, 6, 1, 7, 3, 5, 8, 2, 4)   23
861  (9, 6, 1, 7, 3, 5, 8, 4, 2)   23
862  (9, 6, 1, 7, 5, 3, 8, 2, 4)   23
863  (9, 6, 1, 7, 5, 3, 8, 4, 2)   23

[864 rows x 2 columns]

In [2]:
864/6/8

18.0

In [102]:
#Q7
solve2(range(1,11),[[0,1,2],[2,3,4],[4,5,6],[6,7,8],[8,9,0]])

[[0, 1, 2], [2, 3, 4], [4, 5, 6], [6, 7, 8], [8, 9, 0]]
[]
[[0, 1, 2], [3, 4], [5, 6], [8, 7], [9]]
5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

                           solution  sum
0   [1, 9, 4, 8, 2, 7, 5, 6, 3, 10]   14
1   [1, 10, 3, 6, 5, 7, 2, 8, 4, 9]   14
2   [2, 7, 5, 6, 3, 10, 1, 9, 4, 8]   14
3   [2, 8, 4, 9, 1, 10, 3, 6, 5, 7]   14
4   [3, 6, 5, 7, 2, 8, 4, 9, 1, 10]   14
5   [3, 10, 1, 9, 4, 8, 2, 7, 5, 6]   14
6   [4, 8, 2, 7, 5, 6, 3, 10, 1, 9]   14
7   [4, 9, 1, 10, 3, 6, 5, 7, 2, 8]   14
8   [5, 6, 3, 10, 1, 9, 4, 8, 2, 7]   14
9   [5, 7, 2, 8, 4, 9, 1, 10, 3, 6]   14
10  [1, 5, 10, 2, 4, 9, 3, 6, 7, 8]   16
11  [1, 8, 7, 6, 3, 4, 9, 2, 5, 10]   16
12  [1, 8, 7, 6, 3, 9, 4, 2, 10, 5]   16
13  [1, 10, 5, 2, 9, 4, 3, 6, 7, 8]   16
14  [3, 4, 9, 2, 5, 10, 1, 8, 7, 6]   16
15  [3, 6, 7, 8, 1, 5, 10, 2, 4, 9]   16
16  [3, 6, 7, 8, 1, 10, 5, 2, 9, 4]   16
17  [3, 9, 4, 2, 10, 5, 1, 8, 7, 6]   16
18  [4, 2, 10, 5, 1, 8, 7, 6, 3, 9]   16
19  [4, 9, 3, 6, 7, 8, 1, 5, 10, 2]   16
20  [5, 2, 9, 4, 3, 6, 7, 8, 1, 10]   16
21  [5, 10, 1, 8, 7, 6, 3, 4, 9, 2]   16
22  [7, 6, 3, 4, 9, 2, 5, 10, 1, 8]   16
23  [7, 6, 3, 9, 4, 2, 10, 5, 1, 8]   16
24  [7, 8, 1, 5, 10, 2, 4, 9, 3, 6]   16
25  [7, 8, 1, 10, 5, 2, 9, 4, 3, 6]   16
26  [9, 2, 5, 10, 1, 8, 7, 6, 3, 4]   16
27  [9, 4, 3, 6, 7, 8, 1, 10, 5, 2]   16
28  [10, 2, 4, 9, 3, 6, 7, 8, 1, 5]   16
29  [10, 5, 1, 8, 7, 6, 3, 9, 4, 2]   16
30  [1, 6, 10, 3, 4, 5, 8, 2, 7, 9]   17
31  [1, 9, 7, 2, 8, 5, 4, 3, 10, 6]   17
32  [2, 7, 8, 5, 4, 3, 10, 1, 6, 9]   17
33  [2, 9, 6, 1, 10, 3, 4, 5, 8, 7]   17
34  [4, 3, 10, 1, 6, 9, 2, 7, 8, 5]   17
35  [4, 3, 10, 6, 1, 9, 7, 2, 8, 5]   17
36  [4, 5, 8, 2, 7, 9, 1, 6, 10, 3]   17
37  [4, 5, 8, 7, 2, 9, 6, 1, 10, 3]   17
38  [6, 1, 10, 3, 4, 5, 8, 7, 2, 9]   17
39  [6, 9, 2, 7, 8, 5, 4, 3, 10, 1]   17
40  [7, 2, 8, 5, 4, 3, 10, 6, 1, 9]   17
41  [7, 9, 1, 6, 10, 3, 4, 5, 8, 2]   17
42  [8, 2, 7, 9, 1, 6, 10, 3, 4, 5]   17
43  [8, 5, 4, 3, 10, 1, 6, 9, 2, 7]   17
44  [8, 5, 4, 3, 10, 6, 1, 9, 7, 2]   17
45  [8, 7, 2, 9, 6, 1, 10, 3, 4, 5]   17
46  [10, 1, 6, 9, 2, 7, 8, 5, 4, 3]   17
47  [10, 3, 4, 5, 8, 2, 7, 9, 1, 6]   17
48  [10, 3, 4, 5, 8, 7, 2, 9, 6, 1]   17
49  [10, 6, 1, 9, 7, 2, 8, 5, 4, 3]   17
50  [6, 4, 9, 3, 7, 2, 10, 1, 8, 5]   19
51  [6, 5, 8, 1, 10, 2, 7, 3, 9, 4]   19
52  [7, 2, 10, 1, 8, 5, 6, 4, 9, 3]   19
53  [7, 3, 9, 4, 6, 5, 8, 1, 10, 2]   19
54  [8, 1, 10, 2, 7, 3, 9, 4, 6, 5]   19
55  [8, 5, 6, 4, 9, 3, 7, 2, 10, 1]   19
56  [9, 3, 7, 2, 10, 1, 8, 5, 6, 4]   19
57  [9, 4, 6, 5, 8, 1, 10, 2, 7, 3]   19
58  [10, 1, 8, 5, 6, 4, 9, 3, 7, 2]   19
59  [10, 2, 7, 3, 9, 4, 6, 5, 8, 1]   19

In [2]:
(-9-6-5-2+3+11+13+19)/8

3.0

In [110]:
L=[[4*k,4*k+1,4*k+2,4*k+3] for k in range(0,4)]

In [111]:
L.extend([[k,k+4,k+8,k+12] for k in range(0,4)])

In [112]:
L.extend([[3,6,9,12],[0,5,10,15]])

In [113]:
L

[[0, 1, 2, 3],
 [4, 5, 6, 7],
 [8, 9, 10, 11],
 [12, 13, 14, 15],
 [0, 4, 8, 12],
 [1, 5, 9, 13],
 [2, 6, 10, 14],
 [3, 7, 11, 15],
 [3, 6, 9, 12],
 [0, 5, 10, 15]]

In [36]:
solve(range(1,17),L)

KeyboardInterrupt:

In [29]:
sum(range(1,17))

136

In [32]:
136/4

34.0

In [33]:
2*3.14* (150/360)

2.6166666666666667

In [34]:
47.1 *12 / 31.4

18.000000000000004

In [38]:
K=permutations([0,1,4,5])

In [39]:
K

[(0, 1, 4, 5),
 (0, 1, 5, 4),
 (0, 4, 1, 5),
 (0, 4, 5, 1),
 (0, 5, 1, 4),
 (0, 5, 4, 1),
 (1, 0, 4, 5),
 (1, 0, 5, 4),
 (1, 4, 0, 5),
 (1, 4, 5, 0),
 (1, 5, 0, 4),
 (1, 5, 4, 0),
 (4, 0, 1, 5),
 (4, 0, 5, 1),
 (4, 1, 0, 5),
 (4, 1, 5, 0),
 (4, 5, 0, 1),
 (4, 5, 1, 0),
 (5, 0, 1, 4),
 (5, 0, 4, 1),
 (5, 1, 0, 4),
 (5, 1, 4, 0),
 (5, 4, 0, 1),
 (5, 4, 1, 0)]

In [41]:
set([4,5,6])

{4, 5, 6}

In [50]:
set().

SyntaxError: invalid syntax (<ipython-input-50-934fdda5e7fa>, line 1)

In [7]:
from math import factorial
from itertools import permutations
import pandas as pd
L=[[0, 1, 2, 3],
 [4, 5, 6, 7],
 [8, 9, 10, 11],
 [12, 13, 14, 15],
 [0, 4, 8, 12],
 [1, 5, 9, 13],
 [2, 6, 10, 14],
 [3, 7, 11, 15],
 [3, 6, 9, 12],
 [0, 5, 10, 15]]
def solve2(space, L):
    lattices=L[:]   
    grid = []
    diff = []
    solution=[]
    skt = set()
    tmp=[0 for j in range(len(space))]
    for lattice in lattices:
        if not set(lattice) <= skt: 
            diff.append( list(set(lattice)-skt))
            grid.append(lattice)
            skt=skt.union(set(lattice))
               
        # print(skt)
    for g in grid: lattices.remove(g)
    
    def bruce(stage, re_sum):
        nonlocal grid
        nonlocal solution
        nonlocal tmp
        nonlocal space
        nonlocal lattices
        
        #print(stage)
        if stage == len(grid): 
            for lattice in lattices:
                if sum(tmp[i] for i in lattice)!=re_sum: return False        
            solution.append([tmp[:],re_sum])
            #print(solution)
            return True
        if stage == 0: 
            pt=0
            ct=0
            
            tmp=[None for j in range(len(space))]
            
        if stage<len(grid):
            ll=set(space)-set(x for x in tmp if x!= None)
            for t in permutations(ll,len(diff[stage])):
                
                if stage==0: 
                    re_sum=None
                    ct+=1
                    if int(100*ct/(factorial(len(space))/factorial(len(space)-len(diff[0]))))>=pt+5:
                             pt+=5
                             print(pt, end=' ')
                    #print(pt)
                tsum=sum(t)
              
                for k in range(len(diff[stage])):
                    tmp[diff[stage][k]]=t[k]
                for d in grid[stage]:
                    if d not in diff[stage]: tsum+=tmp[d]
                if re_sum==None: re_sum=tsum
                if tsum==re_sum:
                    bruce(stage+1,re_sum)
                for k in range(len(diff[stage])):
                    tmp[diff[stage][k]]=None
        
                
    print(grid, lattices, diff, sep='\n')
    bruce(0,0)
    result=pd.DataFrame(sorted(solution,key=lambda x: x[1]),columns=['solution','sum'])                
    
    return result

In [92]:
set([8,9,0])

{0, 8, 9}

In [ ]:
L

In [80]:
set([5])

{5}

In [89]:
9*8*7*6

3024

In [107]:
(solve2(range(1,10),[[0,1,2,3],[3,4,5,6],[6,7,8,0]]))

[[0, 1, 2, 3], [3, 4, 5, 6], [6, 7, 8, 0]]
[]
[[0, 1, 2, 3], [4, 5, 6], [8, 7]]
5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

                        solution  sum
0    [1, 4, 9, 3, 5, 7, 2, 6, 8]   17
1    [1, 4, 9, 3, 5, 7, 2, 8, 6]   17
2    [1, 4, 9, 3, 7, 5, 2, 6, 8]   17
3    [1, 4, 9, 3, 7, 5, 2, 8, 6]   17
4    [1, 5, 9, 2, 4, 8, 3, 7, 6]   17
5    [1, 5, 9, 2, 4, 8, 3, 6, 7]   17
6    [1, 5, 9, 2, 8, 4, 3, 7, 6]   17
7    [1, 5, 9, 2, 8, 4, 3, 6, 7]   17
8    [1, 6, 7, 3, 4, 8, 2, 5, 9]   17
9    [1, 6, 7, 3, 4, 8, 2, 9, 5]   17
10   [1, 6, 7, 3, 8, 4, 2, 5, 9]   17
11   [1, 6, 7, 3, 8, 4, 2, 9, 5]   17
12   [1, 6, 8, 2, 5, 7, 3, 4, 9]   17
13   [1, 6, 8, 2, 5, 7, 3, 9, 4]   17
14   [1, 6, 8, 2, 7, 5, 3, 4, 9]   17
15   [1, 6, 8, 2, 7, 5, 3, 9, 4]   17
16   [1, 7, 6, 3, 4, 8, 2, 5, 9]   17
17   [1, 7, 6, 3, 4, 8, 2, 9, 5]   17
18   [1, 7, 6, 3, 8, 4, 2, 5, 9]   17
19   [1, 7, 6, 3, 8, 4, 2, 9, 5]   17
20   [1, 8, 6, 2, 5, 7, 3, 4, 9]   17
21   [1, 8, 6, 2, 5, 7, 3, 9, 4]   17
22   [1, 8, 6, 2, 7, 5, 3, 4, 9]   17
23   [1, 8, 6, 2, 7, 5, 3, 9, 4]   17
24   [1, 9, 4, 3, 5, 7, 2, 6, 8]   17
25   [1, 9, 4, 3, 5, 7, 2, 8, 6]   17
26   [1, 9, 4, 3, 7, 5, 2, 6, 8]   17
27   [1, 9, 4, 3, 7, 5, 2, 8, 6]   17
28   [1, 9, 5, 2, 4, 8, 3, 7, 6]   17
29   [1, 9, 5, 2, 4, 8, 3, 6, 7]   17
..                           ...  ...
834  [9, 1, 5, 8, 6, 2, 7, 4, 3]   23
835  [9, 1, 5, 8, 6, 2, 7, 3, 4]   23
836  [9, 1, 6, 7, 3, 5, 8, 4, 2]   23
837  [9, 1, 6, 7, 3, 5, 8, 2, 4]   23
838  [9, 1, 6, 7, 5, 3, 8, 4, 2]   23
839  [9, 1, 6, 7, 5, 3, 8, 2, 4]   23
840  [9, 2, 4, 8, 3, 5, 7, 6, 1]   23
841  [9, 2, 4, 8, 3, 5, 7, 1, 6]   23
842  [9, 2, 4, 8, 5, 3, 7, 6, 1]   23
843  [9, 2, 4, 8, 5, 3, 7, 1, 6]   23
844  [9, 3, 4, 7, 2, 6, 8, 5, 1]   23
845  [9, 3, 4, 7, 2, 6, 8, 1, 5]   23
846  [9, 3, 4, 7, 6, 2, 8, 5, 1]   23
847  [9, 3, 4, 7, 6, 2, 8, 1, 5]   23
848  [9, 4, 2, 8, 3, 5, 7, 6, 1]   23
849  [9, 4, 2, 8, 3, 5, 7, 1, 6]   23
850  [9, 4, 2, 8, 5, 3, 7, 6, 1]   23
851  [9, 4, 2, 8, 5, 3, 7, 1, 6]   23
852  [9, 4, 3, 7, 2, 6, 8, 5, 1]   23
853  [9, 4, 3, 7, 2, 6, 8, 1, 5]   23
854  [9, 4, 3, 7, 6, 2, 8, 5, 1]   23
855  [9, 4, 3, 7, 6, 2, 8, 1, 5]   23
856  [9, 5, 1, 8, 2, 6, 7, 4, 3]   23
857  [9, 5, 1, 8, 2, 6, 7, 3, 4]   23
858  [9, 5, 1, 8, 6, 2, 7, 4, 3]   23
859  [9, 5, 1, 8, 6, 2, 7, 3, 4]   23
860  [9, 6, 1, 7, 3, 5, 8, 4, 2]   23
861  [9, 6, 1, 7, 3, 5, 8, 2, 4]   23
862  [9, 6, 1, 7, 5, 3, 8, 4, 2]   23
863  [9, 6, 1, 7, 5, 3, 8, 2, 4]   23

[864 rows x 2 columns]

In [69]:
?permutations()

Object `permutations()` not found.

In [104]:
factorial(16)

20922789888000

In [20]:
#5-1
solve2(range(1,10),[[0,1,2,3],[3,4,5,6],[3,7,8]])

[[0, 1, 2, 3], [3, 4, 5, 6], [3, 7, 8]]
[]
[[0, 1, 2, 3], [4, 5, 6], [8, 7]]
5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

                        solution  sum
0    [1, 4, 9, 3, 2, 5, 7, 6, 8]   17
1    [1, 4, 9, 3, 2, 5, 7, 8, 6]   17
2    [1, 4, 9, 3, 2, 7, 5, 6, 8]   17
3    [1, 4, 9, 3, 2, 7, 5, 8, 6]   17
4    [1, 4, 9, 3, 5, 2, 7, 6, 8]   17
5    [1, 4, 9, 3, 5, 2, 7, 8, 6]   17
6    [1, 4, 9, 3, 5, 7, 2, 6, 8]   17
7    [1, 4, 9, 3, 5, 7, 2, 8, 6]   17
8    [1, 4, 9, 3, 7, 2, 5, 6, 8]   17
9    [1, 4, 9, 3, 7, 2, 5, 8, 6]   17
10   [1, 4, 9, 3, 7, 5, 2, 6, 8]   17
11   [1, 4, 9, 3, 7, 5, 2, 8, 6]   17
12   [1, 6, 7, 3, 2, 4, 8, 5, 9]   17
13   [1, 6, 7, 3, 2, 4, 8, 9, 5]   17
14   [1, 6, 7, 3, 2, 8, 4, 5, 9]   17
15   [1, 6, 7, 3, 2, 8, 4, 9, 5]   17
16   [1, 6, 7, 3, 4, 2, 8, 5, 9]   17
17   [1, 6, 7, 3, 4, 2, 8, 9, 5]   17
18   [1, 6, 7, 3, 4, 8, 2, 5, 9]   17
19   [1, 6, 7, 3, 4, 8, 2, 9, 5]   17
20   [1, 6, 7, 3, 8, 2, 4, 5, 9]   17
21   [1, 6, 7, 3, 8, 2, 4, 9, 5]   17
22   [1, 6, 7, 3, 8, 4, 2, 5, 9]   17
23   [1, 6, 7, 3, 8, 4, 2, 9, 5]   17
24   [1, 7, 6, 3, 2, 4, 8, 5, 9]   17
25   [1, 7, 6, 3, 2, 4, 8, 9, 5]   17
26   [1, 7, 6, 3, 2, 8, 4, 5, 9]   17
27   [1, 7, 6, 3, 2, 8, 4, 9, 5]   17
28   [1, 7, 6, 3, 4, 2, 8, 5, 9]   17
29   [1, 7, 6, 3, 4, 2, 8, 9, 5]   17
30   [1, 7, 6, 3, 4, 8, 2, 5, 9]   17
31   [1, 7, 6, 3, 4, 8, 2, 9, 5]   17
32   [1, 7, 6, 3, 8, 2, 4, 5, 9]   17
33   [1, 7, 6, 3, 8, 2, 4, 9, 5]   17
34   [1, 7, 6, 3, 8, 4, 2, 5, 9]   17
35   [1, 7, 6, 3, 8, 4, 2, 9, 5]   17
36   [1, 9, 4, 3, 2, 5, 7, 6, 8]   17
37   [1, 9, 4, 3, 2, 5, 7, 8, 6]   17
38   [1, 9, 4, 3, 2, 7, 5, 6, 8]   17
39   [1, 9, 4, 3, 2, 7, 5, 8, 6]   17
40   [1, 9, 4, 3, 5, 2, 7, 6, 8]   17
41   [1, 9, 4, 3, 5, 2, 7, 8, 6]   17
42   [1, 9, 4, 3, 5, 7, 2, 6, 8]   17
43   [1, 9, 4, 3, 5, 7, 2, 8, 6]   17
44   [1, 9, 4, 3, 7, 2, 5, 6, 8]   17
45   [1, 9, 4, 3, 7, 2, 5, 8, 6]   17
46   [1, 9, 4, 3, 7, 5, 2, 6, 8]   17
47   [1, 9, 4, 3, 7, 5, 2, 8, 6]   17
48   [2, 4, 8, 3, 1, 6, 7, 5, 9]   17
49   [2, 4, 8, 3, 1, 6, 7, 9, 5]   17
50   [2, 4, 8, 3, 1, 7, 6, 5, 9]   17
51   [2, 4, 8, 3, 1, 7, 6, 9, 5]   17
52   [2, 4, 8, 3, 6, 1, 7, 5, 9]   17
53   [2, 4, 8, 3, 6, 1, 7, 9, 5]   17
54   [2, 4, 8, 3, 6, 7, 1, 5, 9]   17
55   [2, 4, 8, 3, 6, 7, 1, 9, 5]   17
56   [2, 4, 8, 3, 7, 1, 6, 5, 9]   17
57   [2, 4, 8, 3, 7, 1, 6, 9, 5]   17
58   [2, 4, 8, 3, 7, 6, 1, 5, 9]   17
59   [2, 4, 8, 3, 7, 6, 1, 9, 5]   17
60   [2, 5, 7, 3, 1, 4, 9, 6, 8]   17
61   [2, 5, 7, 3, 1, 4, 9, 8, 6]   17
62   [2, 5, 7, 3, 1, 9, 4, 6, 8]   17
63   [2, 5, 7, 3, 1, 9, 4, 8, 6]   17
64   [2, 5, 7, 3, 4, 1, 9, 6, 8]   17
65   [2, 5, 7, 3, 4, 1, 9, 8, 6]   17
66   [2, 5, 7, 3, 4, 9, 1, 6, 8]   17
67   [2, 5, 7, 3, 4, 9, 1, 8, 6]   17
68   [2, 5, 7, 3, 9, 1, 4, 6, 8]   17
69   [2, 5, 7, 3, 9, 1, 4, 8, 6]   17
70   [2, 5, 7, 3, 9, 4, 1, 6, 8]   17
71   [2, 5, 7, 3, 9, 4, 1, 8, 6]   17
72   [2, 7, 5, 3, 1, 4, 9, 6, 8]   17
73   [2, 7, 5, 3, 1, 4, 9, 8, 6]   17
74   [2, 7, 5, 3, 1, 9, 4, 6, 8]   17
75   [2, 7, 5, 3, 1, 9, 4, 8, 6]   17
76   [2, 7, 5, 3, 4, 1, 9, 6, 8]   17
77   [2, 7, 5, 3, 4, 1, 9, 8, 6]   17
78   [2, 7, 5, 3, 4, 9, 1, 6, 8]   17
79   [2, 7, 5, 3, 4, 9, 1, 8, 6]   17
80   [2, 7, 5, 3, 9, 1, 4, 6, 8]   17
81   [2, 7, 5, 3, 9, 1, 4, 8, 6]   17
82   [2, 7, 5, 3, 9, 4, 1, 6, 8]   17
83   [2, 7, 5, 3, 9, 4, 1, 8, 6]   17
84   [2, 8, 4, 3, 1, 6, 7, 5, 9]   17
85   [2, 8, 4, 3, 1, 6, 7, 9, 5]   17
86   [2, 8, 4, 3, 1, 7, 6, 5, 9]   17
87   [2, 8, 4, 3, 1, 7, 6, 9, 5]   17
88   [2, 8, 4, 3, 6, 1, 7, 5, 9]   17
89   [2, 8, 4, 3, 6, 1, 7, 9, 5]   17
90   [2, 8, 4, 3, 6, 7, 1, 5, 9]   17
91   [2, 8, 4, 3, 6, 7, 1, 9, 5]   17
92   [2, 8, 4, 3, 7, 1, 6, 5, 9]   17
93   [2, 8, 4, 3, 7, 1, 6, 9, 5]   17
94   [2, 8, 4, 3, 7, 6, 1, 5, 9]   17
95   [2, 8, 4, 3, 7, 6, 1, 9, 5]   17
96   [4, 1, 9, 3, 2, 5, 7, 6, 8]   17
97   [4, 1, 9, 3, 2, 5, 7, 8, 6]   17
98   [4, 1, 9, 3, 2, 7, 5, 6, 8]   17
99   [4, 1, 9, 3, 2, 7, 5, 8, 6]   17
100  [4, 1, 9, 3, 5, 2, 7, 6, 8]   17
101  [4, 1, 9, 3, 5, 2, 7, 8, 6]   17
102  [4, 1, 9, 3, 5, 7, 2, 6, 8]   17
103  [4, 1, 9, 3, 5, 7, 2, 8, 6]   17
104  [4, 1, 9, 3, 7, 2, 5, 6, 8]   17
105  [4, 1, 9, 3, 7, 2, 5, 8, 6]   17
106  [4, 1, 9, 3, 7, 5, 2, 6, 8]   17
107  [4, 1, 9, 3, 7, 5, 2, 8, 6]   17
108  [4, 2, 8, 3, 1, 6, 7, 5, 9]   17
109  [4, 2, 8, 3, 1, 6, 7, 9, 5]   17
110  [4, 2, 8, 3, 1, 7, 6, 5, 9]   17
111  [4, 2, 8, 3, 1, 7, 6, 9, 5]   17
112  [4, 2, 8, 3, 6, 1, 7, 5, 9]   17
113  [4, 2, 8, 3, 6, 1, 7, 9, 5]   17
114  [4, 2, 8, 3, 6, 7, 1, 5, 9]   17
115  [4, 2, 8, 3, 6, 7, 1, 9, 5]   17
116  [4, 2, 8, 3, 7, 1, 6, 5, 9]   17
117  [4, 2, 8, 3, 7, 1, 6, 9, 5]   17
118  [4, 2, 8, 3, 7, 6, 1, 5, 9]   17
119  [4, 2, 8, 3, 7, 6, 1, 9, 5]   17
120  [4, 8, 2, 3, 1, 6, 7, 5, 9]   17
121  [4, 8, 2, 3, 1, 6, 7, 9, 5]   17
122  [4, 8, 2, 3, 1, 7, 6, 5, 9]   17
123  [4, 8, 2, 3, 1, 7, 6, 9, 5]   17
124  [4, 8, 2, 3, 6, 1, 7, 5, 9]   17
125  [4, 8, 2, 3, 6, 1, 7, 9, 5]   17
126  [4, 8, 2, 3, 6, 7, 1, 5, 9]   17
127  [4, 8, 2, 3, 6, 7, 1, 9, 5]   17
128  [4, 8, 2, 3, 7, 1, 6, 5, 9]   17
129  [4, 8, 2, 3, 7, 1, 6, 9, 5]   17
130  [4, 8, 2, 3, 7, 6, 1, 5, 9]   17
131  [4, 8, 2, 3, 7, 6, 1, 9, 5]   17
132  [4, 9, 1, 3, 2, 5, 7, 6, 8]   17
133  [4, 9, 1, 3, 2, 5, 7, 8, 6]   17
134  [4, 9, 1, 3, 2, 7, 5, 6, 8]   17
135  [4, 9, 1, 3, 2, 7, 5, 8, 6]   17
136  [4, 9, 1, 3, 5, 2, 7, 6, 8]   17
137  [4, 9, 1, 3, 5, 2, 7, 8, 6]   17
138  [4, 9, 1, 3, 5, 7, 2, 6, 8]   17
139  [4, 9, 1, 3, 5, 7, 2, 8, 6]   17
140  [4, 9, 1, 3, 7, 2, 5, 6, 8]   17
141  [4, 9, 1, 3, 7, 2, 5, 8, 6]   17
142  [4, 9, 1, 3, 7, 5, 2, 6, 8]   17
143  [4, 9, 1, 3, 7, 5, 2, 8, 6]   17
144  [5, 2, 7, 3, 1, 4, 9, 6, 8]   17
145  [5, 2, 7, 3, 1, 4, 9, 8, 6]   17
146  [5, 2, 7, 3, 1, 9, 4, 6, 8]   17
147  [5, 2, 7, 3, 1, 9, 4, 8, 6]   17
148  [5, 2, 7, 3, 4, 1, 9, 6, 8]   17
149  [5, 2, 7, 3, 4, 1, 9, 8, 6]   17
150  [5, 2, 7, 3, 4, 9, 1, 6, 8]   17
151  [5, 2, 7, 3, 4, 9, 1, 8, 6]   17
152  [5, 2, 7, 3, 9, 1, 4, 6, 8]   17
153  [5, 2, 7, 3, 9, 1, 4, 8, 6]   17
154  [5, 2, 7, 3, 9, 4, 1, 6, 8]   17
155  [5, 2, 7, 3, 9, 4, 1, 8, 6]   17
156  [5, 7, 2, 3, 1, 4, 9, 6, 8]   17
157  [5, 7, 2, 3, 1, 4, 9, 8, 6]   17
158  [5, 7, 2, 3, 1, 9, 4, 6, 8]   17
159  [5, 7, 2, 3, 1, 9, 4, 8, 6]   17
160  [5, 7, 2, 3, 4, 1, 9, 6, 8]   17
161  [5, 7, 2, 3, 4, 1, 9, 8, 6]   17
162  [5, 7, 2, 3, 4, 9, 1, 6, 8]   17
163  [5, 7, 2, 3, 4, 9, 1, 8, 6]   17
164  [5, 7, 2, 3, 9, 1, 4, 6, 8]   17
165  [5, 7, 2, 3, 9, 1, 4, 8, 6]   17
166  [5, 7, 2, 3, 9, 4, 1, 6, 8]   17
167  [5, 7, 2, 3, 9, 4, 1, 8, 6]   17
168  [6, 1, 7, 3, 2, 4, 8, 5, 9]   17
169  [6, 1, 7, 3, 2, 4, 8, 9, 5]   17
170  [6, 1, 7, 3, 2, 8, 4, 5, 9]   17
171  [6, 1, 7, 3, 2, 8, 4, 9, 5]   17
172  [6, 1, 7, 3, 4, 2, 8, 5, 9]   17
173  [6, 1, 7, 3, 4, 2, 8, 9, 5]   17
174  [6, 1, 7, 3, 4, 8, 2, 5, 9]   17
175  [6, 1, 7, 3, 4, 8, 2, 9, 5]   17
176  [6, 1, 7, 3, 8, 2, 4, 5, 9]   17
177  [6, 1, 7, 3, 8, 2, 4, 9, 5]   17
178  [6, 1, 7, 3, 8, 4, 2, 5, 9]   17
179  [6, 1, 7, 3, 8, 4, 2, 9, 5]   17
180  [6, 7, 1, 3, 2, 4, 8, 5, 9]   17
181  [6, 7, 1, 3, 2, 4, 8, 9, 5]   17
182  [6, 7, 1, 3, 2, 8, 4, 5, 9]   17
183  [6, 7, 1, 3, 2, 8, 4, 9, 5]   17
184  [6, 7, 1, 3, 4, 2, 8, 5, 9]   17
185  [6, 7, 1, 3, 4, 2, 8, 9, 5]   17
186  [6, 7, 1, 3, 4, 8, 2, 5, 9]   17
187  [6, 7, 1, 3, 4, 8, 2, 9, 5]   17
188  [6, 7, 1, 3, 8, 2, 4, 5, 9]   17
189  [6, 7, 1, 3, 8, 2, 4, 9, 5]   17
190  [6, 7, 1, 3, 8, 4, 2, 5, 9]   17
191  [6, 7, 1, 3, 8, 4, 2, 9, 5]   17
192  [7, 1, 6, 3, 2, 4, 8, 5, 9]   17
193  [7, 1, 6, 3, 2, 4, 8, 9, 5]   17
194  [7, 1, 6, 3, 2, 8, 4, 5, 9]   17
195  [7, 1, 6, 3, 2, 8, 4, 9, 5]   17
196  [7, 1, 6, 3, 4, 2, 8, 5, 9]   17
197  [7, 1, 6, 3, 4, 2, 8, 9, 5]   17
198  [7, 1, 6, 3, 4, 8, 2, 5, 9]   17
199  [7, 1, 6, 3, 4, 8, 2, 9, 5]   17
200  [7, 1, 6, 3, 8, 2, 4, 5, 9]   17
201  [7, 1, 6, 3, 8, 2, 4, 9, 5]   17
202  [7, 1, 6, 3, 8, 4, 2, 5, 9]   17
203  [7, 1, 6, 3, 8, 4, 2, 9, 5]   17
204  [7, 2, 5, 3, 1, 4, 9, 6, 8]   17
205  [7, 2, 5, 3, 1, 4, 9, 8, 6]   17
206  [7, 2, 5, 3, 1, 9, 4, 6, 8]   17
207  [7, 2, 5, 3, 1, 9, 4, 8, 6]   17
208  [7, 2, 5, 3, 4, 1, 9, 6, 8]   17
209  [7, 2, 5, 3, 4, 1, 9, 8, 6]   17
210  [7, 2, 5, 3, 4, 9, 1, 6, 8]   17
211  [7, 2, 5, 3, 4, 9, 1, 8, 6]   17
212  [7, 2, 5, 3, 9, 1, 4, 6, 8]   17
213  [7, 2, 5, 3, 9, 1, 4, 8, 6]   17
214  [7, 2, 5, 3, 9, 4, 1, 6, 8]   17
215  [7, 2, 5, 3, 9, 4, 1, 8, 6]   17
216  [7, 5, 2, 3, 1, 4, 9, 6, 8]   17
217  [7, 5, 2, 3, 1, 4, 9, 8, 6]   17
218  [7, 5, 2, 3, 1, 9, 4, 6, 8]   17
219  [7, 5, 2, 3, 1, 9, 4, 8, 6]   17
220  [7, 5, 2, 3, 4, 1, 9, 6, 8]   17
221  [7, 5, 2, 3, 4, 1, 9, 8, 6]   17
222  [7, 5, 2, 3, 4, 9, 1, 6, 8]   17
223  [7, 5, 2, 3, 4, 9, 1, 8, 6]   17
224  [7, 5, 2, 3, 9, 1, 4, 6, 8]   17
225  [7, 5, 2, 3, 9, 1, 4, 8, 6]   17
226  [7, 5, 2, 3, 9, 4, 1, 6, 8]   17
227  [7, 5, 2, 3, 9, 4, 1, 8, 6]   17
228  [7, 6, 1, 3, 2, 4, 8, 5, 9]   17
229  [7, 6, 1, 3, 2, 4, 8, 9, 5]   17
230  [7, 6, 1, 3, 2, 8, 4, 5, 9]   17
231  [7, 6, 1, 3, 2, 8, 4, 9, 5]   17
232  [7, 6, 1, 3, 4, 2, 8, 5, 9]   17
233  [7, 6, 1, 3, 4, 2, 8, 9, 5]   17
234  [7, 6, 1, 3, 4, 8, 2, 5, 9]   17
235  [7, 6, 1, 3, 4, 8, 2, 9, 5]   17
236  [7, 6, 1, 3, 8, 2, 4, 5, 9]   17
237  [7, 6, 1, 3, 8, 2, 4, 9, 5]   17
238  [7, 6, 1, 3, 8, 4, 2, 5, 9]   17
239  [7, 6, 1, 3, 8, 4, 2, 9, 5]   17
240  [8, 2, 4, 3, 1, 6, 7, 5, 9]   17
241  [8, 2, 4, 3, 1, 6, 7, 9, 5]   17
242  [8, 2, 4, 3, 1, 7, 6, 5, 9]   17
243  [8, 2, 4, 3, 1, 7, 6, 9, 5]   17
244  [8, 2, 4, 3, 6, 1, 7, 5, 9]   17
245  [8, 2, 4, 3, 6, 1, 7, 9, 5]   17
246  [8, 2, 4, 3, 6, 7, 1, 5, 9]   17
247  [8, 2, 4, 3, 6, 7, 1, 9, 5]   17
248  [8, 2, 4, 3, 7, 1, 6, 5, 9]   17
249  [8, 2, 4, 3, 7, 1, 6, 9, 5]   17
250  [8, 2, 4, 3, 7, 6, 1, 5, 9]   17
251  [8, 2, 4, 3, 7, 6, 1, 9, 5]   17
252  [8, 4, 2, 3, 1, 6, 7, 5, 9]   17
253  [8, 4, 2, 3, 1, 6, 7, 9, 5]   17
254  [8, 4, 2, 3, 1, 7, 6, 5, 9]   17
255  [8, 4, 2, 3, 1, 7, 6, 9, 5]   17
256  [8, 4, 2, 3, 6, 1, 7, 5, 9]   17
257  [8, 4, 2, 3, 6, 1, 7, 9, 5]   17
258  [8, 4, 2, 3, 6, 7, 1, 5, 9]   17
259  [8, 4, 2, 3, 6, 7, 1, 9, 5]   17
260  [8, 4, 2, 3, 7, 1, 6, 5, 9]   17
261  [8, 4, 2, 3, 7, 1, 6, 9, 5]   17
262  [8, 4, 2, 3, 7, 6, 1, 5, 9]   17
263  [8, 4, 2, 3, 7, 6, 1, 9, 5]   17
264  [9, 1, 4, 3, 2, 5, 7, 6, 8]   17
265  [9, 1, 4, 3, 2, 5, 7, 8, 6]   17
266  [9, 1, 4, 3, 2, 7, 5, 6, 8]   17
267  [9, 1, 4, 3, 2, 7, 5, 8, 6]   17
268  [9, 1, 4, 3, 5, 2, 7, 6, 8]   17
269  [9, 1, 4, 3, 5, 2, 7, 8, 6]   17
270  [9, 1, 4, 3, 5, 7, 2, 6, 8]   17
271  [9, 1, 4, 3, 5, 7, 2, 8, 6]   17
272  [9, 1, 4, 3, 7, 2, 5, 6, 8]   17
273  [9, 1, 4, 3, 7, 2, 5, 8, 6]   17
274  [9, 1, 4, 3, 7, 5, 2, 6, 8]   17
275  [9, 1, 4, 3, 7, 5, 2, 8, 6]   17
276  [9, 4, 1, 3, 2, 5, 7, 6, 8]   17
277  [9, 4, 1, 3, 2, 5, 7, 8, 6]   17
278  [9, 4, 1, 3, 2, 7, 5, 6, 8]   17
279  [9, 4, 1, 3, 2, 7, 5, 8, 6]   17
280  [9, 4, 1, 3, 5, 2, 7, 6, 8]   17
281  [9, 4, 1, 3, 5, 2, 7, 8, 6]   17
282  [9, 4, 1, 3, 5, 7, 2, 6, 8]   17
283  [9, 4, 1, 3, 5, 7, 2, 8, 6]   17
284  [9, 4, 1, 3, 7, 2, 5, 6, 8]   17
285  [9, 4, 1, 3, 7, 2, 5, 8, 6]   17
286  [9, 4, 1, 3, 7, 5, 2, 6, 8]   17
287  [9, 4, 1, 3, 7, 5, 2, 8, 6]   17
288  [1, 3, 9, 6, 2, 4, 7, 5, 8]   19
289  [1, 3, 9, 6, 2, 4, 7, 8, 5]   19
290  [1, 3, 9, 6, 2, 7, 4, 5, 8]   19
291  [1, 3, 9, 6, 2, 7, 4, 8, 5]   19
292  [1, 3, 9, 6, 4, 2, 7, 5, 8]   19
293  [1, 3, 9, 6, 4, 2, 7, 8, 5]   19
294  [1, 3, 9, 6, 4, 7, 2, 5, 8]   19
295  [1, 3, 9, 6, 4, 7, 2, 8, 5]   19
296  [1, 3, 9, 6, 7, 2, 4, 5, 8]   19
297  [1, 3, 9, 6, 7, 2, 4, 8, 5]   19
298  [1, 3, 9, 6, 7, 4, 2, 5, 8]   19
299  [1, 3, 9, 6, 7, 4, 2, 8, 5]   19
300  [1, 5, 7, 6, 2, 3, 8, 4, 9]   19
301  [1, 5, 7, 6, 2, 3, 8, 9, 4]   19
302  [1, 5, 7, 6, 2, 8, 3, 4, 9]   19
303  [1, 5, 7, 6, 2, 8, 3, 9, 4]   19
304  [1, 5, 7, 6, 3, 2, 8, 4, 9]   19
305  [1, 5, 7, 6, 3, 2, 8, 9, 4]   19
306  [1, 5, 7, 6, 3, 8, 2, 4, 9]   19
307  [1, 5, 7, 6, 3, 8, 2, 9, 4]   19
308  [1, 5, 7, 6, 8, 2, 3, 4, 9]   19
309  [1, 5, 7, 6, 8, 2, 3, 9, 4]   19
310  [1, 5, 7, 6, 8, 3, 2, 4, 9]   19
311  [1, 5, 7, 6, 8, 3, 2, 9, 4]   19
312  [1, 7, 5, 6, 2, 3, 8, 4, 9]   19
313  [1, 7, 5, 6, 2, 3, 8, 9, 4]   19
314  [1, 7, 5, 6, 2, 8, 3, 4, 9]   19
315  [1, 7, 5, 6, 2, 8, 3, 9, 4]   19
316  [1, 7, 5, 6, 3, 2, 8, 4, 9]   19
317  [1, 7, 5, 6, 3, 2, 8, 9, 4]   19
318  [1, 7, 5, 6, 3, 8, 2, 4, 9]   19
319  [1, 7, 5, 6, 3, 8, 2, 9, 4]   19
320  [1, 7, 5, 6, 8, 2, 3, 4, 9]   19
321  [1, 7, 5, 6, 8, 2, 3, 9, 4]   19
322  [1, 7, 5, 6, 8, 3, 2, 4, 9]   19
323  [1, 7, 5, 6, 8, 3, 2, 9, 4]   19
324  [1, 9, 3, 6, 2, 4, 7, 5, 8]   19
325  [1, 9, 3, 6, 2, 4, 7, 8, 5]   19
326  [1, 9, 3, 6, 2, 7, 4, 5, 8]   19
327  [1, 9, 3, 6, 2, 7, 4, 8, 5]   19
328  [1, 9, 3, 6, 4, 2, 7, 5, 8]   19
329  [1, 9, 3, 6, 4, 2, 7, 8, 5]   19
330  [1, 9, 3, 6, 4, 7, 2, 5, 8]   19
331  [1, 9, 3, 6, 4, 7, 2, 8, 5]   19
332  [1, 9, 3, 6, 7, 2, 4, 5, 8]   19
333  [1, 9, 3, 6, 7, 2, 4, 8, 5]   19
334  [1, 9, 3, 6, 7, 4, 2, 5, 8]   19
335  [1, 9, 3, 6, 7, 4, 2, 8, 5]   19
336  [2, 3, 8, 6, 1, 5, 7, 4, 9]   19
337  [2, 3, 8, 6, 1, 5, 7, 9, 4]   19
338  [2, 3, 8, 6, 1, 7, 5, 4, 9]   19
339  [2, 3, 8, 6, 1, 7, 5, 9, 4]   19
340  [2, 3, 8, 6, 5, 1, 7, 4, 9]   19
341  [2, 3, 8, 6, 5, 1, 7, 9, 4]   19
342  [2, 3, 8, 6, 5, 7, 1, 4, 9]   19
343  [2, 3, 8, 6, 5, 7, 1, 9, 4]   19
344  [2, 3, 8, 6, 7, 1, 5, 4, 9]   19
345  [2, 3, 8, 6, 7, 1, 5, 9, 4]   19
346  [2, 3, 8, 6, 7, 5, 1, 4, 9]   19
347  [2, 3, 8, 6, 7, 5, 1, 9, 4]   19
348  [2, 4, 7, 6, 1, 3, 9, 5, 8]   19
349  [2, 4, 7, 6, 1, 3, 9, 8, 5]   19
350  [2, 4, 7, 6, 1, 9, 3, 5, 8]   19
351  [2, 4, 7, 6, 1, 9, 3, 8, 5]   19
352  [2, 4, 7, 6, 3, 1, 9, 5, 8]   19
353  [2, 4, 7, 6, 3, 1, 9, 8, 5]   19
354  [2, 4, 7, 6, 3, 9, 1, 5, 8]   19
355  [2, 4, 7, 6, 3, 9, 1, 8, 5]   19
356  [2, 4, 7, 6, 9, 1, 3, 5, 8]   19
357  [2, 4, 7, 6, 9, 1, 3, 8, 5]   19
358  [2, 4, 7, 6, 9, 3, 1, 5, 8]   19
359  [2, 4, 7, 6, 9, 3, 1, 8, 5]   19
360  [2, 7, 4, 6, 1, 3, 9, 5, 8]   19
361  [2, 7, 4, 6, 1, 3, 9, 8, 5]   19
362  [2, 7, 4, 6, 1, 9, 3, 5, 8]   19
363  [2, 7, 4, 6, 1, 9, 3, 8, 5]   19
364  [2, 7, 4, 6, 3, 1, 9, 5, 8]   19
365  [2, 7, 4, 6, 3, 1, 9, 8, 5]   19
366  [2, 7, 4, 6, 3, 9, 1, 5, 8]   19
367  [2, 7, 4, 6, 3, 9, 1, 8, 5]   19
368  [2, 7, 4, 6, 9, 1, 3, 5, 8]   19
369  [2, 7, 4, 6, 9, 1, 3, 8, 5]   19
370  [2, 7, 4, 6, 9, 3, 1, 5, 8]   19
371  [2, 7, 4, 6, 9, 3, 1, 8, 5]   19
372  [2, 8, 3, 6, 1, 5, 7, 4, 9]   19
373  [2, 8, 3, 6, 1, 5, 7, 9, 4]   19
374  [2, 8, 3, 6, 1, 7, 5, 4, 9]   19
375  [2, 8, 3, 6, 1, 7, 5, 9, 4]   19
376  [2, 8, 3, 6, 5, 1, 7, 4, 9]   19
377  [2, 8, 3, 6, 5, 1, 7, 9, 4]   19
378  [2, 8, 3, 6, 5, 7, 1, 4, 9]   19
379  [2, 8, 3, 6, 5, 7, 1, 9, 4]   19
380  [2, 8, 3, 6, 7, 1, 5, 4, 9]   19
381  [2, 8, 3, 6, 7, 1, 5, 9, 4]   19
382  [2, 8, 3, 6, 7, 5, 1, 4, 9]   19
383  [2, 8, 3, 6, 7, 5, 1, 9, 4]   19
384  [3, 1, 9, 6, 2, 4, 7, 5, 8]   19
385  [3, 1, 9, 6, 2, 4, 7, 8, 5]   19
386  [3, 1, 9, 6, 2, 7, 4, 5, 8]   19
387  [3, 1, 9, 6, 2, 7, 4, 8, 5]   19
388  [3, 1, 9, 6, 4, 2, 7, 5, 8]   19
389  [3, 1, 9, 6, 4, 2, 7, 8, 5]   19
390  [3, 1, 9, 6, 4, 7, 2, 5, 8]   19
391  [3, 1, 9, 6, 4, 7, 2, 8, 5]   19
392  [3, 1, 9, 6, 7, 2, 4, 5, 8]   19
393  [3, 1, 9, 6, 7, 2, 4, 8, 5]   19
394  [3, 1, 9, 6, 7, 4, 2, 5, 8]   19
395  [3, 1, 9, 6, 7, 4, 2, 8, 5]   19
396  [3, 2, 8, 6, 1, 5, 7, 4, 9]   19
397  [3, 2, 8, 6, 1, 5, 7, 9, 4]   19
398  [3, 2, 8, 6, 1, 7, 5, 4, 9]   19
399  [3, 2, 8, 6, 1, 7, 5, 9, 4]   19
400  [3, 2, 8, 6, 5, 1, 7, 4, 9]   19
401  [3, 2, 8, 6, 5, 1, 7, 9, 4]   19
402  [3, 2, 8, 6, 5, 7, 1, 4, 9]   19
403  [3, 2, 8, 6, 5, 7, 1, 9, 4]   19
404  [3, 2, 8, 6, 7, 1, 5, 4, 9]   19
405  [3, 2, 8, 6, 7, 1, 5, 9, 4]   19
406  [3, 2, 8, 6, 7, 5, 1, 4, 9]   19
407  [3, 2, 8, 6, 7, 5, 1, 9, 4]   19
408  [3, 8, 2, 6, 1, 5, 7, 4, 9]   19
409  [3, 8, 2, 6, 1, 5, 7, 9, 4]   19
410  [3, 8, 2, 6, 1, 7, 5, 4, 9]   19
411  [3, 8, 2, 6, 1, 7, 5, 9, 4]   19
412  [3, 8, 2, 6, 5, 1, 7, 4, 9]   19
413  [3, 8, 2, 6, 5, 1, 7, 9, 4]   19
414  [3, 8, 2, 6, 5, 7, 1, 4, 9]   19
415  [3, 8, 2, 6, 5, 7, 1, 9, 4]   19
416  [3, 8, 2, 6, 7, 1, 5, 4, 9]   19
417  [3, 8, 2, 6, 7, 1, 5, 9, 4]   19
418  [3, 8, 2, 6, 7, 5, 1, 4, 9]   19
419  [3, 8, 2, 6, 7, 5, 1, 9, 4]   19
420  [3, 9, 1, 6, 2, 4, 7, 5, 8]   19
421  [3, 9, 1, 6, 2, 4, 7, 8, 5]   19
422  [3, 9, 1, 6, 2, 7, 4, 5, 8]   19
423  [3, 9, 1, 6, 2, 7, 4, 8, 5]   19
424  [3, 9, 1, 6, 4, 2, 7, 5, 8]   19
425  [3, 9, 1, 6, 4, 2, 7, 8, 5]   19
426  [3, 9, 1, 6, 4, 7, 2, 5, 8]   19
427  [3, 9, 1, 6, 4, 7, 2, 8, 5]   19
428  [3, 9, 1, 6, 7, 2, 4, 5, 8]   19
429  [3, 9, 1, 6, 7, 2, 4, 8, 5]   19
430  [3, 9, 1, 6, 7, 4, 2, 5, 8]   19
431  [3, 9, 1, 6, 7, 4, 2, 8, 5]   19
432  [4, 2, 7, 6, 1, 3, 9, 5, 8]   19
433  [4, 2, 7, 6, 1, 3, 9, 8, 5]   19
434  [4, 2, 7, 6, 1, 9, 3, 5, 8]   19
435  [4, 2, 7, 6, 1, 9, 3, 8, 5]   19
436  [4, 2, 7, 6, 3, 1, 9, 5, 8]   19
437  [4, 2, 7, 6, 3, 1, 9, 8, 5]   19
438  [4, 2, 7, 6, 3, 9, 1, 5, 8]   19
439  [4, 2, 7, 6, 3, 9, 1, 8, 5]   19
440  [4, 2, 7, 6, 9, 1, 3, 5, 8]   19
441  [4, 2, 7, 6, 9, 1, 3, 8, 5]   19
442  [4, 2, 7, 6, 9, 3, 1, 5, 8]   19
443  [4, 2, 7, 6, 9, 3, 1, 8, 5]   19
444  [4, 7, 2, 6, 1, 3, 9, 5, 8]   19
445  [4, 7, 2, 6, 1, 3, 9, 8, 5]   19
446  [4, 7, 2, 6, 1, 9, 3, 5, 8]   19
447  [4, 7, 2, 6, 1, 9, 3, 8, 5]   19
448  [4, 7, 2, 6, 3, 1, 9, 5, 8]   19
449  [4, 7, 2, 6, 3, 1, 9, 8, 5]   19
450  [4, 7, 2, 6, 3, 9, 1, 5, 8]   19
451  [4, 7, 2, 6, 3, 9, 1, 8, 5]   19
452  [4, 7, 2, 6, 9, 1, 3, 5, 8]   19
453  [4, 7, 2, 6, 9, 1, 3, 8, 5]   19
454  [4, 7, 2, 6, 9, 3, 1, 5, 8]   19
455  [4, 7, 2, 6, 9, 3, 1, 8, 5]   19
456  [5, 1, 7, 6, 2, 3, 8, 4, 9]   19
457  [5, 1, 7, 6, 2, 3, 8, 9, 4]   19
458  [5, 1, 7, 6, 2, 8, 3, 4, 9]   19
459  [5, 1, 7, 6, 2, 8, 3, 9, 4]   19
460  [5, 1, 7, 6, 3, 2, 8, 4, 9]   19
461  [5, 1, 7, 6, 3, 2, 8, 9, 4]   19
462  [5, 1, 7, 6, 3, 8, 2, 4, 9]   19
463  [5, 1, 7, 6, 3, 8, 2, 9, 4]   19
464  [5, 1, 7, 6, 8, 2, 3, 4, 9]   19
465  [5, 1, 7, 6, 8, 2, 3, 9, 4]   19
466  [5, 1, 7, 6, 8, 3, 2, 4, 9]   19
467  [5, 1, 7, 6, 8, 3, 2, 9, 4]   19
468  [5, 7, 1, 6, 2, 3, 8, 4, 9]   19
469  [5, 7, 1, 6, 2, 3, 8, 9, 4]   19
470  [5, 7, 1, 6, 2, 8, 3, 4, 9]   19
471  [5, 7, 1, 6, 2, 8, 3, 9, 4]   19
472  [5, 7, 1, 6, 3, 2, 8, 4, 9]   19
473  [5, 7, 1, 6, 3, 2, 8, 9, 4]   19
474  [5, 7, 1, 6, 3, 8, 2, 4, 9]   19
475  [5, 7, 1, 6, 3, 8, 2, 9, 4]   19
476  [5, 7, 1, 6, 8, 2, 3, 4, 9]   19
477  [5, 7, 1, 6, 8, 2, 3, 9, 4]   19
478  [5, 7, 1, 6, 8, 3, 2, 4, 9]   19
479  [5, 7, 1, 6, 8, 3, 2, 9, 4]   19
480  [7, 1, 5, 6, 2, 3, 8, 4, 9]   19
481  [7, 1, 5, 6, 2, 3, 8, 9, 4]   19
482  [7, 1, 5, 6, 2, 8, 3, 4, 9]   19
483  [7, 1, 5, 6, 2, 8, 3, 9, 4]   19
484  [7, 1, 5, 6, 3, 2, 8, 4, 9]   19
485  [7, 1, 5, 6, 3, 2, 8, 9, 4]   19
486  [7, 1, 5, 6, 3, 8, 2, 4, 9]   19
487  [7, 1, 5, 6, 3, 8, 2, 9, 4]   19
488  [7, 1, 5, 6, 8, 2, 3, 4, 9]   19
489  [7, 1, 5, 6, 8, 2, 3, 9, 4]   19
490  [7, 1, 5, 6, 8, 3, 2, 4, 9]   19
491  [7, 1, 5, 6, 8, 3, 2, 9, 4]   19
492  [7, 2, 4, 6, 1, 3, 9, 5, 8]   19
493  [7, 2, 4, 6, 1, 3, 9, 8, 5]   19
494  [7, 2, 4, 6, 1, 9, 3, 5, 8]   19
495  [7, 2, 4, 6, 1, 9, 3, 8, 5]   19
496  [7, 2, 4, 6, 3, 1, 9, 5, 8]   19
497  [7, 2, 4, 6, 3, 1, 9, 8, 5]   19
498  [7, 2, 4, 6, 3, 9, 1, 5, 8]   19
499  [7, 2, 4, 6, 3, 9, 1, 8, 5]   19
500  [7, 2, 4, 6, 9, 1, 3, 5, 8]   19
501  [7, 2, 4, 6, 9, 1, 3, 8, 5]   19
502  [7, 2, 4, 6, 9, 3, 1, 5, 8]   19
503  [7, 2, 4, 6, 9, 3, 1, 8, 5]   19
504  [7, 4, 2, 6, 1, 3, 9, 5, 8]   19
505  [7, 4, 2, 6, 1, 3, 9, 8, 5]   19
506  [7, 4, 2, 6, 1, 9, 3, 5, 8]   19
507  [7, 4, 2, 6, 1, 9, 3, 8, 5]   19
508  [7, 4, 2, 6, 3, 1, 9, 5, 8]   19
509  [7, 4, 2, 6, 3, 1, 9, 8, 5]   19
510  [7, 4, 2, 6, 3, 9, 1, 5, 8]   19
511  [7, 4, 2, 6, 3, 9, 1, 8, 5]   19
512  [7, 4, 2, 6, 9, 1, 3, 5, 8]   19
513  [7, 4, 2, 6, 9, 1, 3, 8, 5]   19
514  [7, 4, 2, 6, 9, 3, 1, 5, 8]   19
515  [7, 4, 2, 6, 9, 3, 1, 8, 5]   19
516  [7, 5, 1, 6, 2, 3, 8, 4, 9]   19
517  [7, 5, 1, 6, 2, 3, 8, 9, 4]   19
518  [7, 5, 1, 6, 2, 8, 3, 4, 9]   19
519  [7, 5, 1, 6, 2, 8, 3, 9, 4]   19
520  [7, 5, 1, 6, 3, 2, 8, 4, 9]   19
521  [7, 5, 1, 6, 3, 2, 8, 9, 4]   19
522  [7, 5, 1, 6, 3, 8, 2, 4, 9]   19
523  [7, 5, 1, 6, 3, 8, 2, 9, 4]   19
524  [7, 5, 1, 6, 8, 2, 3, 4, 9]   19

In [18]:
solve2(range(1,10),[[0,1,2,3],[3,4,5],[5,6,7,8]])

[[0, 1, 2, 3], [3, 4, 5], [5, 6, 7, 8]]
[]
[[0, 1, 2, 3], [4, 5], [8, 6, 7]]
5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

                        solution  sum
0    [1, 4, 6, 7, 9, 2, 3, 5, 8]   18
1    [1, 4, 6, 7, 9, 2, 5, 3, 8]   18
2    [1, 4, 6, 7, 9, 2, 8, 5, 3]   18
3    [1, 4, 6, 7, 9, 2, 5, 8, 3]   18
4    [1, 4, 6, 7, 9, 2, 8, 3, 5]   18
5    [1, 4, 6, 7, 9, 2, 3, 8, 5]   18
6    [1, 4, 7, 6, 9, 3, 2, 5, 8]   18
7    [1, 4, 7, 6, 9, 3, 5, 2, 8]   18
8    [1, 4, 7, 6, 9, 3, 8, 5, 2]   18
9    [1, 4, 7, 6, 9, 3, 5, 8, 2]   18
10   [1, 4, 7, 6, 9, 3, 8, 2, 5]   18
11   [1, 4, 7, 6, 9, 3, 2, 8, 5]   18
12   [1, 6, 4, 7, 9, 2, 3, 5, 8]   18
13   [1, 6, 4, 7, 9, 2, 5, 3, 8]   18
14   [1, 6, 4, 7, 9, 2, 8, 5, 3]   18
15   [1, 6, 4, 7, 9, 2, 5, 8, 3]   18
16   [1, 6, 4, 7, 9, 2, 8, 3, 5]   18
17   [1, 6, 4, 7, 9, 2, 3, 8, 5]   18
18   [1, 6, 7, 4, 9, 5, 2, 3, 8]   18
19   [1, 6, 7, 4, 9, 5, 3, 2, 8]   18
20   [1, 6, 7, 4, 9, 5, 8, 3, 2]   18
21   [1, 6, 7, 4, 9, 5, 3, 8, 2]   18
22   [1, 6, 7, 4, 9, 5, 8, 2, 3]   18
23   [1, 6, 7, 4, 9, 5, 2, 8, 3]   18
24   [1, 7, 4, 6, 9, 3, 2, 5, 8]   18
25   [1, 7, 4, 6, 9, 3, 5, 2, 8]   18
26   [1, 7, 4, 6, 9, 3, 8, 5, 2]   18
27   [1, 7, 4, 6, 9, 3, 5, 8, 2]   18
28   [1, 7, 4, 6, 9, 3, 8, 2, 5]   18
29   [1, 7, 4, 6, 9, 3, 2, 8, 5]   18
30   [1, 7, 6, 4, 9, 5, 2, 3, 8]   18
31   [1, 7, 6, 4, 9, 5, 3, 2, 8]   18
32   [1, 7, 6, 4, 9, 5, 8, 3, 2]   18
33   [1, 7, 6, 4, 9, 5, 3, 8, 2]   18
34   [1, 7, 6, 4, 9, 5, 8, 2, 3]   18
35   [1, 7, 6, 4, 9, 5, 2, 8, 3]   18
36   [2, 3, 5, 8, 9, 1, 6, 7, 4]   18
37   [2, 3, 5, 8, 9, 1, 7, 6, 4]   18
38   [2, 3, 5, 8, 9, 1, 4, 7, 6]   18
39   [2, 3, 5, 8, 9, 1, 7, 4, 6]   18
40   [2, 3, 5, 8, 9, 1, 4, 6, 7]   18
41   [2, 3, 5, 8, 9, 1, 6, 4, 7]   18
42   [2, 3, 8, 5, 9, 4, 6, 7, 1]   18
43   [2, 3, 8, 5, 9, 4, 7, 6, 1]   18
44   [2, 3, 8, 5, 9, 4, 1, 7, 6]   18
45   [2, 3, 8, 5, 9, 4, 7, 1, 6]   18
46   [2, 3, 8, 5, 9, 4, 1, 6, 7]   18
47   [2, 3, 8, 5, 9, 4, 6, 1, 7]   18
48   [2, 5, 3, 8, 9, 1, 6, 7, 4]   18
49   [2, 5, 3, 8, 9, 1, 7, 6, 4]   18
50   [2, 5, 3, 8, 9, 1, 4, 7, 6]   18
51   [2, 5, 3, 8, 9, 1, 7, 4, 6]   18
52   [2, 5, 3, 8, 9, 1, 4, 6, 7]   18
53   [2, 5, 3, 8, 9, 1, 6, 4, 7]   18
54   [2, 5, 8, 3, 9, 6, 4, 7, 1]   18
55   [2, 5, 8, 3, 9, 6, 7, 4, 1]   18
56   [2, 5, 8, 3, 9, 6, 1, 7, 4]   18
57   [2, 5, 8, 3, 9, 6, 7, 1, 4]   18
58   [2, 5, 8, 3, 9, 6, 1, 4, 7]   18
59   [2, 5, 8, 3, 9, 6, 4, 1, 7]   18
60   [2, 8, 3, 5, 9, 4, 6, 7, 1]   18
61   [2, 8, 3, 5, 9, 4, 7, 6, 1]   18
62   [2, 8, 3, 5, 9, 4, 1, 7, 6]   18
63   [2, 8, 3, 5, 9, 4, 7, 1, 6]   18
64   [2, 8, 3, 5, 9, 4, 1, 6, 7]   18
65   [2, 8, 3, 5, 9, 4, 6, 1, 7]   18
66   [2, 8, 5, 3, 9, 6, 4, 7, 1]   18
67   [2, 8, 5, 3, 9, 6, 7, 4, 1]   18
68   [2, 8, 5, 3, 9, 6, 1, 7, 4]   18
69   [2, 8, 5, 3, 9, 6, 7, 1, 4]   18
70   [2, 8, 5, 3, 9, 6, 1, 4, 7]   18
71   [2, 8, 5, 3, 9, 6, 4, 1, 7]   18
72   [3, 2, 5, 8, 9, 1, 6, 7, 4]   18
73   [3, 2, 5, 8, 9, 1, 7, 6, 4]   18
74   [3, 2, 5, 8, 9, 1, 4, 7, 6]   18
75   [3, 2, 5, 8, 9, 1, 7, 4, 6]   18
76   [3, 2, 5, 8, 9, 1, 4, 6, 7]   18
77   [3, 2, 5, 8, 9, 1, 6, 4, 7]   18
78   [3, 2, 8, 5, 9, 4, 6, 7, 1]   18
79   [3, 2, 8, 5, 9, 4, 7, 6, 1]   18
80   [3, 2, 8, 5, 9, 4, 1, 7, 6]   18
81   [3, 2, 8, 5, 9, 4, 7, 1, 6]   18
82   [3, 2, 8, 5, 9, 4, 1, 6, 7]   18
83   [3, 2, 8, 5, 9, 4, 6, 1, 7]   18
84   [3, 5, 2, 8, 9, 1, 6, 7, 4]   18
85   [3, 5, 2, 8, 9, 1, 7, 6, 4]   18
86   [3, 5, 2, 8, 9, 1, 4, 7, 6]   18
87   [3, 5, 2, 8, 9, 1, 7, 4, 6]   18
88   [3, 5, 2, 8, 9, 1, 4, 6, 7]   18
89   [3, 5, 2, 8, 9, 1, 6, 4, 7]   18
90   [3, 5, 8, 2, 9, 7, 4, 6, 1]   18
91   [3, 5, 8, 2, 9, 7, 6, 4, 1]   18
92   [3, 5, 8, 2, 9, 7, 1, 6, 4]   18
93   [3, 5, 8, 2, 9, 7, 6, 1, 4]   18
94   [3, 5, 8, 2, 9, 7, 1, 4, 6]   18
95   [3, 5, 8, 2, 9, 7, 4, 1, 6]   18
96   [3, 8, 2, 5, 9, 4, 6, 7, 1]   18
97   [3, 8, 2, 5, 9, 4, 7, 6, 1]   18
98   [3, 8, 2, 5, 9, 4, 1, 7, 6]   18
99   [3, 8, 2, 5, 9, 4, 7, 1, 6]   18
100  [3, 8, 2, 5, 9, 4, 1, 6, 7]   18
101  [3, 8, 2, 5, 9, 4, 6, 1, 7]   18
102  [3, 8, 5, 2, 9, 7, 4, 6, 1]   18
103  [3, 8, 5, 2, 9, 7, 6, 4, 1]   18
104  [3, 8, 5, 2, 9, 7, 1, 6, 4]   18
105  [3, 8, 5, 2, 9, 7, 6, 1, 4]   18
106  [3, 8, 5, 2, 9, 7, 1, 4, 6]   18
107  [3, 8, 5, 2, 9, 7, 4, 1, 6]   18
108  [4, 1, 6, 7, 9, 2, 3, 5, 8]   18
109  [4, 1, 6, 7, 9, 2, 5, 3, 8]   18
110  [4, 1, 6, 7, 9, 2, 8, 5, 3]   18
111  [4, 1, 6, 7, 9, 2, 5, 8, 3]   18
112  [4, 1, 6, 7, 9, 2, 8, 3, 5]   18
113  [4, 1, 6, 7, 9, 2, 3, 8, 5]   18
114  [4, 1, 7, 6, 9, 3, 2, 5, 8]   18
115  [4, 1, 7, 6, 9, 3, 5, 2, 8]   18
116  [4, 1, 7, 6, 9, 3, 8, 5, 2]   18
117  [4, 1, 7, 6, 9, 3, 5, 8, 2]   18
118  [4, 1, 7, 6, 9, 3, 8, 2, 5]   18
119  [4, 1, 7, 6, 9, 3, 2, 8, 5]   18
120  [4, 6, 1, 7, 9, 2, 3, 5, 8]   18
121  [4, 6, 1, 7, 9, 2, 5, 3, 8]   18
122  [4, 6, 1, 7, 9, 2, 8, 5, 3]   18
123  [4, 6, 1, 7, 9, 2, 5, 8, 3]   18
124  [4, 6, 1, 7, 9, 2, 8, 3, 5]   18
125  [4, 6, 1, 7, 9, 2, 3, 8, 5]   18
126  [4, 6, 7, 1, 9, 8, 3, 5, 2]   18
127  [4, 6, 7, 1, 9, 8, 5, 3, 2]   18
128  [4, 6, 7, 1, 9, 8, 2, 5, 3]   18
129  [4, 6, 7, 1, 9, 8, 5, 2, 3]   18
130  [4, 6, 7, 1, 9, 8, 2, 3, 5]   18
131  [4, 6, 7, 1, 9, 8, 3, 2, 5]   18
132  [4, 7, 1, 6, 9, 3, 2, 5, 8]   18
133  [4, 7, 1, 6, 9, 3, 5, 2, 8]   18
134  [4, 7, 1, 6, 9, 3, 8, 5, 2]   18
135  [4, 7, 1, 6, 9, 3, 5, 8, 2]   18
136  [4, 7, 1, 6, 9, 3, 8, 2, 5]   18
137  [4, 7, 1, 6, 9, 3, 2, 8, 5]   18
138  [4, 7, 6, 1, 9, 8, 3, 5, 2]   18
139  [4, 7, 6, 1, 9, 8, 5, 3, 2]   18
140  [4, 7, 6, 1, 9, 8, 2, 5, 3]   18
141  [4, 7, 6, 1, 9, 8, 5, 2, 3]   18
142  [4, 7, 6, 1, 9, 8, 2, 3, 5]   18
143  [4, 7, 6, 1, 9, 8, 3, 2, 5]   18
144  [5, 2, 3, 8, 9, 1, 6, 7, 4]   18
145  [5, 2, 3, 8, 9, 1, 7, 6, 4]   18
146  [5, 2, 3, 8, 9, 1, 4, 7, 6]   18
147  [5, 2, 3, 8, 9, 1, 7, 4, 6]   18
148  [5, 2, 3, 8, 9, 1, 4, 6, 7]   18
149  [5, 2, 3, 8, 9, 1, 6, 4, 7]   18
150  [5, 2, 8, 3, 9, 6, 4, 7, 1]   18
151  [5, 2, 8, 3, 9, 6, 7, 4, 1]   18
152  [5, 2, 8, 3, 9, 6, 1, 7, 4]   18
153  [5, 2, 8, 3, 9, 6, 7, 1, 4]   18
154  [5, 2, 8, 3, 9, 6, 1, 4, 7]   18
155  [5, 2, 8, 3, 9, 6, 4, 1, 7]   18
156  [5, 3, 2, 8, 9, 1, 6, 7, 4]   18
157  [5, 3, 2, 8, 9, 1, 7, 6, 4]   18
158  [5, 3, 2, 8, 9, 1, 4, 7, 6]   18
159  [5, 3, 2, 8, 9, 1, 7, 4, 6]   18
160  [5, 3, 2, 8, 9, 1, 4, 6, 7]   18
161  [5, 3, 2, 8, 9, 1, 6, 4, 7]   18
162  [5, 3, 8, 2, 9, 7, 4, 6, 1]   18
163  [5, 3, 8, 2, 9, 7, 6, 4, 1]   18
164  [5, 3, 8, 2, 9, 7, 1, 6, 4]   18
165  [5, 3, 8, 2, 9, 7, 6, 1, 4]   18
166  [5, 3, 8, 2, 9, 7, 1, 4, 6]   18
167  [5, 3, 8, 2, 9, 7, 4, 1, 6]   18
168  [5, 8, 2, 3, 9, 6, 4, 7, 1]   18
169  [5, 8, 2, 3, 9, 6, 7, 4, 1]   18
170  [5, 8, 2, 3, 9, 6, 1, 7, 4]   18
171  [5, 8, 2, 3, 9, 6, 7, 1, 4]   18
172  [5, 8, 2, 3, 9, 6, 1, 4, 7]   18
173  [5, 8, 2, 3, 9, 6, 4, 1, 7]   18
174  [5, 8, 3, 2, 9, 7, 4, 6, 1]   18
175  [5, 8, 3, 2, 9, 7, 6, 4, 1]   18
176  [5, 8, 3, 2, 9, 7, 1, 6, 4]   18
177  [5, 8, 3, 2, 9, 7, 6, 1, 4]   18
178  [5, 8, 3, 2, 9, 7, 1, 4, 6]   18
179  [5, 8, 3, 2, 9, 7, 4, 1, 6]   18
180  [6, 1, 4, 7, 9, 2, 3, 5, 8]   18
181  [6, 1, 4, 7, 9, 2, 5, 3, 8]   18
182  [6, 1, 4, 7, 9, 2, 8, 5, 3]   18
183  [6, 1, 4, 7, 9, 2, 5, 8, 3]   18
184  [6, 1, 4, 7, 9, 2, 8, 3, 5]   18
185  [6, 1, 4, 7, 9, 2, 3, 8, 5]   18
186  [6, 1, 7, 4, 9, 5, 2, 3, 8]   18
187  [6, 1, 7, 4, 9, 5, 3, 2, 8]   18
188  [6, 1, 7, 4, 9, 5, 8, 3, 2]   18
189  [6, 1, 7, 4, 9, 5, 3, 8, 2]   18
190  [6, 1, 7, 4, 9, 5, 8, 2, 3]   18
191  [6, 1, 7, 4, 9, 5, 2, 8, 3]   18
192  [6, 4, 1, 7, 9, 2, 3, 5, 8]   18
193  [6, 4, 1, 7, 9, 2, 5, 3, 8]   18
194  [6, 4, 1, 7, 9, 2, 8, 5, 3]   18
195  [6, 4, 1, 7, 9, 2, 5, 8, 3]   18
196  [6, 4, 1, 7, 9, 2, 8, 3, 5]   18
197  [6, 4, 1, 7, 9, 2, 3, 8, 5]   18
198  [6, 4, 7, 1, 9, 8, 3, 5, 2]   18
199  [6, 4, 7, 1, 9, 8, 5, 3, 2]   18
200  [6, 4, 7, 1, 9, 8, 2, 5, 3]   18
201  [6, 4, 7, 1, 9, 8, 5, 2, 3]   18
202  [6, 4, 7, 1, 9, 8, 2, 3, 5]   18
203  [6, 4, 7, 1, 9, 8, 3, 2, 5]   18
204  [6, 7, 1, 4, 9, 5, 2, 3, 8]   18
205  [6, 7, 1, 4, 9, 5, 3, 2, 8]   18
206  [6, 7, 1, 4, 9, 5, 8, 3, 2]   18
207  [6, 7, 1, 4, 9, 5, 3, 8, 2]   18
208  [6, 7, 1, 4, 9, 5, 8, 2, 3]   18
209  [6, 7, 1, 4, 9, 5, 2, 8, 3]   18
210  [6, 7, 4, 1, 9, 8, 3, 5, 2]   18
211  [6, 7, 4, 1, 9, 8, 5, 3, 2]   18
212  [6, 7, 4, 1, 9, 8, 2, 5, 3]   18
213  [6, 7, 4, 1, 9, 8, 5, 2, 3]   18
214  [6, 7, 4, 1, 9, 8, 2, 3, 5]   18
215  [6, 7, 4, 1, 9, 8, 3, 2, 5]   18
216  [7, 1, 4, 6, 9, 3, 2, 5, 8]   18
217  [7, 1, 4, 6, 9, 3, 5, 2, 8]   18
218  [7, 1, 4, 6, 9, 3, 8, 5, 2]   18
219  [7, 1, 4, 6, 9, 3, 5, 8, 2]   18
220  [7, 1, 4, 6, 9, 3, 8, 2, 5]   18
221  [7, 1, 4, 6, 9, 3, 2, 8, 5]   18
222  [7, 1, 6, 4, 9, 5, 2, 3, 8]   18
223  [7, 1, 6, 4, 9, 5, 3, 2, 8]   18
224  [7, 1, 6, 4, 9, 5, 8, 3, 2]   18
225  [7, 1, 6, 4, 9, 5, 3, 8, 2]   18
226  [7, 1, 6, 4, 9, 5, 8, 2, 3]   18
227  [7, 1, 6, 4, 9, 5, 2, 8, 3]   18
228  [7, 4, 1, 6, 9, 3, 2, 5, 8]   18
229  [7, 4, 1, 6, 9, 3, 5, 2, 8]   18
230  [7, 4, 1, 6, 9, 3, 8, 5, 2]   18
231  [7, 4, 1, 6, 9, 3, 5, 8, 2]   18
232  [7, 4, 1, 6, 9, 3, 8, 2, 5]   18
233  [7, 4, 1, 6, 9, 3, 2, 8, 5]   18
234  [7, 4, 6, 1, 9, 8, 3, 5, 2]   18
235  [7, 4, 6, 1, 9, 8, 5, 3, 2]   18
236  [7, 4, 6, 1, 9, 8, 2, 5, 3]   18
237  [7, 4, 6, 1, 9, 8, 5, 2, 3]   18
238  [7, 4, 6, 1, 9, 8, 2, 3, 5]   18
239  [7, 4, 6, 1, 9, 8, 3, 2, 5]   18
240  [7, 6, 1, 4, 9, 5, 2, 3, 8]   18
241  [7, 6, 1, 4, 9, 5, 3, 2, 8]   18
242  [7, 6, 1, 4, 9, 5, 8, 3, 2]   18
243  [7, 6, 1, 4, 9, 5, 3, 8, 2]   18
244  [7, 6, 1, 4, 9, 5, 8, 2, 3]   18
245  [7, 6, 1, 4, 9, 5, 2, 8, 3]   18
246  [7, 6, 4, 1, 9, 8, 3, 5, 2]   18
247  [7, 6, 4, 1, 9, 8, 5, 3, 2]   18
248  [7, 6, 4, 1, 9, 8, 2, 5, 3]   18
249  [7, 6, 4, 1, 9, 8, 5, 2, 3]   18
250  [7, 6, 4, 1, 9, 8, 2, 3, 5]   18
251  [7, 6, 4, 1, 9, 8, 3, 2, 5]   18
252  [8, 2, 3, 5, 9, 4, 6, 7, 1]   18
253  [8, 2, 3, 5, 9, 4, 7, 6, 1]   18
254  [8, 2, 3, 5, 9, 4, 1, 7, 6]   18
255  [8, 2, 3, 5, 9, 4, 7, 1, 6]   18
256  [8, 2, 3, 5, 9, 4, 1, 6, 7]   18
257  [8, 2, 3, 5, 9, 4, 6, 1, 7]   18
258  [8, 2, 5, 3, 9, 6, 4, 7, 1]   18
259  [8, 2, 5, 3, 9, 6, 7, 4, 1]   18
260  [8, 2, 5, 3, 9, 6, 1, 7, 4]   18
261  [8, 2, 5, 3, 9, 6, 7, 1, 4]   18
262  [8, 2, 5, 3, 9, 6, 1, 4, 7]   18
263  [8, 2, 5, 3, 9, 6, 4, 1, 7]   18
264  [8, 3, 2, 5, 9, 4, 6, 7, 1]   18
265  [8, 3, 2, 5, 9, 4, 7, 6, 1]   18
266  [8, 3, 2, 5, 9, 4, 1, 7, 6]   18
267  [8, 3, 2, 5, 9, 4, 7, 1, 6]   18
268  [8, 3, 2, 5, 9, 4, 1, 6, 7]   18
269  [8, 3, 2, 5, 9, 4, 6, 1, 7]   18
270  [8, 3, 5, 2, 9, 7, 4, 6, 1]   18
271  [8, 3, 5, 2, 9, 7, 6, 4, 1]   18
272  [8, 3, 5, 2, 9, 7, 1, 6, 4]   18
273  [8, 3, 5, 2, 9, 7, 6, 1, 4]   18
274  [8, 3, 5, 2, 9, 7, 1, 4, 6]   18
275  [8, 3, 5, 2, 9, 7, 4, 1, 6]   18
276  [8, 5, 2, 3, 9, 6, 4, 7, 1]   18
277  [8, 5, 2, 3, 9, 6, 7, 4, 1]   18
278  [8, 5, 2, 3, 9, 6, 1, 7, 4]   18
279  [8, 5, 2, 3, 9, 6, 7, 1, 4]   18
280  [8, 5, 2, 3, 9, 6, 1, 4, 7]   18
281  [8, 5, 2, 3, 9, 6, 4, 1, 7]   18
282  [8, 5, 3, 2, 9, 7, 4, 6, 1]   18
283  [8, 5, 3, 2, 9, 7, 6, 4, 1]   18
284  [8, 5, 3, 2, 9, 7, 1, 6, 4]   18
285  [8, 5, 3, 2, 9, 7, 6, 1, 4]   18
286  [8, 5, 3, 2, 9, 7, 1, 4, 6]   18
287  [8, 5, 3, 2, 9, 7, 4, 1, 6]   18
288  [1, 4, 5, 9, 7, 3, 2, 6, 8]   19
289  [1, 4, 5, 9, 7, 3, 6, 2, 8]   19
290  [1, 4, 5, 9, 7, 3, 8, 6, 2]   19
291  [1, 4, 5, 9, 7, 3, 6, 8, 2]   19
292  [1, 4, 5, 9, 7, 3, 8, 2, 6]   19
293  [1, 4, 5, 9, 7, 3, 2, 8, 6]   19
294  [1, 5, 4, 9, 7, 3, 2, 6, 8]   19
295  [1, 5, 4, 9, 7, 3, 6, 2, 8]   19
296  [1, 5, 4, 9, 7, 3, 8, 6, 2]   19
297  [1, 5, 4, 9, 7, 3, 6, 8, 2]   19
298  [1, 5, 4, 9, 7, 3, 8, 2, 6]   19
299  [1, 5, 4, 9, 7, 3, 2, 8, 6]   19
300  [1, 5, 9, 4, 7, 8, 3, 6, 2]   19
301  [1, 5, 9, 4, 7, 8, 6, 3, 2]   19
302  [1, 5, 9, 4, 7, 8, 2, 6, 3]   19
303  [1, 5, 9, 4, 7, 8, 6, 2, 3]   19
304  [1, 5, 9, 4, 7, 8, 2, 3, 6]   19
305  [1, 5, 9, 4, 7, 8, 3, 2, 6]   19
306  [1, 9, 5, 4, 7, 8, 3, 6, 2]   19
307  [1, 9, 5, 4, 7, 8, 6, 3, 2]   19
308  [1, 9, 5, 4, 7, 8, 2, 6, 3]   19
309  [1, 9, 5, 4, 7, 8, 6, 2, 3]   19
310  [1, 9, 5, 4, 7, 8, 2, 3, 6]   19
311  [1, 9, 5, 4, 7, 8, 3, 2, 6]   19
312  [2, 3, 6, 8, 7, 4, 5, 9, 1]   19
313  [2, 3, 6, 8, 7, 4, 9, 5, 1]   19
314  [2, 3, 6, 8, 7, 4, 1, 9, 5]   19
315  [2, 3, 6, 8, 7, 4, 9, 1, 5]   19
316  [2, 3, 6, 8, 7, 4, 1, 5, 9]   19
317  [2, 3, 6, 8, 7, 4, 5, 1, 9]   19
318  [2, 6, 3, 8, 7, 4, 5, 9, 1]   19
319  [2, 6, 3, 8, 7, 4, 9, 5, 1]   19
320  [2, 6, 3, 8, 7, 4, 1, 9, 5]   19
321  [2, 6, 3, 8, 7, 4, 9, 1, 5]   19
322  [2, 6, 3, 8, 7, 4, 1, 5, 9]   19
323  [2, 6, 3, 8, 7, 4, 5, 1, 9]   19
324  [2, 6, 8, 3, 7, 9, 4, 5, 1]   19
325  [2, 6, 8, 3, 7, 9, 5, 4, 1]   19
326  [2, 6, 8, 3, 7, 9, 1, 5, 4]   19
327  [2, 6, 8, 3, 7, 9, 5, 1, 4]   19
328  [2, 6, 8, 3, 7, 9, 1, 4, 5]   19
329  [2, 6, 8, 3, 7, 9, 4, 1, 5]   19
330  [2, 8, 6, 3, 7, 9, 4, 5, 1]   19
331  [2, 8, 6, 3, 7, 9, 5, 4, 1]   19
332  [2, 8, 6, 3, 7, 9, 1, 5, 4]   19
333  [2, 8, 6, 3, 7, 9, 5, 1, 4]   19
334  [2, 8, 6, 3, 7, 9, 1, 4, 5]   19
335  [2, 8, 6, 3, 7, 9, 4, 1, 5]   19
336  [3, 2, 6, 8, 7, 4, 5, 9, 1]   19
337  [3, 2, 6, 8, 7, 4, 9, 5, 1]   19
338  [3, 2, 6, 8, 7, 4, 1, 9, 5]   19
339  [3, 2, 6, 8, 7, 4, 9, 1, 5]   19
340  [3, 2, 6, 8, 7, 4, 1, 5, 9]   19
341  [3, 2, 6, 8, 7, 4, 5, 1, 9]   19
342  [3, 6, 2, 8, 7, 4, 5, 9, 1]   19
343  [3, 6, 2, 8, 7, 4, 9, 5, 1]   19
344  [3, 6, 2, 8, 7, 4, 1, 9, 5]   19
345  [3, 6, 2, 8, 7, 4, 9, 1, 5]   19
346  [3, 6, 2, 8, 7, 4, 1, 5, 9]   19
347  [3, 6, 2, 8, 7, 4, 5, 1, 9]   19
348  [4, 1, 5, 9, 7, 3, 2, 6, 8]   19
349  [4, 1, 5, 9, 7, 3, 6, 2, 8]   19
350  [4, 1, 5, 9, 7, 3, 8, 6, 2]   19
351  [4, 1, 5, 9, 7, 3, 6, 8, 2]   19
352  [4, 1, 5, 9, 7, 3, 8, 2, 6]   19
353  [4, 1, 5, 9, 7, 3, 2, 8, 6]   19
354  [4, 5, 1, 9, 7, 3, 2, 6, 8]   19
355  [4, 5, 1, 9, 7, 3, 6, 2, 8]   19
356  [4, 5, 1, 9, 7, 3, 8, 6, 2]   19
357  [4, 5, 1, 9, 7, 3, 6, 8, 2]   19
358  [4, 5, 1, 9, 7, 3, 8, 2, 6]   19
359  [4, 5, 1, 9, 7, 3, 2, 8, 6]   19
360  [5, 1, 4, 9, 7, 3, 2, 6, 8]   19
361  [5, 1, 4, 9, 7, 3, 6, 2, 8]   19
362  [5, 1, 4, 9, 7, 3, 8, 6, 2]   19
363  [5, 1, 4, 9, 7, 3, 6, 8, 2]   19
364  [5, 1, 4, 9, 7, 3, 8, 2, 6]   19
365  [5, 1, 4, 9, 7, 3, 2, 8, 6]   19
366  [5, 1, 9, 4, 7, 8, 3, 6, 2]   19
367  [5, 1, 9, 4, 7, 8, 6, 3, 2]   19
368  [5, 1, 9, 4, 7, 8, 2, 6, 3]   19
369  [5, 1, 9, 4, 7, 8, 6, 2, 3]   19
370  [5, 1, 9, 4, 7, 8, 2, 3, 6]   19
371  [5, 1, 9, 4, 7, 8, 3, 2, 6]   19
372  [5, 4, 1, 9, 7, 3, 2, 6, 8]   19
373  [5, 4, 1, 9, 7, 3, 6, 2, 8]   19
374  [5, 4, 1, 9, 7, 3, 8, 6, 2]   19
375  [5, 4, 1, 9, 7, 3, 6, 8, 2]   19
376  [5, 4, 1, 9, 7, 3, 8, 2, 6]   19
377  [5, 4, 1, 9, 7, 3, 2, 8, 6]   19
378  [5, 9, 1, 4, 7, 8, 3, 6, 2]   19
379  [5, 9, 1, 4, 7, 8, 6, 3, 2]   19
380  [5, 9, 1, 4, 7, 8, 2, 6, 3]   19
381  [5, 9, 1, 4, 7, 8, 6, 2, 3]   19
382  [5, 9, 1, 4, 7, 8, 2, 3, 6]   19
383  [5, 9, 1, 4, 7, 8, 3, 2, 6]   19
384  [6, 2, 3, 8, 7, 4, 5, 9, 1]   19
385  [6, 2, 3, 8, 7, 4, 9, 5, 1]   19
386  [6, 2, 3, 8, 7, 4, 1, 9, 5]   19
387  [6, 2, 3, 8, 7, 4, 9, 1, 5]   19
388  [6, 2, 3, 8, 7, 4, 1, 5, 9]   19
389  [6, 2, 3, 8, 7, 4, 5, 1, 9]   19
390  [6, 2, 8, 3, 7, 9, 4, 5, 1]   19
391  [6, 2, 8, 3, 7, 9, 5, 4, 1]   19
392  [6, 2, 8, 3, 7, 9, 1, 5, 4]   19
393  [6, 2, 8, 3, 7, 9, 5, 1, 4]   19
394  [6, 2, 8, 3, 7, 9, 1, 4, 5]   19
395  [6, 2, 8, 3, 7, 9, 4, 1, 5]   19
396  [6, 3, 2, 8, 7, 4, 5, 9, 1]   19
397  [6, 3, 2, 8, 7, 4, 9, 5, 1]   19
398  [6, 3, 2, 8, 7, 4, 1, 9, 5]   19
399  [6, 3, 2, 8, 7, 4, 9, 1, 5]   19
400  [6, 3, 2, 8, 7, 4, 1, 5, 9]   19
401  [6, 3, 2, 8, 7, 4, 5, 1, 9]   19
402  [6, 8, 2, 3, 7, 9, 4, 5, 1]   19
403  [6, 8, 2, 3, 7, 9, 5, 4, 1]   19
404  [6, 8, 2, 3, 7, 9, 1, 5, 4]   19
405  [6, 8, 2, 3, 7, 9, 5, 1, 4]   19
406  [6, 8, 2, 3, 7, 9, 1, 4, 5]   19
407  [6, 8, 2, 3, 7, 9, 4, 1, 5]   19
408  [8, 2, 6, 3, 7, 9, 4, 5, 1]   19
409  [8, 2, 6, 3, 7, 9, 5, 4, 1]   19
410  [8, 2, 6, 3, 7, 9, 1, 5, 4]   19
411  [8, 2, 6, 3, 7, 9, 5, 1, 4]   19
412  [8, 2, 6, 3, 7, 9, 1, 4, 5]   19
413  [8, 2, 6, 3, 7, 9, 4, 1, 5]   19
414  [8, 6, 2, 3, 7, 9, 4, 5, 1]   19
415  [8, 6, 2, 3, 7, 9, 5, 4, 1]   19
416  [8, 6, 2, 3, 7, 9, 1, 5, 4]   19
417  [8, 6, 2, 3, 7, 9, 5, 1, 4]   19
418  [8, 6, 2, 3, 7, 9, 1, 4, 5]   19
419  [8, 6, 2, 3, 7, 9, 4, 1, 5]   19
420  [9, 1, 5, 4, 7, 8, 3, 6, 2]   19
421  [9, 1, 5, 4, 7, 8, 6, 3, 2]   19
422  [9, 1, 5, 4, 7, 8, 2, 6, 3]   19
423  [9, 1, 5, 4, 7, 8, 6, 2, 3]   19
424  [9, 1, 5, 4, 7, 8, 2, 3, 6]   19
425  [9, 1, 5, 4, 7, 8, 3, 2, 6]   19
426  [9, 5, 1, 4, 7, 8, 3, 6, 2]   19
427  [9, 5, 1, 4, 7, 8, 6, 3, 2]   19
428  [9, 5, 1, 4, 7, 8, 2, 6, 3]   19
429  [9, 5, 1, 4, 7, 8, 6, 2, 3]   19
430  [9, 5, 1, 4, 7, 8, 2, 3, 6]   19
431  [9, 5, 1, 4, 7, 8, 3, 2, 6]   19
432  [1, 2, 8, 9, 5, 6, 4, 7, 3]   20
433  [1, 2, 8, 9, 5, 6, 7, 4, 3]   20
434  [1, 2, 8, 9, 5, 6, 3, 7, 4]   20
435  [1, 2, 8, 9, 5, 6, 7, 3, 4]   20
436  [1, 2, 8, 9, 5, 6, 3, 4, 7]   20
437  [1, 2, 8, 9, 5, 6, 4, 3, 7]   20
438  [1, 2, 9, 8, 5, 7, 4, 6, 3]   20
439  [1, 2, 9, 8, 5, 7, 6, 4, 3]   20
440  [1, 2, 9, 8, 5, 7, 3, 6, 4]   20
441  [1, 2, 9, 8, 5, 7, 6, 3, 4]   20
442  [1, 2, 9, 8, 5, 7, 3, 4, 6]   20
443  [1, 2, 9, 8, 5, 7, 4, 3, 6]   20
444  [1, 3, 7, 9, 5, 6, 2, 4, 8]   20
445  [1, 3, 7, 9, 5, 6, 4, 2, 8]   20
446  [1, 3, 7, 9, 5, 6, 8, 4, 2]   20
447  [1, 3, 7, 9, 5, 6, 4, 8, 2]   20
448  [1, 3, 7, 9, 5, 6, 8, 2, 4]   20
449  [1, 3, 7, 9, 5, 6, 2, 8, 4]   20
450  [1, 3, 9, 7, 5, 8, 4, 6, 2]   20
451  [1, 3, 9, 7, 5, 8, 6, 4, 2]   20
452  [1, 3, 9, 7, 5, 8, 2, 6, 4]   20
453  [1, 3, 9, 7, 5, 8, 6, 2, 4]   20
454  [1, 3, 9, 7, 5, 8, 2, 4, 6]   20
455  [1, 3, 9, 7, 5, 8, 4, 2, 6]   20
456  [1, 7, 3, 9, 5, 6, 2, 4, 8]   20
457  [1, 7, 3, 9, 5, 6, 4, 2, 8]   20
458  [1, 7, 3, 9, 5, 6, 8, 4, 2]   20
459  [1, 7, 3, 9, 5, 6, 4, 8, 2]   20
460  [1, 7, 3, 9, 5, 6, 8, 2, 4]   20
461  [1, 7, 3, 9, 5, 6, 2, 8, 4]   20
462  [1, 8, 2, 9, 5, 6, 4, 7, 3]   20
463  [1, 8, 2, 9, 5, 6, 7, 4, 3]   20
464  [1, 8, 2, 9, 5, 6, 3, 7, 4]   20
465  [1, 8, 2, 9, 5, 6, 7, 3, 4]   20
466  [1, 8, 2, 9, 5, 6, 3, 4, 7]   20
467  [1, 8, 2, 9, 5, 6, 4, 3, 7]   20
468  [1, 9, 2, 8, 5, 7, 4, 6, 3]   20
469  [1, 9, 2, 8, 5, 7, 6, 4, 3]   20
470  [1, 9, 2, 8, 5, 7, 3, 6, 4]   20
471  [1, 9, 2, 8, 5, 7, 6, 3, 4]   20
472  [1, 9, 2, 8, 5, 7, 3, 4, 6]   20
473  [1, 9, 2, 8, 5, 7, 4, 3, 6]   20
474  [1, 9, 3, 7, 5, 8, 4, 6, 2]   20
475  [1, 9, 3, 7, 5, 8, 6, 4, 2]   20
476  [1, 9, 3, 7, 5, 8, 2, 6, 4]   20
477  [1, 9, 3, 7, 5, 8, 6, 2, 4]   20
478  [1, 9, 3, 7, 5, 8, 2, 4, 6]   20
479  [1, 9, 3, 7, 5, 8, 4, 2, 6]   20
480  [2, 1, 8, 9, 5, 6, 4, 7, 3]   20
481  [2, 1, 8, 9, 5, 6, 7, 4, 3]   20
482  [2, 1, 8, 9, 5, 6, 3, 7, 4]   20
483  [2, 1, 8, 9, 5, 6, 7, 3, 4]   20
484  [2, 1, 8, 9, 5, 6, 3, 4, 7]   20
485  [2, 1, 8, 9, 5, 6, 4, 3, 7]   20
486  [2, 1, 9, 8, 5, 7, 4, 6, 3]   20
487  [2, 1, 9, 8, 5, 7, 6, 4, 3]   20
488  [2, 1, 9, 8, 5, 7, 3, 6, 4]   20
489  [2, 1, 9, 8, 5, 7, 6, 3, 4]   20
490  [2, 1, 9, 8, 5, 7, 3, 4, 6]   20
491  [2, 1, 9, 8, 5, 7, 4, 3, 6]   20
492  [2, 4, 6, 8, 5, 7, 3, 9, 1]   20
493  [2, 4, 6, 8, 5, 7, 9, 3, 1]   20
494  [2, 4, 6, 8, 5, 7, 1, 9, 3]   20
495  [2, 4, 6, 8, 5, 7, 9, 1, 3]   20
496  [2, 4, 6, 8, 5, 7, 1, 3, 9]   20
497  [2, 4, 6, 8, 5, 7, 3, 1, 9]   20
498  [2, 4, 8, 6, 5, 9, 3, 7, 1]   20
499  [2, 4, 8, 6, 5, 9, 7, 3, 1]   20
500  [2, 4, 8, 6, 5, 9, 1, 7, 3]   20
501  [2, 4, 8, 6, 5, 9, 7, 1, 3]   20
502  [2, 4, 8, 6, 5, 9, 1, 3, 7]   20
503  [2, 4, 8, 6, 5, 9, 3, 1, 7]   20
504  [2, 6, 4, 8, 5, 7, 3, 9, 1]   20
505  [2, 6, 4, 8, 5, 7, 9, 3, 1]   20
506  [2, 6, 4, 8, 5, 7, 1, 9, 3]   20
507  [2, 6, 4, 8, 5, 7, 9, 1, 3]   20
508  [2, 6, 4, 8, 5, 7, 1, 3, 9]   20
509  [2, 6, 4, 8, 5, 7, 3, 1, 9]   20
510  [2, 8, 1, 9, 5, 6, 4, 7, 3]   20
511  [2, 8, 1, 9, 5, 6, 7, 4, 3]   20
512  [2, 8, 1, 9, 5, 6, 3, 7, 4]   20
513  [2, 8, 1, 9, 5, 6, 7, 3, 4]   20
514  [2, 8, 1, 9, 5, 6, 3, 4, 7]   20
515  [2, 8, 1, 9, 5, 6, 4, 3, 7]   20
516  [2, 8, 4, 6, 5, 9, 3, 7, 1]   20
517  [2, 8, 4, 6, 5, 9, 7, 3, 1]   20
518  [2, 8, 4, 6, 5, 9, 1, 7, 3]   20
519  [2, 8, 4, 6, 5, 9, 7, 1, 3]   20
520  [2, 8, 4, 6, 5, 9, 1, 3, 7]   20
521  [2, 8, 4, 6, 5, 9, 3, 1, 7]   20
522  [2, 9, 1, 8, 5, 7, 4, 6, 3]   20
523  [2, 9, 1, 8, 5, 7, 6, 4, 3]   20
524  [2, 9, 1, 8, 5, 7, 3, 6, 4]   20

In [10]:
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [13]:
pd.options.display.max_rows = 999

In [21]:
#Q2
solve2(range(1,7),[[0,1,2],[2,3,4],[4,5,0]])

[[0, 1, 2], [2, 3, 4], [4, 5, 0]]
[]
[[0, 1, 2], [3, 4], [5]]
5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

              solution  sum
0   [1, 5, 3, 4, 2, 6]    9
1   [1, 6, 2, 4, 3, 5]    9
2   [2, 4, 3, 5, 1, 6]    9
3   [2, 6, 1, 5, 3, 4]    9
4   [3, 4, 2, 6, 1, 5]    9
5   [3, 5, 1, 6, 2, 4]    9
6   [1, 4, 5, 2, 3, 6]   10
7   [1, 6, 3, 2, 5, 4]   10
8   [3, 2, 5, 4, 1, 6]   10
9   [3, 6, 1, 4, 5, 2]   10
10  [5, 2, 3, 6, 1, 4]   10
11  [5, 4, 1, 6, 3, 2]   10
12  [2, 3, 6, 1, 4, 5]   11
13  [2, 5, 4, 1, 6, 3]   11
14  [4, 1, 6, 3, 2, 5]   11
15  [4, 5, 2, 3, 6, 1]   11
16  [6, 1, 4, 5, 2, 3]   11
17  [6, 3, 2, 5, 4, 1]   11
18  [4, 2, 6, 1, 5, 3]   12
19  [4, 3, 5, 1, 6, 2]   12
20  [5, 1, 6, 2, 4, 3]   12
21  [5, 3, 4, 2, 6, 1]   12
22  [6, 1, 5, 3, 4, 2]   12
23  [6, 2, 4, 3, 5, 1]   12

In [24]:
#Q3
solve2(range(1,8),[[0,1,2],[0,3,4],[0,5,6]])

[[0, 1, 2], [0, 3, 4], [0, 5, 6]]
[]
[[0, 1, 2], [3, 4], [5, 6]]
5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

                  solution  sum
0    [1, 2, 7, 3, 6, 4, 5]   10
1    [1, 2, 7, 3, 6, 5, 4]   10
2    [1, 2, 7, 4, 5, 3, 6]   10
3    [1, 2, 7, 4, 5, 6, 3]   10
4    [1, 2, 7, 5, 4, 3, 6]   10
5    [1, 2, 7, 5, 4, 6, 3]   10
6    [1, 2, 7, 6, 3, 4, 5]   10
7    [1, 2, 7, 6, 3, 5, 4]   10
8    [1, 3, 6, 2, 7, 4, 5]   10
9    [1, 3, 6, 2, 7, 5, 4]   10
10   [1, 3, 6, 4, 5, 2, 7]   10
11   [1, 3, 6, 4, 5, 7, 2]   10
12   [1, 3, 6, 5, 4, 2, 7]   10
13   [1, 3, 6, 5, 4, 7, 2]   10
14   [1, 3, 6, 7, 2, 4, 5]   10
15   [1, 3, 6, 7, 2, 5, 4]   10
16   [1, 4, 5, 2, 7, 3, 6]   10
17   [1, 4, 5, 2, 7, 6, 3]   10
18   [1, 4, 5, 3, 6, 2, 7]   10
19   [1, 4, 5, 3, 6, 7, 2]   10
20   [1, 4, 5, 6, 3, 2, 7]   10
21   [1, 4, 5, 6, 3, 7, 2]   10
22   [1, 4, 5, 7, 2, 3, 6]   10
23   [1, 4, 5, 7, 2, 6, 3]   10
24   [1, 5, 4, 2, 7, 3, 6]   10
25   [1, 5, 4, 2, 7, 6, 3]   10
26   [1, 5, 4, 3, 6, 2, 7]   10
27   [1, 5, 4, 3, 6, 7, 2]   10
28   [1, 5, 4, 6, 3, 2, 7]   10
29   [1, 5, 4, 6, 3, 7, 2]   10
30   [1, 5, 4, 7, 2, 3, 6]   10
31   [1, 5, 4, 7, 2, 6, 3]   10
32   [1, 6, 3, 2, 7, 4, 5]   10
33   [1, 6, 3, 2, 7, 5, 4]   10
34   [1, 6, 3, 4, 5, 2, 7]   10
35   [1, 6, 3, 4, 5, 7, 2]   10
36   [1, 6, 3, 5, 4, 2, 7]   10
37   [1, 6, 3, 5, 4, 7, 2]   10
38   [1, 6, 3, 7, 2, 4, 5]   10
39   [1, 6, 3, 7, 2, 5, 4]   10
40   [1, 7, 2, 3, 6, 4, 5]   10
41   [1, 7, 2, 3, 6, 5, 4]   10
42   [1, 7, 2, 4, 5, 3, 6]   10
43   [1, 7, 2, 4, 5, 6, 3]   10
44   [1, 7, 2, 5, 4, 3, 6]   10
45   [1, 7, 2, 5, 4, 6, 3]   10
46   [1, 7, 2, 6, 3, 4, 5]   10
47   [1, 7, 2, 6, 3, 5, 4]   10
48   [4, 1, 7, 2, 6, 3, 5]   12
49   [4, 1, 7, 2, 6, 5, 3]   12
50   [4, 1, 7, 3, 5, 2, 6]   12
51   [4, 1, 7, 3, 5, 6, 2]   12
52   [4, 1, 7, 5, 3, 2, 6]   12
53   [4, 1, 7, 5, 3, 6, 2]   12
54   [4, 1, 7, 6, 2, 3, 5]   12
55   [4, 1, 7, 6, 2, 5, 3]   12
56   [4, 2, 6, 1, 7, 3, 5]   12
57   [4, 2, 6, 1, 7, 5, 3]   12
58   [4, 2, 6, 3, 5, 1, 7]   12
59   [4, 2, 6, 3, 5, 7, 1]   12
60   [4, 2, 6, 5, 3, 1, 7]   12
61   [4, 2, 6, 5, 3, 7, 1]   12
62   [4, 2, 6, 7, 1, 3, 5]   12
63   [4, 2, 6, 7, 1, 5, 3]   12
64   [4, 3, 5, 1, 7, 2, 6]   12
65   [4, 3, 5, 1, 7, 6, 2]   12
66   [4, 3, 5, 2, 6, 1, 7]   12
67   [4, 3, 5, 2, 6, 7, 1]   12
68   [4, 3, 5, 6, 2, 1, 7]   12
69   [4, 3, 5, 6, 2, 7, 1]   12
70   [4, 3, 5, 7, 1, 2, 6]   12
71   [4, 3, 5, 7, 1, 6, 2]   12
72   [4, 5, 3, 1, 7, 2, 6]   12
73   [4, 5, 3, 1, 7, 6, 2]   12
74   [4, 5, 3, 2, 6, 1, 7]   12
75   [4, 5, 3, 2, 6, 7, 1]   12
76   [4, 5, 3, 6, 2, 1, 7]   12
77   [4, 5, 3, 6, 2, 7, 1]   12
78   [4, 5, 3, 7, 1, 2, 6]   12
79   [4, 5, 3, 7, 1, 6, 2]   12
80   [4, 6, 2, 1, 7, 3, 5]   12
81   [4, 6, 2, 1, 7, 5, 3]   12
82   [4, 6, 2, 3, 5, 1, 7]   12
83   [4, 6, 2, 3, 5, 7, 1]   12
84   [4, 6, 2, 5, 3, 1, 7]   12
85   [4, 6, 2, 5, 3, 7, 1]   12
86   [4, 6, 2, 7, 1, 3, 5]   12
87   [4, 6, 2, 7, 1, 5, 3]   12
88   [4, 7, 1, 2, 6, 3, 5]   12
89   [4, 7, 1, 2, 6, 5, 3]   12
90   [4, 7, 1, 3, 5, 2, 6]   12
91   [4, 7, 1, 3, 5, 6, 2]   12
92   [4, 7, 1, 5, 3, 2, 6]   12
93   [4, 7, 1, 5, 3, 6, 2]   12
94   [4, 7, 1, 6, 2, 3, 5]   12
95   [4, 7, 1, 6, 2, 5, 3]   12
96   [7, 1, 6, 2, 5, 3, 4]   14
97   [7, 1, 6, 2, 5, 4, 3]   14
98   [7, 1, 6, 3, 4, 2, 5]   14
99   [7, 1, 6, 3, 4, 5, 2]   14
100  [7, 1, 6, 4, 3, 2, 5]   14
101  [7, 1, 6, 4, 3, 5, 2]   14
102  [7, 1, 6, 5, 2, 3, 4]   14
103  [7, 1, 6, 5, 2, 4, 3]   14
104  [7, 2, 5, 1, 6, 3, 4]   14
105  [7, 2, 5, 1, 6, 4, 3]   14
106  [7, 2, 5, 3, 4, 1, 6]   14
107  [7, 2, 5, 3, 4, 6, 1]   14
108  [7, 2, 5, 4, 3, 1, 6]   14
109  [7, 2, 5, 4, 3, 6, 1]   14
110  [7, 2, 5, 6, 1, 3, 4]   14
111  [7, 2, 5, 6, 1, 4, 3]   14
112  [7, 3, 4, 1, 6, 2, 5]   14
113  [7, 3, 4, 1, 6, 5, 2]   14
114  [7, 3, 4, 2, 5, 1, 6]   14
115  [7, 3, 4, 2, 5, 6, 1]   14
116  [7, 3, 4, 5, 2, 1, 6]   14
117  [7, 3, 4, 5, 2, 6, 1]   14
118  [7, 3, 4, 6, 1, 2, 5]   14
119  [7, 3, 4, 6, 1, 5, 2]   14
120  [7, 4, 3, 1, 6, 2, 5]   14
121  [7, 4, 3, 1, 6, 5, 2]   14
122  [7, 4, 3, 2, 5, 1, 6]   14
123  [7, 4, 3, 2, 5, 6, 1]   14
124  [7, 4, 3, 5, 2, 1, 6]   14
125  [7, 4, 3, 5, 2, 6, 1]   14
126  [7, 4, 3, 6, 1, 2, 5]   14
127  [7, 4, 3, 6, 1, 5, 2]   14
128  [7, 5, 2, 1, 6, 3, 4]   14
129  [7, 5, 2, 1, 6, 4, 3]   14
130  [7, 5, 2, 3, 4, 1, 6]   14
131  [7, 5, 2, 3, 4, 6, 1]   14
132  [7, 5, 2, 4, 3, 1, 6]   14
133  [7, 5, 2, 4, 3, 6, 1]   14
134  [7, 5, 2, 6, 1, 3, 4]   14
135  [7, 5, 2, 6, 1, 4, 3]   14
136  [7, 6, 1, 2, 5, 3, 4]   14
137  [7, 6, 1, 2, 5, 4, 3]   14
138  [7, 6, 1, 3, 4, 2, 5]   14
139  [7, 6, 1, 3, 4, 5, 2]   14
140  [7, 6, 1, 4, 3, 2, 5]   14
141  [7, 6, 1, 4, 3, 5, 2]   14
142  [7, 6, 1, 5, 2, 3, 4]   14
143  [7, 6, 1, 5, 2, 4, 3]   14

In [26]:
#Q5
solve2(range(1,10),[[0,1,2,3],[3,4,5,6],[6,7,8,0]])

[[0, 1, 2, 3], [3, 4, 5, 6], [6, 7, 8, 0]]
[]
[[0, 1, 2, 3], [4, 5, 6], [8, 7]]
5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

                        solution  sum
0    [1, 4, 9, 3, 5, 7, 2, 6, 8]   17
1    [1, 4, 9, 3, 5, 7, 2, 8, 6]   17
2    [1, 4, 9, 3, 7, 5, 2, 6, 8]   17
3    [1, 4, 9, 3, 7, 5, 2, 8, 6]   17
4    [1, 5, 9, 2, 4, 8, 3, 7, 6]   17
5    [1, 5, 9, 2, 4, 8, 3, 6, 7]   17
6    [1, 5, 9, 2, 8, 4, 3, 7, 6]   17
7    [1, 5, 9, 2, 8, 4, 3, 6, 7]   17
8    [1, 6, 7, 3, 4, 8, 2, 5, 9]   17
9    [1, 6, 7, 3, 4, 8, 2, 9, 5]   17
10   [1, 6, 7, 3, 8, 4, 2, 5, 9]   17
11   [1, 6, 7, 3, 8, 4, 2, 9, 5]   17
12   [1, 6, 8, 2, 5, 7, 3, 4, 9]   17
13   [1, 6, 8, 2, 5, 7, 3, 9, 4]   17
14   [1, 6, 8, 2, 7, 5, 3, 4, 9]   17
15   [1, 6, 8, 2, 7, 5, 3, 9, 4]   17
16   [1, 7, 6, 3, 4, 8, 2, 5, 9]   17
17   [1, 7, 6, 3, 4, 8, 2, 9, 5]   17
18   [1, 7, 6, 3, 8, 4, 2, 5, 9]   17
19   [1, 7, 6, 3, 8, 4, 2, 9, 5]   17
20   [1, 8, 6, 2, 5, 7, 3, 4, 9]   17
21   [1, 8, 6, 2, 5, 7, 3, 9, 4]   17
22   [1, 8, 6, 2, 7, 5, 3, 4, 9]   17
23   [1, 8, 6, 2, 7, 5, 3, 9, 4]   17
24   [1, 9, 4, 3, 5, 7, 2, 6, 8]   17
25   [1, 9, 4, 3, 5, 7, 2, 8, 6]   17
26   [1, 9, 4, 3, 7, 5, 2, 6, 8]   17
27   [1, 9, 4, 3, 7, 5, 2, 8, 6]   17
28   [1, 9, 5, 2, 4, 8, 3, 7, 6]   17
29   [1, 9, 5, 2, 4, 8, 3, 6, 7]   17
30   [1, 9, 5, 2, 8, 4, 3, 7, 6]   17
31   [1, 9, 5, 2, 8, 4, 3, 6, 7]   17
32   [2, 4, 8, 3, 6, 7, 1, 5, 9]   17
33   [2, 4, 8, 3, 6, 7, 1, 9, 5]   17
34   [2, 4, 8, 3, 7, 6, 1, 5, 9]   17
35   [2, 4, 8, 3, 7, 6, 1, 9, 5]   17
36   [2, 5, 7, 3, 4, 9, 1, 6, 8]   17
37   [2, 5, 7, 3, 4, 9, 1, 8, 6]   17
38   [2, 5, 7, 3, 9, 4, 1, 6, 8]   17
39   [2, 5, 7, 3, 9, 4, 1, 8, 6]   17
40   [2, 5, 9, 1, 6, 7, 3, 4, 8]   17
41   [2, 5, 9, 1, 6, 7, 3, 8, 4]   17
42   [2, 5, 9, 1, 7, 6, 3, 4, 8]   17
43   [2, 5, 9, 1, 7, 6, 3, 8, 4]   17
44   [2, 6, 8, 1, 4, 9, 3, 7, 5]   17
45   [2, 6, 8, 1, 4, 9, 3, 5, 7]   17
46   [2, 6, 8, 1, 9, 4, 3, 7, 5]   17
47   [2, 6, 8, 1, 9, 4, 3, 5, 7]   17
48   [2, 7, 5, 3, 4, 9, 1, 6, 8]   17
49   [2, 7, 5, 3, 4, 9, 1, 8, 6]   17
50   [2, 7, 5, 3, 9, 4, 1, 6, 8]   17
51   [2, 7, 5, 3, 9, 4, 1, 8, 6]   17
52   [2, 8, 4, 3, 6, 7, 1, 5, 9]   17
53   [2, 8, 4, 3, 6, 7, 1, 9, 5]   17
54   [2, 8, 4, 3, 7, 6, 1, 5, 9]   17
55   [2, 8, 4, 3, 7, 6, 1, 9, 5]   17
56   [2, 8, 6, 1, 4, 9, 3, 7, 5]   17
57   [2, 8, 6, 1, 4, 9, 3, 5, 7]   17
58   [2, 8, 6, 1, 9, 4, 3, 7, 5]   17
59   [2, 8, 6, 1, 9, 4, 3, 5, 7]   17
60   [2, 9, 5, 1, 6, 7, 3, 4, 8]   17
61   [2, 9, 5, 1, 6, 7, 3, 8, 4]   17
62   [2, 9, 5, 1, 7, 6, 3, 4, 8]   17
63   [2, 9, 5, 1, 7, 6, 3, 8, 4]   17
64   [3, 4, 8, 2, 5, 9, 1, 7, 6]   17
65   [3, 4, 8, 2, 5, 9, 1, 6, 7]   17
66   [3, 4, 8, 2, 9, 5, 1, 7, 6]   17
67   [3, 4, 8, 2, 9, 5, 1, 6, 7]   17
68   [3, 4, 9, 1, 6, 8, 2, 7, 5]   17
69   [3, 4, 9, 1, 6, 8, 2, 5, 7]   17
70   [3, 4, 9, 1, 8, 6, 2, 7, 5]   17
71   [3, 4, 9, 1, 8, 6, 2, 5, 7]   17
72   [3, 5, 7, 2, 6, 8, 1, 4, 9]   17
73   [3, 5, 7, 2, 6, 8, 1, 9, 4]   17
74   [3, 5, 7, 2, 8, 6, 1, 4, 9]   17
75   [3, 5, 7, 2, 8, 6, 1, 9, 4]   17
76   [3, 6, 7, 1, 5, 9, 2, 4, 8]   17
77   [3, 6, 7, 1, 5, 9, 2, 8, 4]   17
78   [3, 6, 7, 1, 9, 5, 2, 4, 8]   17
79   [3, 6, 7, 1, 9, 5, 2, 8, 4]   17
80   [3, 7, 5, 2, 6, 8, 1, 4, 9]   17
81   [3, 7, 5, 2, 6, 8, 1, 9, 4]   17
82   [3, 7, 5, 2, 8, 6, 1, 4, 9]   17
83   [3, 7, 5, 2, 8, 6, 1, 9, 4]   17
84   [3, 7, 6, 1, 5, 9, 2, 4, 8]   17
85   [3, 7, 6, 1, 5, 9, 2, 8, 4]   17
86   [3, 7, 6, 1, 9, 5, 2, 4, 8]   17
87   [3, 7, 6, 1, 9, 5, 2, 8, 4]   17
88   [3, 8, 4, 2, 5, 9, 1, 7, 6]   17
89   [3, 8, 4, 2, 5, 9, 1, 6, 7]   17
90   [3, 8, 4, 2, 9, 5, 1, 7, 6]   17
91   [3, 8, 4, 2, 9, 5, 1, 6, 7]   17
92   [3, 9, 4, 1, 6, 8, 2, 7, 5]   17
93   [3, 9, 4, 1, 6, 8, 2, 5, 7]   17
94   [3, 9, 4, 1, 8, 6, 2, 7, 5]   17
95   [3, 9, 4, 1, 8, 6, 2, 5, 7]   17
96   [1, 2, 9, 7, 3, 5, 4, 6, 8]   19
97   [1, 2, 9, 7, 3, 5, 4, 8, 6]   19
98   [1, 2, 9, 7, 5, 3, 4, 6, 8]   19
99   [1, 2, 9, 7, 5, 3, 4, 8, 6]   19
100  [1, 3, 8, 7, 2, 6, 4, 5, 9]   19
101  [1, 3, 8, 7, 2, 6, 4, 9, 5]   19
102  [1, 3, 8, 7, 6, 2, 4, 5, 9]   19
103  [1, 3, 8, 7, 6, 2, 4, 9, 5]   19
104  [1, 5, 9, 4, 2, 6, 7, 3, 8]   19
105  [1, 5, 9, 4, 2, 6, 7, 8, 3]   19
106  [1, 5, 9, 4, 6, 2, 7, 3, 8]   19
107  [1, 5, 9, 4, 6, 2, 7, 8, 3]   19
108  [1, 6, 8, 4, 3, 5, 7, 2, 9]   19
109  [1, 6, 8, 4, 3, 5, 7, 9, 2]   19
110  [1, 6, 8, 4, 5, 3, 7, 2, 9]   19
111  [1, 6, 8, 4, 5, 3, 7, 9, 2]   19
112  [1, 8, 3, 7, 2, 6, 4, 5, 9]   19
113  [1, 8, 3, 7, 2, 6, 4, 9, 5]   19
114  [1, 8, 3, 7, 6, 2, 4, 5, 9]   19
115  [1, 8, 3, 7, 6, 2, 4, 9, 5]   19
116  [1, 8, 6, 4, 3, 5, 7, 2, 9]   19
117  [1, 8, 6, 4, 3, 5, 7, 9, 2]   19
118  [1, 8, 6, 4, 5, 3, 7, 2, 9]   19
119  [1, 8, 6, 4, 5, 3, 7, 9, 2]   19
120  [1, 9, 2, 7, 3, 5, 4, 6, 8]   19
121  [1, 9, 2, 7, 3, 5, 4, 8, 6]   19
122  [1, 9, 2, 7, 5, 3, 4, 6, 8]   19
123  [1, 9, 2, 7, 5, 3, 4, 8, 6]   19
124  [1, 9, 5, 4, 2, 6, 7, 3, 8]   19
125  [1, 9, 5, 4, 2, 6, 7, 8, 3]   19
126  [1, 9, 5, 4, 6, 2, 7, 3, 8]   19
127  [1, 9, 5, 4, 6, 2, 7, 8, 3]   19
128  [2, 1, 9, 7, 4, 5, 3, 6, 8]   19
129  [2, 1, 9, 7, 4, 5, 3, 8, 6]   19
130  [2, 1, 9, 7, 5, 4, 3, 6, 8]   19
131  [2, 1, 9, 7, 5, 4, 3, 8, 6]   19
132  [2, 4, 6, 7, 1, 8, 3, 5, 9]   19
133  [2, 4, 6, 7, 1, 8, 3, 9, 5]   19
134  [2, 4, 6, 7, 8, 1, 3, 5, 9]   19
135  [2, 4, 6, 7, 8, 1, 3, 9, 5]   19
136  [2, 5, 9, 3, 1, 8, 7, 6, 4]   19
137  [2, 5, 9, 3, 1, 8, 7, 4, 6]   19
138  [2, 5, 9, 3, 8, 1, 7, 6, 4]   19
139  [2, 5, 9, 3, 8, 1, 7, 4, 6]   19
140  [2, 6, 4, 7, 1, 8, 3, 5, 9]   19
141  [2, 6, 4, 7, 1, 8, 3, 9, 5]   19
142  [2, 6, 4, 7, 8, 1, 3, 5, 9]   19
143  [2, 6, 4, 7, 8, 1, 3, 9, 5]   19
144  [2, 6, 8, 3, 4, 5, 7, 9, 1]   19
145  [2, 6, 8, 3, 4, 5, 7, 1, 9]   19
146  [2, 6, 8, 3, 5, 4, 7, 9, 1]   19
147  [2, 6, 8, 3, 5, 4, 7, 1, 9]   19
148  [2, 8, 6, 3, 4, 5, 7, 9, 1]   19
149  [2, 8, 6, 3, 4, 5, 7, 1, 9]   19
150  [2, 8, 6, 3, 5, 4, 7, 9, 1]   19
151  [2, 8, 6, 3, 5, 4, 7, 1, 9]   19
152  [2, 9, 1, 7, 4, 5, 3, 6, 8]   19
153  [2, 9, 1, 7, 4, 5, 3, 8, 6]   19
154  [2, 9, 1, 7, 5, 4, 3, 6, 8]   19
155  [2, 9, 1, 7, 5, 4, 3, 8, 6]   19
156  [2, 9, 5, 3, 1, 8, 7, 6, 4]   19
157  [2, 9, 5, 3, 1, 8, 7, 4, 6]   19
158  [2, 9, 5, 3, 8, 1, 7, 6, 4]   19
159  [2, 9, 5, 3, 8, 1, 7, 4, 6]   19
160  [3, 1, 8, 7, 4, 6, 2, 5, 9]   19
161  [3, 1, 8, 7, 4, 6, 2, 9, 5]   19
162  [3, 1, 8, 7, 6, 4, 2, 5, 9]   19
163  [3, 1, 8, 7, 6, 4, 2, 9, 5]   19
164  [3, 4, 5, 7, 1, 9, 2, 6, 8]   19
165  [3, 4, 5, 7, 1, 9, 2, 8, 6]   19
166  [3, 4, 5, 7, 9, 1, 2, 6, 8]   19
167  [3, 4, 5, 7, 9, 1, 2, 8, 6]   19
168  [3, 5, 4, 7, 1, 9, 2, 6, 8]   19
169  [3, 5, 4, 7, 1, 9, 2, 8, 6]   19
170  [3, 5, 4, 7, 9, 1, 2, 6, 8]   19
171  [3, 5, 4, 7, 9, 1, 2, 8, 6]   19
172  [3, 5, 9, 2, 4, 6, 7, 1, 8]   19
173  [3, 5, 9, 2, 4, 6, 7, 8, 1]   19
174  [3, 5, 9, 2, 6, 4, 7, 1, 8]   19
175  [3, 5, 9, 2, 6, 4, 7, 8, 1]   19
176  [3, 6, 8, 2, 1, 9, 7, 5, 4]   19
177  [3, 6, 8, 2, 1, 9, 7, 4, 5]   19
178  [3, 6, 8, 2, 9, 1, 7, 5, 4]   19
179  [3, 6, 8, 2, 9, 1, 7, 4, 5]   19
180  [3, 8, 1, 7, 4, 6, 2, 5, 9]   19
181  [3, 8, 1, 7, 4, 6, 2, 9, 5]   19
182  [3, 8, 1, 7, 6, 4, 2, 5, 9]   19
183  [3, 8, 1, 7, 6, 4, 2, 9, 5]   19
184  [3, 8, 6, 2, 1, 9, 7, 5, 4]   19
185  [3, 8, 6, 2, 1, 9, 7, 4, 5]   19
186  [3, 8, 6, 2, 9, 1, 7, 5, 4]   19
187  [3, 8, 6, 2, 9, 1, 7, 4, 5]   19
188  [3, 9, 5, 2, 4, 6, 7, 1, 8]   19
189  [3, 9, 5, 2, 4, 6, 7, 8, 1]   19
190  [3, 9, 5, 2, 6, 4, 7, 1, 8]   19
191  [3, 9, 5, 2, 6, 4, 7, 8, 1]   19
192  [4, 2, 6, 7, 3, 8, 1, 5, 9]   19
193  [4, 2, 6, 7, 3, 8, 1, 9, 5]   19
194  [4, 2, 6, 7, 8, 3, 1, 5, 9]   19
195  [4, 2, 6, 7, 8, 3, 1, 9, 5]   19
196  [4, 3, 5, 7, 2, 9, 1, 6, 8]   19
197  [4, 3, 5, 7, 2, 9, 1, 8, 6]   19
198  [4, 3, 5, 7, 9, 2, 1, 6, 8]   19
199  [4, 3, 5, 7, 9, 2, 1, 8, 6]   19
200  [4, 5, 3, 7, 2, 9, 1, 6, 8]   19
201  [4, 5, 3, 7, 2, 9, 1, 8, 6]   19
202  [4, 5, 3, 7, 9, 2, 1, 6, 8]   19
203  [4, 5, 3, 7, 9, 2, 1, 8, 6]   19
204  [4, 5, 9, 1, 3, 8, 7, 6, 2]   19
205  [4, 5, 9, 1, 3, 8, 7, 2, 6]   19
206  [4, 5, 9, 1, 8, 3, 7, 6, 2]   19
207  [4, 5, 9, 1, 8, 3, 7, 2, 6]   19
208  [4, 6, 2, 7, 3, 8, 1, 5, 9]   19
209  [4, 6, 2, 7, 3, 8, 1, 9, 5]   19
210  [4, 6, 2, 7, 8, 3, 1, 5, 9]   19
211  [4, 6, 2, 7, 8, 3, 1, 9, 5]   19
212  [4, 6, 8, 1, 2, 9, 7, 5, 3]   19
213  [4, 6, 8, 1, 2, 9, 7, 3, 5]   19
214  [4, 6, 8, 1, 9, 2, 7, 5, 3]   19
215  [4, 6, 8, 1, 9, 2, 7, 3, 5]   19
216  [4, 8, 6, 1, 2, 9, 7, 5, 3]   19
217  [4, 8, 6, 1, 2, 9, 7, 3, 5]   19
218  [4, 8, 6, 1, 9, 2, 7, 5, 3]   19
219  [4, 8, 6, 1, 9, 2, 7, 3, 5]   19
220  [4, 9, 5, 1, 3, 8, 7, 6, 2]   19
221  [4, 9, 5, 1, 3, 8, 7, 2, 6]   19
222  [4, 9, 5, 1, 8, 3, 7, 6, 2]   19
223  [4, 9, 5, 1, 8, 3, 7, 2, 6]   19
224  [7, 1, 8, 3, 5, 9, 2, 6, 4]   19
225  [7, 1, 8, 3, 5, 9, 2, 4, 6]   19
226  [7, 1, 8, 3, 9, 5, 2, 6, 4]   19
227  [7, 1, 8, 3, 9, 5, 2, 4, 6]   19
228  [7, 1, 9, 2, 6, 8, 3, 5, 4]   19
229  [7, 1, 9, 2, 6, 8, 3, 4, 5]   19
230  [7, 1, 9, 2, 8, 6, 3, 5, 4]   19
231  [7, 1, 9, 2, 8, 6, 3, 4, 5]   19
232  [7, 2, 6, 4, 5, 9, 1, 3, 8]   19
233  [7, 2, 6, 4, 5, 9, 1, 8, 3]   19
234  [7, 2, 6, 4, 9, 5, 1, 3, 8]   19
235  [7, 2, 6, 4, 9, 5, 1, 8, 3]   19
236  [7, 2, 9, 1, 6, 8, 4, 5, 3]   19
237  [7, 2, 9, 1, 6, 8, 4, 3, 5]   19
238  [7, 2, 9, 1, 8, 6, 4, 5, 3]   19
239  [7, 2, 9, 1, 8, 6, 4, 3, 5]   19
240  [7, 3, 5, 4, 6, 8, 1, 2, 9]   19
241  [7, 3, 5, 4, 6, 8, 1, 9, 2]   19
242  [7, 3, 5, 4, 8, 6, 1, 2, 9]   19
243  [7, 3, 5, 4, 8, 6, 1, 9, 2]   19
244  [7, 3, 8, 1, 5, 9, 4, 6, 2]   19
245  [7, 3, 8, 1, 5, 9, 4, 2, 6]   19
246  [7, 3, 8, 1, 9, 5, 4, 6, 2]   19
247  [7, 3, 8, 1, 9, 5, 4, 2, 6]   19
248  [7, 4, 5, 3, 6, 8, 2, 9, 1]   19
249  [7, 4, 5, 3, 6, 8, 2, 1, 9]   19
250  [7, 4, 5, 3, 8, 6, 2, 9, 1]   19
251  [7, 4, 5, 3, 8, 6, 2, 1, 9]   19
252  [7, 4, 6, 2, 5, 9, 3, 1, 8]   19
253  [7, 4, 6, 2, 5, 9, 3, 8, 1]   19
254  [7, 4, 6, 2, 9, 5, 3, 1, 8]   19
255  [7, 4, 6, 2, 9, 5, 3, 8, 1]   19
256  [7, 5, 3, 4, 6, 8, 1, 2, 9]   19
257  [7, 5, 3, 4, 6, 8, 1, 9, 2]   19
258  [7, 5, 3, 4, 8, 6, 1, 2, 9]   19
259  [7, 5, 3, 4, 8, 6, 1, 9, 2]   19
260  [7, 5, 4, 3, 6, 8, 2, 9, 1]   19
261  [7, 5, 4, 3, 6, 8, 2, 1, 9]   19
262  [7, 5, 4, 3, 8, 6, 2, 9, 1]   19
263  [7, 5, 4, 3, 8, 6, 2, 1, 9]   19
264  [7, 6, 2, 4, 5, 9, 1, 3, 8]   19
265  [7, 6, 2, 4, 5, 9, 1, 8, 3]   19
266  [7, 6, 2, 4, 9, 5, 1, 3, 8]   19
267  [7, 6, 2, 4, 9, 5, 1, 8, 3]   19
268  [7, 6, 4, 2, 5, 9, 3, 1, 8]   19
269  [7, 6, 4, 2, 5, 9, 3, 8, 1]   19
270  [7, 6, 4, 2, 9, 5, 3, 1, 8]   19
271  [7, 6, 4, 2, 9, 5, 3, 8, 1]   19
272  [7, 8, 1, 3, 5, 9, 2, 6, 4]   19
273  [7, 8, 1, 3, 5, 9, 2, 4, 6]   19
274  [7, 8, 1, 3, 9, 5, 2, 6, 4]   19
275  [7, 8, 1, 3, 9, 5, 2, 4, 6]   19
276  [7, 8, 3, 1, 5, 9, 4, 6, 2]   19
277  [7, 8, 3, 1, 5, 9, 4, 2, 6]   19
278  [7, 8, 3, 1, 9, 5, 4, 6, 2]   19
279  [7, 8, 3, 1, 9, 5, 4, 2, 6]   19
280  [7, 9, 1, 2, 6, 8, 3, 5, 4]   19
281  [7, 9, 1, 2, 6, 8, 3, 4, 5]   19
282  [7, 9, 1, 2, 8, 6, 3, 5, 4]   19
283  [7, 9, 1, 2, 8, 6, 3, 4, 5]   19
284  [7, 9, 2, 1, 6, 8, 4, 5, 3]   19
285  [7, 9, 2, 1, 6, 8, 4, 3, 5]   19
286  [7, 9, 2, 1, 8, 6, 4, 5, 3]   19
287  [7, 9, 2, 1, 8, 6, 4, 3, 5]   19
288  [1, 3, 7, 9, 2, 4, 5, 6, 8]   20
289  [1, 3, 7, 9, 2, 4, 5, 8, 6]   20
290  [1, 3, 7, 9, 4, 2, 5, 6, 8]   20
291  [1, 3, 7, 9, 4, 2, 5, 8, 6]   20
292  [1, 6, 8, 5, 2, 4, 9, 7, 3]   20
293  [1, 6, 8, 5, 2, 4, 9, 3, 7]   20
294  [1, 6, 8, 5, 4, 2, 9, 7, 3]   20
295  [1, 6, 8, 5, 4, 2, 9, 3, 7]   20
296  [1, 7, 3, 9, 2, 4, 5, 6, 8]   20
297  [1, 7, 3, 9, 2, 4, 5, 8, 6]   20
298  [1, 7, 3, 9, 4, 2, 5, 6, 8]   20
299  [1, 7, 3, 9, 4, 2, 5, 8, 6]   20
300  [1, 8, 6, 5, 2, 4, 9, 7, 3]   20
301  [1, 8, 6, 5, 2, 4, 9, 3, 7]   20
302  [1, 8, 6, 5, 4, 2, 9, 7, 3]   20
303  [1, 8, 6, 5, 4, 2, 9, 3, 7]   20
304  [2, 1, 9, 8, 3, 4, 5, 7, 6]   20
305  [2, 1, 9, 8, 3, 4, 5, 6, 7]   20
306  [2, 1, 9, 8, 4, 3, 5, 7, 6]   20
307  [2, 1, 9, 8, 4, 3, 5, 6, 7]   20
308  [2, 3, 7, 8, 1, 6, 5, 4, 9]   20
309  [2, 3, 7, 8, 1, 6, 5, 9, 4]   20
310  [2, 3, 7, 8, 6, 1, 5, 4, 9]   20
311  [2, 3, 7, 8, 6, 1, 5, 9, 4]   20
312  [2, 4, 9, 5, 1, 6, 8, 7, 3]   20
313  [2, 4, 9, 5, 1, 6, 8, 3, 7]   20
314  [2, 4, 9, 5, 6, 1, 8, 7, 3]   20
315  [2, 4, 9, 5, 6, 1, 8, 3, 7]   20
316  [2, 6, 7, 5, 3, 4, 8, 9, 1]   20
317  [2, 6, 7, 5, 3, 4, 8, 1, 9]   20
318  [2, 6, 7, 5, 4, 3, 8, 9, 1]   20
319  [2, 6, 7, 5, 4, 3, 8, 1, 9]   20
320  [2, 7, 3, 8, 1, 6, 5, 4, 9]   20
321  [2, 7, 3, 8, 1, 6, 5, 9, 4]   20
322  [2, 7, 3, 8, 6, 1, 5, 4, 9]   20
323  [2, 7, 3, 8, 6, 1, 5, 9, 4]   20
324  [2, 7, 6, 5, 3, 4, 8, 9, 1]   20
325  [2, 7, 6, 5, 3, 4, 8, 1, 9]   20
326  [2, 7, 6, 5, 4, 3, 8, 9, 1]   20
327  [2, 7, 6, 5, 4, 3, 8, 1, 9]   20
328  [2, 9, 1, 8, 3, 4, 5, 7, 6]   20
329  [2, 9, 1, 8, 3, 4, 5, 6, 7]   20
330  [2, 9, 1, 8, 4, 3, 5, 7, 6]   20
331  [2, 9, 1, 8, 4, 3, 5, 6, 7]   20
332  [2, 9, 4, 5, 1, 6, 8, 7, 3]   20
333  [2, 9, 4, 5, 1, 6, 8, 3, 7]   20
334  [2, 9, 4, 5, 6, 1, 8, 7, 3]   20
335  [2, 9, 4, 5, 6, 1, 8, 3, 7]   20
336  [3, 1, 9, 7, 2, 6, 5, 4, 8]   20
337  [3, 1, 9, 7, 2, 6, 5, 8, 4]   20
338  [3, 1, 9, 7, 6, 2, 5, 4, 8]   20
339  [3, 1, 9, 7, 6, 2, 5, 8, 4]   20
340  [3, 4, 8, 5, 2, 6, 7, 9, 1]   20
341  [3, 4, 8, 5, 2, 6, 7, 1, 9]   20
342  [3, 4, 8, 5, 6, 2, 7, 9, 1]   20
343  [3, 4, 8, 5, 6, 2, 7, 1, 9]   20
344  [3, 8, 4, 5, 2, 6, 7, 9, 1]   20
345  [3, 8, 4, 5, 2, 6, 7, 1, 9]   20
346  [3, 8, 4, 5, 6, 2, 7, 9, 1]   20
347  [3, 8, 4, 5, 6, 2, 7, 1, 9]   20
348  [3, 9, 1, 7, 2, 6, 5, 4, 8]   20
349  [3, 9, 1, 7, 2, 6, 5, 8, 4]   20
350  [3, 9, 1, 7, 6, 2, 5, 4, 8]   20
351  [3, 9, 1, 7, 6, 2, 5, 8, 4]   20
352  [4, 1, 9, 6, 2, 7, 5, 3, 8]   20
353  [4, 1, 9, 6, 2, 7, 5, 8, 3]   20
354  [4, 1, 9, 6, 7, 2, 5, 3, 8]   20
355  [4, 1, 9, 6, 7, 2, 5, 8, 3]   20
356  [4, 2, 9, 5, 1, 8, 6, 7, 3]   20
357  [4, 2, 9, 5, 1, 8, 6, 3, 7]   20
358  [4, 2, 9, 5, 8, 1, 6, 7, 3]   20
359  [4, 2, 9, 5, 8, 1, 6, 3, 7]   20
360  [4, 3, 7, 6, 1, 8, 5, 2, 9]   20
361  [4, 3, 7, 6, 1, 8, 5, 9, 2]   20
362  [4, 3, 7, 6, 8, 1, 5, 2, 9]   20
363  [4, 3, 7, 6, 8, 1, 5, 9, 2]   20
364  [4, 3, 8, 5, 2, 7, 6, 9, 1]   20
365  [4, 3, 8, 5, 2, 7, 6, 1, 9]   20
366  [4, 3, 8, 5, 7, 2, 6, 9, 1]   20
367  [4, 3, 8, 5, 7, 2, 6, 1, 9]   20
368  [4, 7, 3, 6, 1, 8, 5, 2, 9]   20
369  [4, 7, 3, 6, 1, 8, 5, 9, 2]   20
370  [4, 7, 3, 6, 8, 1, 5, 2, 9]   20
371  [4, 7, 3, 6, 8, 1, 5, 9, 2]   20
372  [4, 8, 3, 5, 2, 7, 6, 9, 1]   20
373  [4, 8, 3, 5, 2, 7, 6, 1, 9]   20
374  [4, 8, 3, 5, 7, 2, 6, 9, 1]   20
375  [4, 8, 3, 5, 7, 2, 6, 1, 9]   20
376  [4, 9, 1, 6, 2, 7, 5, 3, 8]   20
377  [4, 9, 1, 6, 2, 7, 5, 8, 3]   20
378  [4, 9, 1, 6, 7, 2, 5, 3, 8]   20
379  [4, 9, 1, 6, 7, 2, 5, 8, 3]   20
380  [4, 9, 2, 5, 1, 8, 6, 7, 3]   20
381  [4, 9, 2, 5, 1, 8, 6, 3, 7]   20
382  [4, 9, 2, 5, 8, 1, 6, 7, 3]   20
383  [4, 9, 2, 5, 8, 1, 6, 3, 7]   20
384  [5, 1, 6, 8, 3, 7, 2, 4, 9]   20
385  [5, 1, 6, 8, 3, 7, 2, 9, 4]   20
386  [5, 1, 6, 8, 7, 3, 2, 4, 9]   20
387  [5, 1, 6, 8, 7, 3, 2, 9, 4]   20
388  [5, 1, 8, 6, 3, 7, 4, 2, 9]   20
389  [5, 1, 8, 6, 3, 7, 4, 9, 2]   20
390  [5, 1, 8, 6, 7, 3, 4, 2, 9]   20
391  [5, 1, 8, 6, 7, 3, 4, 9, 2]   20
392  [5, 2, 4, 9, 3, 7, 1, 6, 8]   20
393  [5, 2, 4, 9, 3, 7, 1, 8, 6]   20
394  [5, 2, 4, 9, 7, 3, 1, 6, 8]   20
395  [5, 2, 4, 9, 7, 3, 1, 8, 6]   20
396  [5, 2, 6, 7, 1, 9, 3, 4, 8]   20
397  [5, 2, 6, 7, 1, 9, 3, 8, 4]   20
398  [5, 2, 6, 7, 9, 1, 3, 4, 8]   20
399  [5, 2, 6, 7, 9, 1, 3, 8, 4]   20
400  [5, 2, 7, 6, 1, 9, 4, 3, 8]   20
401  [5, 2, 7, 6, 1, 9, 4, 8, 3]   20
402  [5, 2, 7, 6, 9, 1, 4, 3, 8]   20
403  [5, 2, 7, 6, 9, 1, 4, 8, 3]   20
404  [5, 2, 9, 4, 3, 7, 6, 1, 8]   20
405  [5, 2, 9, 4, 3, 7, 6, 8, 1]   20
406  [5, 2, 9, 4, 7, 3, 6, 1, 8]   20
407  [5, 2, 9, 4, 7, 3, 6, 8, 1]   20
408  [5, 3, 4, 8, 1, 9, 2, 7, 6]   20
409  [5, 3, 4, 8, 1, 9, 2, 6, 7]   20
410  [5, 3, 4, 8, 9, 1, 2, 7, 6]   20
411  [5, 3, 4, 8, 9, 1, 2, 6, 7]   20
412  [5, 3, 8, 4, 1, 9, 6, 7, 2]   20
413  [5, 3, 8, 4, 1, 9, 6, 2, 7]   20
414  [5, 3, 8, 4, 9, 1, 6, 7, 2]   20
415  [5, 3, 8, 4, 9, 1, 6, 2, 7]   20
416  [5, 4, 2, 9, 3, 7, 1, 6, 8]   20
417  [5, 4, 2, 9, 3, 7, 1, 8, 6]   20
418  [5, 4, 2, 9, 7, 3, 1, 6, 8]   20
419  [5, 4, 2, 9, 7, 3, 1, 8, 6]   20
420  [5, 4, 3, 8, 1, 9, 2, 7, 6]   20
421  [5, 4, 3, 8, 1, 9, 2, 6, 7]   20
422  [5, 4, 3, 8, 9, 1, 2, 7, 6]   20
423  [5, 4, 3, 8, 9, 1, 2, 6, 7]   20
424  [5, 4, 8, 3, 1, 9, 7, 6, 2]   20
425  [5, 4, 8, 3, 1, 9, 7, 2, 6]   20
426  [5, 4, 8, 3, 9, 1, 7, 6, 2]   20
427  [5, 4, 8, 3, 9, 1, 7, 2, 6]   20
428  [5, 4, 9, 2, 3, 7, 8, 6, 1]   20
429  [5, 4, 9, 2, 3, 7, 8, 1, 6]   20
430  [5, 4, 9, 2, 7, 3, 8, 6, 1]   20
431  [5, 4, 9, 2, 7, 3, 8, 1, 6]   20
432  [5, 6, 1, 8, 3, 7, 2, 4, 9]   20
433  [5, 6, 1, 8, 3, 7, 2, 9, 4]   20
434  [5, 6, 1, 8, 7, 3, 2, 4, 9]   20
435  [5, 6, 1, 8, 7, 3, 2, 9, 4]   20
436  [5, 6, 2, 7, 1, 9, 3, 4, 8]   20
437  [5, 6, 2, 7, 1, 9, 3, 8, 4]   20
438  [5, 6, 2, 7, 9, 1, 3, 4, 8]   20
439  [5, 6, 2, 7, 9, 1, 3, 8, 4]   20
440  [5, 6, 7, 2, 1, 9, 8, 4, 3]   20
441  [5, 6, 7, 2, 1, 9, 8, 3, 4]   20
442  [5, 6, 7, 2, 9, 1, 8, 4, 3]   20
443  [5, 6, 7, 2, 9, 1, 8, 3, 4]   20
444  [5, 6, 8, 1, 3, 7, 9, 4, 2]   20
445  [5, 6, 8, 1, 3, 7, 9, 2, 4]   20
446  [5, 6, 8, 1, 7, 3, 9, 4, 2]   20
447  [5, 6, 8, 1, 7, 3, 9, 2, 4]   20
448  [5, 7, 2, 6, 1, 9, 4, 3, 8]   20
449  [5, 7, 2, 6, 1, 9, 4, 8, 3]   20
450  [5, 7, 2, 6, 9, 1, 4, 3, 8]   20
451  [5, 7, 2, 6, 9, 1, 4, 8, 3]   20
452  [5, 7, 6, 2, 1, 9, 8, 4, 3]   20
453  [5, 7, 6, 2, 1, 9, 8, 3, 4]   20
454  [5, 7, 6, 2, 9, 1, 8, 4, 3]   20
455  [5, 7, 6, 2, 9, 1, 8, 3, 4]   20
456  [5, 8, 1, 6, 3, 7, 4, 2, 9]   20
457  [5, 8, 1, 6, 3, 7, 4, 9, 2]   20
458  [5, 8, 1, 6, 7, 3, 4, 2, 9]   20
459  [5, 8, 1, 6, 7, 3, 4, 9, 2]   20
460  [5, 8, 3, 4, 1, 9, 6, 7, 2]   20
461  [5, 8, 3, 4, 1, 9, 6, 2, 7]   20
462  [5, 8, 3, 4, 9, 1, 6, 7, 2]   20
463  [5, 8, 3, 4, 9, 1, 6, 2, 7]   20
464  [5, 8, 4, 3, 1, 9, 7, 6, 2]   20
465  [5, 8, 4, 3, 1, 9, 7, 2, 6]   20
466  [5, 8, 4, 3, 9, 1, 7, 6, 2]   20
467  [5, 8, 4, 3, 9, 1, 7, 2, 6]   20
468  [5, 8, 6, 1, 3, 7, 9, 4, 2]   20
469  [5, 8, 6, 1, 3, 7, 9, 2, 4]   20
470  [5, 8, 6, 1, 7, 3, 9, 4, 2]   20
471  [5, 8, 6, 1, 7, 3, 9, 2, 4]   20
472  [5, 9, 2, 4, 3, 7, 6, 1, 8]   20
473  [5, 9, 2, 4, 3, 7, 6, 8, 1]   20
474  [5, 9, 2, 4, 7, 3, 6, 1, 8]   20
475  [5, 9, 2, 4, 7, 3, 6, 8, 1]   20
476  [5, 9, 4, 2, 3, 7, 8, 6, 1]   20
477  [5, 9, 4, 2, 3, 7, 8, 1, 6]   20
478  [5, 9, 4, 2, 7, 3, 8, 6, 1]   20
479  [5, 9, 4, 2, 7, 3, 8, 1, 6]   20
480  [6, 1, 8, 5, 2, 9, 4, 7, 3]   20
481  [6, 1, 8, 5, 2, 9, 4, 3, 7]   20
482  [6, 1, 8, 5, 9, 2, 4, 7, 3]   20
483  [6, 1, 8, 5, 9, 2, 4, 3, 7]   20
484  [6, 1, 9, 4, 3, 8, 5, 7, 2]   20
485  [6, 1, 9, 4, 3, 8, 5, 2, 7]   20
486  [6, 1, 9, 4, 8, 3, 5, 7, 2]   20
487  [6, 1, 9, 4, 8, 3, 5, 2, 7]   20
488  [6, 2, 7, 5, 3, 8, 4, 9, 1]   20
489  [6, 2, 7, 5, 3, 8, 4, 1, 9]   20
490  [6, 2, 7, 5, 8, 3, 4, 9, 1]   20
491  [6, 2, 7, 5, 8, 3, 4, 1, 9]   20
492  [6, 3, 7, 4, 2, 9, 5, 1, 8]   20
493  [6, 3, 7, 4, 2, 9, 5, 8, 1]   20
494  [6, 3, 7, 4, 9, 2, 5, 1, 8]   20
495  [6, 3, 7, 4, 9, 2, 5, 8, 1]   20
496  [6, 7, 2, 5, 3, 8, 4, 9, 1]   20
497  [6, 7, 2, 5, 3, 8, 4, 1, 9]   20
498  [6, 7, 2, 5, 8, 3, 4, 9, 1]   20
499  [6, 7, 2, 5, 8, 3, 4, 1, 9]   20
500  [6, 7, 3, 4, 2, 9, 5, 1, 8]   20
501  [6, 7, 3, 4, 2, 9, 5, 8, 1]   20
502  [6, 7, 3, 4, 9, 2, 5, 1, 8]   20
503  [6, 7, 3, 4, 9, 2, 5, 8, 1]   20
504  [6, 8, 1, 5, 2, 9, 4, 7, 3]   20
505  [6, 8, 1, 5, 2, 9, 4, 3, 7]   20
506  [6, 8, 1, 5, 9, 2, 4, 7, 3]   20
507  [6, 8, 1, 5, 9, 2, 4, 3, 7]   20
508  [6, 9, 1, 4, 3, 8, 5, 7, 2]   20
509  [6, 9, 1, 4, 3, 8, 5, 2, 7]   20
510  [6, 9, 1, 4, 8, 3, 5, 7, 2]   20
511  [6, 9, 1, 4, 8, 3, 5, 2, 7]   20
512  [7, 1, 9, 3, 4, 8, 5, 6, 2]   20
513  [7, 1, 9, 3, 4, 8, 5, 2, 6]   20
514  [7, 1, 9, 3, 8, 4, 5, 6, 2]   20
515  [7, 1, 9, 3, 8, 4, 5, 2, 6]   20
516  [7, 2, 6, 5, 4, 8, 3, 9, 1]   20
517  [7, 2, 6, 5, 4, 8, 3, 1, 9]   20
518  [7, 2, 6, 5, 8, 4, 3, 9, 1]   20
519  [7, 2, 6, 5, 8, 4, 3, 1, 9]   20
520  [7, 6, 2, 5, 4, 8, 3, 9, 1]   20
521  [7, 6, 2, 5, 4, 8, 3, 1, 9]   20
522  [7, 6, 2, 5, 8, 4, 3, 9, 1]   20
523  [7, 6, 2, 5, 8, 4, 3, 1, 9]   20
524  [7, 9, 1, 3, 4, 8, 5, 6, 2]   20

In [27]:
#Q6
solve2(range(1,6),[[0,1,2],[3,1,4],[0,2,3,4]])

[[0, 1, 2], [3, 1, 4]]
[[0, 2, 3, 4]]
[[0, 1, 2], [3, 4]]
5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

          solution  sum
0  [1, 5, 4, 2, 3]   10
1  [1, 5, 4, 3, 2]   10
2  [2, 5, 3, 1, 4]   10
3  [2, 5, 3, 4, 1]   10
4  [3, 5, 2, 1, 4]   10
5  [3, 5, 2, 4, 1]   10
6  [4, 5, 1, 2, 3]   10
7  [4, 5, 1, 3, 2]   10

In [162]:
#Q7
solve2(range(1,11),[[0,1,2],[2,3,4],[4,5,6],[6,7,8],[8,9,0]])

[[0, 1, 2], [2, 3, 4], [4, 5, 6], [6, 7, 8], [8, 9, 0]]
[]
[[0, 1, 2], [3, 4], [5, 6], [8, 7], [9]]
5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

                           solution  sum
0   [1, 9, 4, 8, 2, 7, 5, 6, 3, 10]   14
1   [1, 10, 3, 6, 5, 7, 2, 8, 4, 9]   14
2   [2, 7, 5, 6, 3, 10, 1, 9, 4, 8]   14
3   [2, 8, 4, 9, 1, 10, 3, 6, 5, 7]   14
4   [3, 6, 5, 7, 2, 8, 4, 9, 1, 10]   14
5   [3, 10, 1, 9, 4, 8, 2, 7, 5, 6]   14
6   [4, 8, 2, 7, 5, 6, 3, 10, 1, 9]   14
7   [4, 9, 1, 10, 3, 6, 5, 7, 2, 8]   14
8   [5, 6, 3, 10, 1, 9, 4, 8, 2, 7]   14
9   [5, 7, 2, 8, 4, 9, 1, 10, 3, 6]   14
10  [1, 5, 10, 2, 4, 9, 3, 6, 7, 8]   16
11  [1, 8, 7, 6, 3, 4, 9, 2, 5, 10]   16
12  [1, 8, 7, 6, 3, 9, 4, 2, 10, 5]   16
13  [1, 10, 5, 2, 9, 4, 3, 6, 7, 8]   16
14  [3, 4, 9, 2, 5, 10, 1, 8, 7, 6]   16
15  [3, 6, 7, 8, 1, 5, 10, 2, 4, 9]   16
16  [3, 6, 7, 8, 1, 10, 5, 2, 9, 4]   16
17  [3, 9, 4, 2, 10, 5, 1, 8, 7, 6]   16
18  [4, 2, 10, 5, 1, 8, 7, 6, 3, 9]   16
19  [4, 9, 3, 6, 7, 8, 1, 5, 10, 2]   16
20  [5, 2, 9, 4, 3, 6, 7, 8, 1, 10]   16
21  [5, 10, 1, 8, 7, 6, 3, 4, 9, 2]   16
22  [7, 6, 3, 4, 9, 2, 5, 10, 1, 8]   16
23  [7, 6, 3, 9, 4, 2, 10, 5, 1, 8]   16
24  [7, 8, 1, 5, 10, 2, 4, 9, 3, 6]   16
25  [7, 8, 1, 10, 5, 2, 9, 4, 3, 6]   16
26  [9, 2, 5, 10, 1, 8, 7, 6, 3, 4]   16
27  [9, 4, 3, 6, 7, 8, 1, 10, 5, 2]   16
28  [10, 2, 4, 9, 3, 6, 7, 8, 1, 5]   16
29  [10, 5, 1, 8, 7, 6, 3, 9, 4, 2]   16
30  [1, 6, 10, 3, 4, 5, 8, 2, 7, 9]   17
31  [1, 9, 7, 2, 8, 5, 4, 3, 10, 6]   17
32  [2, 7, 8, 5, 4, 3, 10, 1, 6, 9]   17
33  [2, 9, 6, 1, 10, 3, 4, 5, 8, 7]   17
34  [4, 3, 10, 1, 6, 9, 2, 7, 8, 5]   17
35  [4, 3, 10, 6, 1, 9, 7, 2, 8, 5]   17
36  [4, 5, 8, 2, 7, 9, 1, 6, 10, 3]   17
37  [4, 5, 8, 7, 2, 9, 6, 1, 10, 3]   17
38  [6, 1, 10, 3, 4, 5, 8, 7, 2, 9]   17
39  [6, 9, 2, 7, 8, 5, 4, 3, 10, 1]   17
40  [7, 2, 8, 5, 4, 3, 10, 6, 1, 9]   17
41  [7, 9, 1, 6, 10, 3, 4, 5, 8, 2]   17
42  [8, 2, 7, 9, 1, 6, 10, 3, 4, 5]   17
43  [8, 5, 4, 3, 10, 1, 6, 9, 2, 7]   17
44  [8, 5, 4, 3, 10, 6, 1, 9, 7, 2]   17
45  [8, 7, 2, 9, 6, 1, 10, 3, 4, 5]   17
46  [10, 1, 6, 9, 2, 7, 8, 5, 4, 3]   17
47  [10, 3, 4, 5, 8, 2, 7, 9, 1, 6]   17
48  [10, 3, 4, 5, 8, 7, 2, 9, 6, 1]   17
49  [10, 6, 1, 9, 7, 2, 8, 5, 4, 3]   17
50  [6, 4, 9, 3, 7, 2, 10, 1, 8, 5]   19
51  [6, 5, 8, 1, 10, 2, 7, 3, 9, 4]   19
52  [7, 2, 10, 1, 8, 5, 6, 4, 9, 3]   19
53  [7, 3, 9, 4, 6, 5, 8, 1, 10, 2]   19
54  [8, 1, 10, 2, 7, 3, 9, 4, 6, 5]   19
55  [8, 5, 6, 4, 9, 3, 7, 2, 10, 1]   19
56  [9, 3, 7, 2, 10, 1, 8, 5, 6, 4]   19
57  [9, 4, 6, 5, 8, 1, 10, 2, 7, 3]   19
58  [10, 1, 8, 5, 6, 4, 9, 3, 7, 2]   19
59  [10, 2, 7, 3, 9, 4, 6, 5, 8, 1]   19

In [39]:
#Q9
d=solve2(range(1,10),[[0,1,2],[3,4,5],[7,8],[1,5,8],[0,4],[0,6,7],[3,6,8]])

[[0, 1, 2], [3, 4, 5], [7, 8], [0, 6, 7]]
[[1, 5, 8], [0, 4], [3, 6, 8]]
[[0, 1, 2], [3, 4, 5], [8, 7], [6]]
5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [48]:
d.shape[0]

1

In [50]:
import numpy as np
import pandas as pd
def solvewt(num, ck_grid,wt, sample=False):
    result=[]
    ck=[]
    poslist=permutations(num)
    for p in poslist:
        rt_sum=16
        for grid in ck_grid:
            sums=sum(p[pt] for pt in grid)+wt[ck_grid.index(grid)]
            if rt_sum==None: rt_sum=sums
            elif rt_sum!=sums or (sample==True and sums in ck): break
        else: 
            result.append([p,rt_sum])
            ck.append(rt_sum)
    result=pd.DataFrame(sorted(result,key=lambda x: x[1]),columns=['solution','sum'])
    return result

In [51]:
for wt in permutations([0,1,2,3,4]):
    y=solvewt(range(1,10),[[0,1],[1,2,3],[3,4,5],[5,6,7],[7,8]],wt)
    if y.shape[0]>0: print(y)

                      solution  sum
0  (7, 9, 1, 5, 6, 3, 2, 8, 4)   16
                      solution  sum
0  (7, 9, 1, 5, 4, 3, 2, 8, 6)   16
                      solution  sum
0  (7, 9, 3, 2, 5, 6, 1, 8, 4)   16
                      solution  sum
0  (7, 9, 3, 2, 4, 6, 1, 8, 5)   16
1  (9, 7, 1, 6, 2, 4, 3, 8, 5)   16
2  (9, 7, 3, 4, 2, 6, 1, 8, 5)   16
                      solution  sum
0  (7, 9, 1, 3, 6, 5, 2, 8, 4)   16
                      solution  sum
0  (7, 9, 1, 3, 4, 5, 2, 8, 6)   16

KeyboardInterrupt:

In [52]:
import sklearn

ModuleNotFoundError: No module named 'sklearn'

Collecting skleran
  Could not find a version that satisfies the requirement skleran (from versions: )
No matching distribution found for skleran
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [54]:
!pip install --upgrade pip

Collecting pip
  Downloading https://files.pythonhosted.org/packages/c2/d7/90f34cb0d83a6c5631cf71dfe64cc1054598c843a92b400e55675cc2ac37/pip-18.1-py2.py3-none-any.whl (1.3MB)
    100% |████████████████████████████████| 1.3MB 6.4MB/s eta 0:00:01
Installing collected packages: pip
  Found existing installation: pip 18.0
    Uninstalling pip-18.0:
      Successfully uninstalled pip-18.0
Successfully installed pip-18.1

In [57]:
import sklearn

In [58]:
!pip install graphviz

Collecting graphviz
  Downloading https://files.pythonhosted.org/packages/a1/33/a0d49e007ce2f55954eb5d2058817af18f4e22ea69142880e1c46d32c37b/graphviz-0.10-py2.py3-none-any.whl
Installing collected packages: graphviz
Successfully installed graphviz-0.10

In [59]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [60]:
iris = load_iris()

In [61]:
random_seed = 5 # set seed for same train test data split
x_train, x_test, y_train, y_test = train_test_split(iris.data, iris.target,
                                                    random_state=random_seed
                                                   )

In [62]:
clf = DecisionTreeClassifier()

In [66]:
clf.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [64]:
y_pred = clf.predict(x_test)

In [65]:
accuracy_score(y_test, y_pred)

0.9473684210526315

In [75]:
import graphviz
from sklearn.tree import export_graphviz
dot_data = export_graphviz(clf, out_file=None) 
graph = graphviz.Source(dot_data) 
graph.view()

'Source.gv.pdf'

In [69]:
from graphviz import Graph

In [78]:
dot_data = export_graphviz(clf, out_file=None, 
                         feature_names=iris.feature_names,  
                         class_names=iris.target_names,  
                         filled=True, rounded=True,  
                         special_characters=True)  
graph = graphviz.Source(dot_data)

In [79]:
graph

In [77]:
graph.view()

'Source.gv.pdf'

In [129]:
train=pd.read_csv('train.csv')

In [90]:
test=pd.read_csv('test.csv')

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.50,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.00,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.00,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.00,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.00,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.00,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.00,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.00,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.00,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.00,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.00,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.00,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.00,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.00,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.00,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.00,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.00,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.00,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.00,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.00,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.00,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.00,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.00,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.50,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.00,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
30,922,2,"Louch, Mr. Charles Alexander",male,50.00,1,0,SC/AH 3085,26.0000,NaN,S
31,923,2,"Jefferys, Mr. Clifford Thomas",male,24.00,2,0,C.A. 31029,31.5000,NaN,S
32,924,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33.00,1,2,C.A. 2315,20.5750,NaN,S
33,925,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
34,926,1,"Mock, Mr. Philipp Edmund",male,30.00,1,0,13236,57.7500,C78,C
35,927,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",male,18.50,0,0,2682,7.2292,NaN,C
36,928,3,"Roth, Miss. Sarah A",female,NaN,0,0,342712,8.0500,NaN,S
37,929,3,"Cacic, Miss. Manda",female,21.00,0,0,315087,8.6625,NaN,S
38,930,3,"Sap, Mr. Julius",male,25.00,0,0,345768,9.5000,NaN,S
39,931,3,"Hee, Mr. Ling",male,NaN,0,0,1601,56.4958,NaN,S
40,932,3,"Karun, Mr. Franz",male,39.00,0,1,349256,13.4167,NaN,C
41,933,1,"Franklin, Mr. Thomas Parham",male,NaN,0,0,113778,26.5500,D34,S
42,934,3,"Goldsmith, Mr. Nathan",male,41.00,0,0,SOTON/O.Q. 3101263,7.8500,NaN,S
43,935,2,"Corbett, Mrs. Walter H (Irene Colvin)",female,30.00,0,0,237249,13.0000,NaN,S
44,936,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",female,45.00,1,0,11753,52.5542,D19,S
45,937,3,"Peltomaki, Mr. Nikolai Johannes",male,25.00,0,0,STON/O 2. 3101291,7.9250,NaN,S
46,938,1,"Chevre, Mr. Paul Romaine",male,45.00,0,0,PC 17594,29.7000,A9,C
47,939,3,"Shaughnessy, Mr. Patrick",male,NaN,0,0,370374,7.7500,NaN,Q
48,940,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.00,0,0,11813,76.2917,D15,C
49,941,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",female,36.00,0,2,C.A. 37671,15.9000,NaN,S
50,942,1,"Smith, Mr. Lucien Philip",male,24.00,1,0,13695,60.0000,C31,S
51,943,2,"Pulbaum, Mr. Franz",male,27.00,0,0,SC/PARIS 2168,15.0333,NaN,C
52,944,2,"Hocking, Miss. Ellen Nellie""""",female,20.00,2,1,29105,23.0000,NaN,S
53,945,1,"Fortune, Miss. Ethel Flora",female,28.00,3,2,19950,263.0000,C23 C25 C27,S
54,946,2,"Mangiavacchi, Mr. Serafino Emilio",male,NaN,0,0,SC/A.3 2861,15.5792,NaN,C
55,947,3,"Rice, Master. Albert",male,10.00,4,1,382652,29.1250,NaN,Q
56,948,3,"Cor, Mr. Bartol",male,35.00,0,0,349230,7.8958,NaN,S
57,949,3,"Abelseth, Mr. Olaus Jorgensen",male,25.00,0,0,348122,7.6500,F G63,S
58,950,3,"Davison, Mr. Thomas Henry",male,NaN,1,0,386525,16.1000,NaN,S
59,951,1,"Chaudanson, Miss. Victorine",female,36.00,0,0,PC 17608,262.3750,B61,C
60,952,3,"Dika, Mr. Mirko",male,17.00,0,0,349232,7.8958,NaN,S
61,953,2,"McCrae, Mr. Arthur Gordon",male,32.00,0,0,237216,13.5000,NaN,S
62,954,3,"Bjorklund, Mr. Ernst Herbert",male,18.00,0,0,347090,7.7500,NaN,S
63,955,3,"Bradley, Miss. Bridget Delia",female,22.00,0,0,334914,7.7250,NaN,Q
64,956,1,"Ryerson, Master. John Borie",male,13.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
65,957,2,"Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi...",female,NaN,0,0,F.C.C. 13534,21.0000,NaN,S
66,958,3,"Burns, Miss. Mary Delia",female,18.00,0,0,330963,7.8792,NaN,Q
67,959,1,"Moore, Mr. Clarence Bloomfield",male,47.00,0,0,113796,42.4000,NaN,S
68,960,1,"Tucker, Mr. Gilbert Milligan Jr",male,31.00,0,0,2543,28.5375,C53,C
69,961,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.00,1,4,19950,263.0000,C23 C25 C27,S
70,962,3,"Mulvihill, Miss. Bertha E",female,24.00,0,0,382653,7.7500,NaN,Q
71,963,3,"Minkoff, Mr. Lazar",male,21.00,0,0,349211,7.8958,NaN,S
72,964,3,"Nieminen, Miss. Manta Josefina",female,29.00,0,0,3101297,7.9250,NaN,S
73,965,1,"Ovies y Rodriguez, Mr. Servando",male,28.50,0,0,PC 17562,27.7208,D43,C
74,966,1,"Geiger, Miss. Amalie",female,35.00,0,0,113503,211.5000,C130,C
75,967,1,"Keeping, Mr. Edwin",male,32.50,0,0,113503,211.5000,C132,C
76,968,3,"Miles, Mr. Frank",male,NaN,0,0,359306,8.0500,NaN,S
77,969,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.00,2,0,11770,25.7000,C101,S
78,970,2,"Aldworth, Mr. Charles Augustus",male,30.00,0,0,248744,13.0000,NaN,S
79,971,3,"Doyle, Miss. Elizabeth",female,24.00,0,0,368702,7.7500,NaN,Q
80,972,3,"Boulos, Master. Akar",male,6.00,1,1,2678,15.2458,NaN,C
81,973,1,"Straus, Mr. Isidor",male,67.00,1,0,PC 17483,221.7792,C55 C57,S
82,974,1,"Case, Mr. Howard Brown",male,49.00,0,0,19924,26.0000,NaN,S
83,975,3,"Demetri, Mr. Marinko",male,NaN,0,0,349238,7.8958,NaN,S
84,976,2,"Lamb, Mr. John Joseph",male,NaN,0,0,240261,10.7083,NaN,Q
85,977,3,"Khalil, Mr. Betros",male,NaN,1,0,2660,14.4542,NaN,C
86,978,3,"Barry, Miss. Julia",female,27.00,0,0,330844,7.8792,NaN,Q
87,979,3,"Badman, Miss. Emily Louisa",female,18.00,0,0,A/4 31416,8.0500,NaN,S
88,980,3,"O'Donoghue, Ms. Bridget",female,NaN,0,0,364856,7.7500,NaN,Q
89,981,2,"Wells, Master. Ralph Lester",male,2.00,1,1,29103,23.0000,NaN,S
90,982,3,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...",female,22.00,1,0,347072,13.9000,NaN,S
91,983,3,"Pedersen, Mr. Olaf",male,NaN,0,0,345498,7.7750,NaN,S
92,984,1,"Davidson, Mrs. Thornton (Orian Hays)",female,27.00,1,2,F.C. 12750,52.0000,B71,S
93,985,3,"Guest, Mr. Robert",male,NaN,0,0,376563,8.0500,NaN,S
94,986,1,"Birnbaum, Mr. Jakob",male,25.00,0,0,13905,26.0000,NaN,C
95,987,3,"Tenglin, Mr. Gunnar Isidor",male,25.00,0,0,350033,7.7958,NaN,S
96,988,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.00,1,0,19877,78.8500,C46,S
97,989,3,"Makinen, Mr. Kalle Edvard",male,29.00,0,0,STON/O 2. 3101268,7.9250,NaN,S
98,990,3,"Braf, Miss. Elin Ester Maria",female,20.00,0,0,347471,7.8542,NaN,S
99,991,3,"Nancarrow, Mr. William Henry",male,33.00,0,0,A./5. 3338,8.0500,NaN,S
100,992,1,"Stengel, Mrs. Charles Emil Henry (Annie May Mo...",female,43.00,1,0,11778,55.4417,C116,C
101,993,2,"Weisz, Mr. Leopold",male,27.00,1,0,228414,26.0000,NaN,S
102,994,3,"Foley, Mr. William",male,NaN,0,0,365235,7.7500,NaN,Q
103,995,3,"Johansson Palmquist, Mr. Oskar Leander",male,26.00,0,0,347070,7.7750,NaN,S
104,996,3,"Thomas, Mrs. Alexander (Thamine Thelma"")""",female,16.00,1,1,2625,8.5167,NaN,C
105,997,3,"Holthen, Mr. Johan Martin",male,28.00,0,0,C 4001,22.5250,NaN,S
106,998,3,"Buckley, Mr. Daniel",male,21.00,0,0,330920,7.8208,NaN,Q
107,999,3,"Ryan, Mr. Edward",male,NaN,0,0,383162,7.7500,NaN,Q
108,1000,3,"Willer, Mr. Aaron (Abi Weller"")""",male,NaN,0,0,3410,8.7125,NaN,S
109,1001,2,"Swane, Mr. George",male,18.50,0,0,248734,13.0000,F,S
110,1002,2,"Stanton, Mr. Samuel Ward",male,41.00,0,0,237734,15.0458,NaN,C
111,1003,3,"Shine, Miss. Ellen Natalia",female,NaN,0,0,330968,7.7792,NaN,Q
112,1004,1,"Evans, Miss. Edith Corse",female,36.00,0,0,PC 17531,31.6792,A29,C
113,1005,3,"Buckley, Miss. Katherine",female,18.50,0,0,329944,7.2833,NaN,Q
114,1006,1,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63.00,1,0,PC 17483,221.7792,C55 C57,S
115,1007,3,"Chronopoulos, Mr. Demetrios",male,18.00,1,0,2680,14.4542,NaN,C
116,1008,3,"Thomas, Mr. John",male,NaN,0,0,2681,6.4375,NaN,C
117,1009,3,"Sandstrom, Miss. Beatrice Irene",female,1.00,1,1,PP 9549,16.7000,G6,S
118,1010,1,"Beattie, Mr. Thomson",male,36.00,0,0,13050,75.2417,C6,C
119,1011,2,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)",female,29.00,1,0,SC/AH 29037,26.0000,NaN,S
120,1012,2,"Watt, Miss. Bertha J",female,12.00,0,0,C.A. 33595,15.7500,NaN,S
121,1013,3,"Kiernan, Mr. John",male,NaN,1,0,367227,7.7500,NaN,Q
122,1014,1,"Schabert, Mrs. Paul (Emma Mock)",female,35.00,1,0,13236,57.7500,C28,C
123,1015,3,"Carver, Mr. Alfred John",male,28.00,0,0,392095,7.2500,NaN,S
124,1016,3,"Kennedy, Mr. John",male,NaN,0,0,368783,7.7500,NaN,Q
125,1017,3,"Cribb, Miss. Laura Alice",female,17.00,0,1,371362,16.1000,NaN,S
126,1018,3,"Brobeck, Mr. Karl Rudolf",male,22.00,0,0,350045,7.7958,NaN,S
127,1019,3,"McCoy, Miss. Alicia",female,NaN,2,0,367226,23.2500,NaN,Q
128,1020,2,"Bowenur, Mr. Solomon",male,42.00,0,0,211535,13.0000,NaN,S
129,1021,3,"Petersen, Mr. Marius",male,24.00,0,0,342441,8.0500,NaN,S
130,1022,3,"Spinner, Mr. Henry John",male,32.00,0,0,STON/OQ. 369943,8.0500,NaN,S
131,1023,1,"Gracie, Col. Archibald IV",male,53.00,0,0,113780,28.5000,C51,C
132,1024,3,"Lefebre, Mrs. Frank (Frances)",female,NaN,0,4,4133,25.4667,NaN,S
133,1025,3,"Thomas, Mr. Charles P",male,NaN,1,0,2621,6.4375,NaN,C
134,1026,3,"Dintcheff, Mr. Valtcho",male,43.00,0,0,349226,7.8958,NaN,S
135,1027,3,"Carlsson, Mr. Carl Robert",male,24.00,0,0,350409,7.8542,NaN,S
136,1028,3,"Zakarian, Mr. Mapriededer",male,26.50,0,0,2656,7.2250,NaN,C
137,1029,2,"Schmidt, Mr. August",male,26.00,0,0,248659,13.0000,NaN,S
138,1030,3,"Drapkin, Miss. Jennie",female,23.00,0,0,SOTON/OQ 392083,8.0500,NaN,S
139,1031,3,"Goodwin, Mr. Charles Frederick",male,40.00,1,6,CA 2144,46.9000,NaN,S
140,1032,3,"Goodwin, Miss. Jessie Allis",female,10.00,5,2,CA 2144,46.9000,NaN,S
141,1033,1,"Daniels, Miss. Sarah",female,33.00,0,0,113781,151.5500,NaN,S
142,1034,1,"Ryerson, Mr. Arthur Larned",male,61.00,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
143,1035,2,"Beauchamp, Mr. Henry James",male,28.00,0,0,244358,26.0000,NaN,S
144,1036,1,"Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lin...",male,42.00,0,0,17475,26.5500,NaN,S
145,1037,3,"Vander Planke, Mr. Julius",male,31.00,3,0,345763,18.0000,NaN,S
146,1038,1,"Hilliard, Mr. Herbert Henry",male,NaN,0,0,17463,51.8625,E46,S
147,1039,3,"Davies, Mr. Evan",male,22.00,0,0,SC/A4 23568,8.0500,NaN,S
148,1040,1,"Crafton, Mr. John Bertram",male,NaN,0,0,113791,26.5500,NaN,S
149,1041,2,"Lahtinen, Rev. William",male,30.00,1,1,250651,26.0000,NaN,S
150,1042,1,"Earnshaw, Mrs. Boulton (Olive Potter)",female,23.00,0,1,11767,83.1583,C54,C
151,1043,3,"Matinoff, Mr. Nicola",male,NaN,0,0,349255,7.8958,NaN,C
152,1044,3,"Storey, Mr. Thomas",male,60.50,0,0,3701,NaN,NaN,S
153,1045,3,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)",female,36.00,0,2,350405,12.1833,NaN,S
154,1046,3,"Asplund, Master. Filip Oscar",male,13.00,4,2,347077,31.3875,NaN,S
155,1047,3,"Duquemin, Mr. Joseph",male,24.00,0,0,S.O./P.P. 752,7.5500,NaN,S
156,1048,1,"Bird, Miss. Ellen",female,29.00,0,0,PC 17483,221.7792,C97,S
157,1049,3,"Lundin, Miss. Olga Elida",female,23.00,0,0,347469,7.8542,NaN,S
158,1050,1,"Borebank, Mr. John James",male,42.00,0,0,110489,26.5500,D22,S
159,1051,3,"Peacock, Mrs. Benjamin (Edith Nile)",female,26.00,0,2,SOTON/O.Q. 3101315,13.7750,NaN,S
160,1052,3,"Smyth, Miss. Julia",female,NaN,0,0,335432,7.7333,NaN,Q
161,1053,3,"Touma, Master. Georges Youssef",male,7.00,1,1,2650,15.2458,NaN,C
162,1054,2,"Wright, Miss. Marion",female,26.00,0,0,220844,13.5000,NaN,S
163,1055,3,"Pearce, Mr. Ernest",male,NaN,0,0,343271,7.0000,NaN,S
164,1056,2,"Peruschitz, Rev. Joseph Maria",male,41.00,0,0,237393,13.0000,NaN,S
165,1057,3,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",female,26.00,1,1,315153,22.0250,NaN,S
166,1058,1,"Brandeis, Mr. Emil",male,48.00,0,0,PC 17591,50.4958,B10,C
167,1059,3,"Ford, Mr. Edward Watson",male,18.00,2,2,W./C. 6608,34.3750,NaN,S
168,1060,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...",female,NaN,0,0,17770,27.7208,NaN,C
169,1061,3,"Hellstrom, Miss. Hilda Maria",female,22.00,0,0,7548,8.9625,NaN,S
170,1062,3,"Lithman, Mr. Simon",male,NaN,0,0,S.O./P.P. 251,7.5500,NaN,S
171,1063,3,"Zakarian, Mr. Ortin",male,27.00,0,0,2670,7.2250,NaN,C
172,1064,3,"Dyker, Mr. Adolf Fredrik",male,23.00,1,0,347072,13.9000,NaN,S
173,1065,3,"Torfa, Mr. Assad",male,NaN,0,0,2673,7.2292,NaN,C
174,1066,3,"Asplund, Mr. Carl Oscar Vilhelm Gustafsson",male,40.00,1,5,347077,31.3875,NaN,S
175,1067,2,"Brown, Miss. Edith Eileen",female,15.00,0,2,29750,39.0000,NaN,S
176,1068,2,"Sincock, Miss. Maude",female,20.00,0,0,C.A. 33112,36.7500,NaN,S
177,1069,1,"Stengel, Mr. Charles Emil Henry",male,54.00,1,0,11778,55.4417,C116,C
178,1070,2,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",female,36.00,0,3,230136,39.0000,F4,S
179,1071,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.00,0,2,PC 17756,83.1583,E45,C
180,1072,2,"McCrie, Mr. James Matthew",male,30.00,0,0,233478,13.0000,NaN,S
181,1073,1,"Compton, Mr. Alexander Taylor Jr",male,37.00,1,1,PC 17756,83.1583,E52,C
182,1074,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmic...",female,18.00,1,0,113773,53.1000,D30,S
183,1075,3,"Lane, Mr. Patrick",male,NaN,0,0,7935,7.7500,NaN,Q
184,1076,1,"Douglas, Mrs. Frederick Charles (Mary Helene B...",female,27.00,1,1,PC 17558,247.5208,B58 B60,C
185,1077,2,"Maybery, Mr. Frank Hubert",male,40.00,0,0,239059,16.0000,NaN,S
186,1078,2,"Phillips, Miss. Alice Frances Louisa",female,21.00,0,1,S.O./P.P. 2,21.0000,NaN,S
187,1079,3,"Davies, Mr. Joseph",male,17.00,2,0,A/4 48873,8.0500,NaN,S
188,1080,3,"Sage, Miss. Ada",female,NaN,8,2,CA. 2343,69.5500,NaN,S
189,1081,2,"Veal, Mr. James",male,40.00,0,0,28221,13.0000,NaN,S
190,1082,2,"Angle, Mr. William A",male,34.00,1,0,226875,26.0000,NaN,S
191,1083,1,"Salomon, Mr. Abraham L",male,NaN,0,0,111163,26.0000,NaN,S
192,1084,3,"van Billiard, Master. Walter John",male,11.50,1,1,A/5. 851,14.5000,NaN,S
193,1085,2,"Lingane, Mr. John",male,61.00,0,0,235509,12.3500,NaN,Q
194,1086,2,"Drew, Master. Marshall Brines",male,8.00,0,2,28220,32.5000,NaN,S
195,1087,3,"Karlsson, Mr. Julius Konrad Eugen",male,33.00,0,0,347465,7.8542,NaN,S
196,1088,1,"Spedden, Master. Robert Douglas",male,6.00,0,2,16966,134.5000,E34,C
197,1089,3,"Nilsson, Miss. Berta Olivia",female,18.00,0,0,347066,7.7750,NaN,S
198,1090,2,"Baimbrigge, Mr. Charles Robert",male,23.00,0,0,C.A. 31030,10.5000,NaN,S
199,1091,3,"Rasmussen, Mrs. (Lena Jacobsen Solvang)",female,NaN,0,0,65305,8.1125,NaN,S
200,1092,3,"Murphy, Miss. Nora",female,NaN,0,0,36568,15.5000,NaN,Q
201,1093,3,"Danbom, Master. Gilbert Sigvard Emanuel",male,0.33,0,2,347080,14.4000,NaN,S
202,1094,1,"Astor, Col. John Jacob",male,47.00,1,0,PC 17757,227.5250,C62 C64,C
203,1095,2,"Quick, Miss. Winifred Vera",female,8.00,1,1,26360,26.0000,NaN,S
204,1096,2,"Andrew, Mr. Frank Thomas",male,25.00,0,0,C.A. 34050,10.5000,NaN,S
205,1097,1,"Omont, Mr. Alfred Fernand",male,NaN,0,0,F.C. 12998,25.7417,NaN,C
206,1098,3,"McGowan, Miss. Katherine",female,35.00,0,0,9232,7.7500,NaN,Q
207,1099,2,"Collett, Mr. Sidney C Stuart",male,24.00,0,0,28034,10.5000,NaN,S
208,1100,1,"Rosenbaum, Miss. Edith Louise",female,33.00,0,0,PC 17613,27.7208,A11,C
209,1101,3,"Delalic, Mr. Redjo",male,25.00,0,0,349250,7.8958,NaN,S
210,1102,3,"Andersen, Mr. Albert Karvin",male,32.00,0,0,C 4001,22.5250,NaN,S
211,1103,3,"Finoli, Mr. Luigi",male,NaN,0,0,SOTON/O.Q. 3101308,7.0500,NaN,S
212,1104,2,"Deacon, Mr. Percy William",male,17.00,0,0,S.O.C. 14879,73.5000,NaN,S
213,1105,2,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",female,60.00,1,0,24065,26.0000,NaN,S
214,1106,3,"Andersson, Miss. Ida Augusta Margareta",female,38.00,4,2,347091,7.7750,NaN,S
215,1107,1,"Head, Mr. Christopher",male,42.00,0,0,113038,42.5000,B11,S
216,1108,3,"Mahon, Miss. Bridget Delia",female,NaN,0,0,330924,7.8792,NaN,Q
217,1109,1,"Wick, Mr. George Dennick",male,57.00,1,1,36928,164.8667,NaN,S
218,1110,1,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50.00,1,1,113503,211.5000,C80,C
219,1111,3,"Thomson, Mr. Alexander Morrison",male,NaN,0,0,32302,8.0500,NaN,S
220,1112,2,"Duran y More, Miss. Florentina",female,30.00,1,0,SC/PARIS 2148,13.8583,NaN,C
221,1113,3,"Reynolds, Mr. Harold J",male,21.00,0,0,342684,8.0500,NaN,S
222,1114,2,"Cook, Mrs. (Selena Rogers)",female,22.00,0,0,W./C. 14266,10.5000,F33,S
223,1115,3,"Karlsson, Mr. Einar Gervasius",male,21.00,0,0,350053,7.7958,NaN,S
224,1116,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.00,0,0,PC 17606,27.4458,NaN,C
225,1117,3,"Moubarek, Mrs. George (Omine Amenia"" Alexander)""",female,NaN,0,2,2661,15.2458,NaN,C
226,1118,3,"Asplund, Mr. Johan Charles",male,23.00,0,0,350054,7.7958,NaN,S
227,1119,3,"McNeill, Miss. Bridget",female,NaN,0,0,370368,7.7500,NaN,Q
228,1120,3,"Everett, Mr. Thomas James",male,40.50,0,0,C.A. 6212,15.1000,NaN,S
229,1121,2,"Hocking, Mr. Samuel James Metcalfe",male,36.00,0,0,242963,13.0000,NaN,S
230,1122,2,"Sweet, Mr. George Frederick",male,14.00,0,0,220845,65.0000,NaN,S
231,1123,1,"Willard, Miss. Constance",female,21.00,0,0,113795,26.5500,NaN,S
232,1124,3,"Wiklund, Mr. Karl Johan",male,21.00,1,0,3101266,6.4958,NaN,S
233,1125,3,"Linehan, Mr. Michael",male,NaN,0,0,330971,7.8792,NaN,Q
234,1126,1,"Cumings, Mr. John Bradley",male,39.00,1,0,PC 17599,71.2833,C85,C
235,1127,3,"Vendel, Mr. Olof Edvin",male,20.00,0,0,350416,7.8542,NaN,S
236,1128,1,"Warren, Mr. Frank Manley",male,64.00,1,0,110813,75.2500,D37,C
237,1129,3,"Baccos, Mr. Raffull",male,20.00,0,0,2679,7.2250,NaN,C
238,1130,2,"Hiltunen, Miss. Marta",female,18.00,1,1,250650,13.0000,NaN,S
239,1131,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.00,1,0,PC 17761,106.4250,C86,C
240,1132,1,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55.00,0,0,112377,27.7208,NaN,C
241,1133,2,"Christy, Mrs. (Alice Frances)",female,45.00,0,2,237789,30.0000,NaN,S
242,1134,1,"Spedden, Mr. Frederic Oakley",male,45.00,1,1,16966,134.5000,E34,C
243,1135,3,"Hyman, Mr. Abraham",male,NaN,0,0,3470,7.8875,NaN,S
244,1136,3,"Johnston, Master. William Arthur Willie""""",male,NaN,1,2,W./C. 6607,23.4500,NaN,S
245,1137,1,"Kenyon, Mr. Frederick R",male,41.00,1,0,17464,51.8625,D21,S
246,1138,2,"Karnes, Mrs. J Frank (Claire Bennett)",female,22.00,0,0,F.C.C. 13534,21.0000,NaN,S
247,1139,2,"Drew, Mr. James Vivian",male,42.00,1,1,28220,32.5000,NaN,S
248,1140,2,"Hold, Mrs. Stephen (Annie Margaret Hill)",female,29.00,1,0,26707,26.0000,NaN,S
249,1141,3,"Khalil, Mrs. Betros (Zahie Maria"" Elias)""",female,NaN,1,0,2660,14.4542,NaN,C
250,1142,2,"West, Miss. Barbara J",female,0.92,1,2,C.A. 34651,27.7500,NaN,S
251,1143,3,"Abrahamsson, Mr. Abraham August Johannes",male,20.00,0,0,SOTON/O2 3101284,7.9250,NaN,S
252,1144,1,"Clark, Mr. Walter Miller",male,27.00,1,0,13508,136.7792,C89,C
253,1145,3,"Salander, Mr. Karl Johan",male,24.00,0,0,7266,9.3250,NaN,S
254,1146,3,"Wenzel, Mr. Linhart",male,32.50,0,0,345775,9.5000,NaN,S
255,1147,3,"MacKay, Mr. George William",male,NaN,0,0,C.A. 42795,7.5500,NaN,S

In [96]:
answer = train.Survived

In [130]:
train.drop(columns=['Survived'])

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,6,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
7,8,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
11,12,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
12,13,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,14,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,15,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
15,16,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
16,17,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
17,18,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S
19,20,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,22,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,23,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,24,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,25,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,26,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S
26,27,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,29,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
31,32,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,35,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
36,37,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,39,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,40,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,41,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
41,42,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1,0,11668,21.0000,NaN,S
42,43,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
45,46,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
50,51,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
51,52,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,53,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
53,54,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,1,0,2926,26.0000,NaN,S
54,55,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
55,56,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
56,57,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,58,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
58,59,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,60,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
60,61,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
61,62,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,63,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
63,64,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
64,65,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
65,66,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
66,67,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S
67,68,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,69,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
69,70,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
70,71,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,72,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,73,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,75,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,76,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,77,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
78,79,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
79,80,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
80,81,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,82,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
82,83,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
83,84,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
84,85,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,86,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S
86,87,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,88,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,89,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,90,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
90,91,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
91,92,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
92,93,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,94,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,95,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
95,96,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
97,98,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,99,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
99,100,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S
100,101,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S
101,102,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
102,103,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S
103,104,3,"Johansson, Mr. Gustaf Joel",male,33.00,0,0,7540,8.6542,NaN,S
104,105,3,"Gustafsson, Mr. Anders Vilhelm",male,37.00,2,0,3101276,7.9250,NaN,S
105,106,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S
106,107,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S
107,108,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
108,109,3,"Rekic, Mr. Tido",male,38.00,0,0,349249,7.8958,NaN,S
109,110,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q
110,111,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S
111,112,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C
112,113,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S
113,114,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S
114,115,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C
115,116,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S
116,117,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,NaN,Q
117,118,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S
118,119,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C
119,120,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S
120,121,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
121,122,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S
122,123,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C
123,124,2,"Webber, Miss. Susan",female,32.50,0,0,27267,13.0000,E101,S
124,125,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D26,S
125,126,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C
126,127,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
127,128,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S
128,129,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
129,130,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S
130,131,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,349241,7.8958,NaN,C
131,132,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
132,133,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S
133,134,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S
134,135,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S
135,136,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C
136,137,1,"Newsom, Miss. Helen Monypeny",female,19.00,0,2,11752,26.2833,D47,S
137,138,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S
138,139,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S
139,140,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C
140,141,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
141,142,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,NaN,S
142,143,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S
143,144,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,NaN,Q
144,145,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S
145,146,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,NaN,S
146,147,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S
147,148,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S
148,149,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0,2,230080,26.0000,F2,S
149,150,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S
150,151,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S
151,152,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S
152,153,3,"Meo, Mr. Alfonzo",male,55.50,0,0,A.5. 11206,8.0500,NaN,S
153,154,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,NaN,S
154,155,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
156,157,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q
157,158,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
158,159,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S
159,160,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S
160,161,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,NaN,S
161,162,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.00,0,0,C.A. 33595,15.7500,NaN,S
162,163,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S
163,164,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S
164,165,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S
165,166,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S
166,167,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S
167,168,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S
168,169,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S
169,170,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S
170,171,1,"Van der hoef, Mr. Wyckoff",male,61.00,0,0,111240,33.5000,B19,S
171,172,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q
172,173,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
173,174,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
174,175,1,"Smith, Mr. James Clinch",male,56.00,0,0,17764,30.6958,A7,C
175,176,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S
176,177,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S
177,178,1,"Isham, Miss. Ann Elizabeth",female,50.00,0,0,PC 17595,28.7125,C49,C
178,179,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,NaN,S
179,180,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,NaN,S
180,181,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
181,182,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
182,183,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S
183,184,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S
184,185,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S
185,186,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S
186,187,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q
187,188,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S
188,189,3,"Bourke, Mr. John",male,40.00,1,1,364849,15.5000,NaN,Q
189,190,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,NaN,S
190,191,2,"Pinsky, Mrs. (Rosa)",female,32.00,0,0,234604,13.0000,NaN,S
191,192,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S
192,193,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S
193,194,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S
194,195,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B4,C
195,196,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C
196,197,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
197,198,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0,1,4579,8.4042,NaN,S
198,199,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
199,200,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0,0,248747,13.0000,NaN,S
200,201,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S
201,202,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
202,203,3,"Johanson, Mr. Jakob Alfred",male,34.00,0,0,3101264,6.4958,NaN,S
203,204,3,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,NaN,C
204,205,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S
205,206,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S
206,207,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S
207,208,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C
208,209,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q
209,210,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C
210,211,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
211,212,2,"Cameron, Miss. Clear Annie",female,35.00,0,0,F.C.C. 13528,21.0000,NaN,S
212,213,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S
213,214,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,NaN,S
214,215,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q
215,216,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C
216,217,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S
217,218,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S
218,219,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C
219,220,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,NaN,S
220,221,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
221,222,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S
222,223,3,"Green, Mr. George Henry",male,51.00,0,0,21440,8.0500,NaN,S
223,224,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S
224,225,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S
225,226,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S
226,227,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S
227,228,3,"Lovell, Mr. John Hall (""Henry"")",male,20.50,0,0,A/5 21173,7.2500,NaN,S
228,229,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,NaN,S
229,230,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
230,231,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.00,1,0,36973,83.4750,C83,S
231,232,3,"Larsson, Mr. Bengt Edvin",male,29.00,0,0,347067,7.7750,NaN,S
232,233,2,"Sjostedt, Mr. Ernst Adolf",male,59.00,0,0,237442,13.5000,NaN,S
233,234,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S
234,235,2,"Leyson, Mr. Robert William Norman",male,24.00,0,0,C.A. 29566,10.5000,NaN,S
235,236,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S
236,237,2,"Hold, Mr. Stephen",male,44.00,1,0,26707,26.0000,NaN,S
237,238,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,C.A. 31921,26.2500,NaN,S
238,239,2,"Pengelly, Mr. Frederick William",male,19.00,0,0,28665,10.5000,NaN,S
239,240,2,"Hunt, Mr. George Henry",male,33.00,0,0,SCO/W 1585,12.2750,NaN,S
240,241,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
241,242,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q
242,243,2,"Coleridge, Mr. Reginald Charles",male,29.00,0,0,W./C. 14263,10.5000,NaN,S
243,244,3,"Maenpaa, Mr. Matti Alexanteri",male,22.00,0,0,STON/O 2. 3101275,7.1250,NaN,S
244,245,3,"Attalah, Mr. Sleiman",male,30.00,0,0,2694,7.2250,NaN,C
245,246,1,"Minahan, Dr. William Edward",male,44.00,2,0,19928,90.0000,C78,Q
246,247,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.00,0,0,347071,7.7750,NaN,S
247,248,2,"Hamalainen, Mrs. William (Anna)",female,24.00,0,2,250649,14.5000,NaN,S
248,249,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S
249,250,2,"Carter, Rev. Ernest Courtenay",male,54.00,1,0,244252,26.0000,NaN,S
250,251,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,NaN,S
251,252,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.00,1,1,347054,10.4625,G6,S
252,253,1,"Stead, Mr. William Thomas",male,62.00,0,0,113514,26.5500,C87,S
253,254,3,"Lobb, Mr. William Arthur",male,30.00,1,0,A/5. 3336,16.1000,NaN,S
254,255,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.00,0,2,370129,20.2125,NaN,S
255,256,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.00,0,2,2650,15.2458,NaN,C
256,257,1,"Thorne, Mrs. Gertrude Maybelle",female,NaN,0,0,PC 17585,79.2000,NaN,C
257,258,1,"Cherry, Miss. Gladys",female,30.00,0,0,110152,86.5000,B77,S
258,259,1,"Ward, Miss. Anna",female,35.00,0,0,PC 17755,512.3292,NaN,C
259,260,2,"Parrish, Mrs. (Lutie Davis)",female,50.00,0,1,230433,26.0000,NaN,S
260,261,3,"Smith, Mr. Thomas",male,NaN,0,0,384461,7.7500,NaN,Q

In [105]:
titanic = DecisionTreeClassifier()

In [131]:
train=train.drop(columns=['Embarked','Name','Ticket','Cabin'])

In [132]:
titanic.fit(train,answer)

ValueError: could not convert string to float: 'male'

In [134]:
train = train.drop(columns=['PassengerId'])

In [124]:
for i in range(len(train.Sex)):
    if train
    else: train.Sex[i]=1

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

KeyboardInterrupt:

In [127]:
train.Sex[3]

1

In [128]:
train

     Pclass     Sex    Age  SibSp  Parch      Fare
0         3       1  22.00      1      0    7.2500
1         1       1  38.00      1      0   71.2833
2         3       1  26.00      0      0    7.9250
3         1       1  35.00      1      0   53.1000
4         3       1  35.00      0      0    8.0500
5         3       1    NaN      0      0    8.4583
6         1       1  54.00      0      0   51.8625
7         3       1   2.00      3      1   21.0750
8         3       1  27.00      0      2   11.1333
9         2       1  14.00      1      0   30.0708
10        3       1   4.00      1      1   16.7000
11        1       1  58.00      0      0   26.5500
12        3       1  20.00      0      0    8.0500
13        3       1  39.00      1      5   31.2750
14        3       1  14.00      0      0    7.8542
15        2       1  55.00      0      0   16.0000
16        3       1   2.00      4      1   29.1250
17        2       1    NaN      0      0   13.0000
18        3       1  31.00      1      0   18.0000
19        3       1    NaN      0      0    7.2250
20        2       1  35.00      0      0   26.0000
21        2       1  34.00      0      0   13.0000
22        3       1  15.00      0      0    8.0292
23        1       1  28.00      0      0   35.5000
24        3       1   8.00      3      1   21.0750
25        3       1  38.00      1      5   31.3875
26        3       1    NaN      0      0    7.2250
27        1       1  19.00      3      2  263.0000
28        3       1    NaN      0      0    7.8792
29        3       1    NaN      0      0    7.8958
30        1       1  40.00      0      0   27.7208
31        1       1    NaN      1      0  146.5208
32        3       1    NaN      0      0    7.7500
33        2       1  66.00      0      0   10.5000
34        1       1  28.00      1      0   82.1708
35        1       1  42.00      1      0   52.0000
36        3       1    NaN      0      0    7.2292
37        3       1  21.00      0      0    8.0500
38        3       1  18.00      2      0   18.0000
39        3       1  14.00      1      0   11.2417
40        3       1  40.00      1      0    9.4750
41        2       1  27.00      1      0   21.0000
42        3       1    NaN      0      0    7.8958
43        2       1   3.00      1      2   41.5792
44        3       1  19.00      0      0    7.8792
45        3       1    NaN      0      0    8.0500
46        3       1    NaN      1      0   15.5000
47        3       1    NaN      0      0    7.7500
48        3       1    NaN      2      0   21.6792
49        3       1  18.00      1      0   17.8000
50        3       1   7.00      4      1   39.6875
51        3       1  21.00      0      0    7.8000
52        1       1  49.00      1      0   76.7292
53        2       1  29.00      1      0   26.0000
54        1       1  65.00      0      1   61.9792
55        1       1    NaN      0      0   35.5000
56        2       1  21.00      0      0   10.5000
57        3       1  28.50      0      0    7.2292
58        2       1   5.00      1      2   27.7500
59        3       1  11.00      5      2   46.9000
60        3       1  22.00      0      0    7.2292
61        1       1  38.00      0      0   80.0000
62        1       1  45.00      1      0   83.4750
63        3       1   4.00      3      2   27.9000
64        1       1    NaN      0      0   27.7208
65        3       1    NaN      1      1   15.2458
66        2       1  29.00      0      0   10.5000
67        3       1  19.00      0      0    8.1583
68        3       1  17.00      4      2    7.9250
69        3       1  26.00      2      0    8.6625
70        2       1  32.00      0      0   10.5000
71        3       1  16.00      5      2   46.9000
72        2       1  21.00      0      0   73.5000
73        3       1  26.00      1      0   14.4542
74        3       1  32.00      0      0   56.4958
75        3       1  25.00      0      0    7.6500
76        3       1    NaN      0      0    7.8958
77        3       1    NaN      0      0    8.0500
78        2       1   0.83      0      2   29.0000
79        3       1  30.00      0      0   12.4750
80        3       1  22.00      0      0    9.0000
81        3       1  29.00      0      0    9.5000
82        3       1    NaN      0      0    7.7875
83        1       1  28.00      0      0   47.1000
84        2       1  17.00      0      0   10.5000
85        3       1  33.00      3      0   15.8500
86        3       1  16.00      1      3   34.3750
87        3       1    NaN      0      0    8.0500
88        1       1  23.00      3      2  263.0000
89        3       1  24.00      0      0    8.0500
90        3       1  29.00      0      0    8.0500
91        3       1  20.00      0      0    7.8542
92        1       1  46.00      1      0   61.1750
93        3       1  26.00      1      2   20.5750
94        3       1  59.00      0      0    7.2500
95        3       1    NaN      0      0    8.0500
96        1       1  71.00      0      0   34.6542
97        1       1  23.00      0      1   63.3583
98        2       1  34.00      0      1   23.0000
99        2       1  34.00      1      0   26.0000
100       3       1  28.00      0      0    7.8958
101       3       1    NaN      0      0    7.8958
102       1       1  21.00      0      1   77.2875
103       3       1  33.00      0      0    8.6542
104       3       1  37.00      2      0    7.9250
105       3       1  28.00      0      0    7.8958
106       3       1  21.00      0      0    7.6500
107       3       1    NaN      0      0    7.7750
108       3       1  38.00      0      0    7.8958
109       3       1    NaN      1      0   24.1500
110       1       1  47.00      0      0   52.0000
111       3       1  14.50      1      0   14.4542
112       3       1  22.00      0      0    8.0500
113       3       1  20.00      1      0    9.8250
114       3       1  17.00      0      0   14.4583
115       3       1  21.00      0      0    7.9250
116       3       1  70.50      0      0    7.7500
117       2       1  29.00      1      0   21.0000
118       1       1  24.00      0      1  247.5208
119       3       1   2.00      4      2   31.2750
120       2       1  21.00      2      0   73.5000
121       3       1    NaN      0      0    8.0500
122       2       1  32.50      1      0   30.0708
123       2       1  32.50      0      0   13.0000
124       1       1  54.00      0      1   77.2875
125       3       1  12.00      1      0   11.2417
126       3       1    NaN      0      0    7.7500
127       3       1  24.00      0      0    7.1417
128       3       1    NaN      1      1   22.3583
129       3       1  45.00      0      0    6.9750
130       3       1  33.00      0      0    7.8958
131       3       1  20.00      0      0    7.0500
132       3       1  47.00      1      0   14.5000
133       2       1  29.00      1      0   26.0000
134       2       1  25.00      0      0   13.0000
135       2       1  23.00      0      0   15.0458
136       1       1  19.00      0      2   26.2833
137       1       1  37.00      1      0   53.1000
138       3       1  16.00      0      0    9.2167
139       1       1  24.00      0      0   79.2000
140       3       1    NaN      0      2   15.2458
141       3       1  22.00      0      0    7.7500
142       3       1  24.00      1      0   15.8500
143       3       1  19.00      0      0    6.7500
144       2       1  18.00      0      0   11.5000
145       2       1  19.00      1      1   36.7500
146       3       1  27.00      0      0    7.7958
147       3       1   9.00      2      2   34.3750
148       2       1  36.50      0      2   26.0000
149       2       1  42.00      0      0   13.0000
150       2       1  51.00      0      0   12.5250
151       1       1  22.00      1      0   66.6000
152       3       1  55.50      0      0    8.0500
153       3       1  40.50      0      2   14.5000
154       3       1    NaN      0      0    7.3125
155       1       1  51.00      0      1   61.3792
156       3       1  16.00      0      0    7.7333
157       3       1  30.00      0      0    8.0500
158       3       1    NaN      0      0    8.6625
159       3       1    NaN      8      2   69.5500
160       3       1  44.00      0      1   16.1000
161       2       1  40.00      0      0   15.7500
162       3       1  26.00      0      0    7.7750
163       3       1  17.00      0      0    8.6625
164       3       1   1.00      4      1   39.6875
165       3       1   9.00      0      2   20.5250
166       1       1    NaN      0      1   55.0000
167       3       1  45.00      1      4   27.9000
168       1       1    NaN      0      0   25.9250
169       3       1  28.00      0      0   56.4958
170       1       1  61.00      0      0   33.5000
171       3       1   4.00      4      1   29.1250
172       3       1   1.00      1      1   11.1333
173       3       1  21.00      0      0    7.9250
174       1       1  56.00      0      0   30.6958
175       3       1  18.00      1      1    7.8542
176       3       1    NaN      3      1   25.4667
177       1       1  50.00      0      0   28.7125
178       2       1  30.00      0      0   13.0000
179       3       1  36.00      0      0    0.0000
180       3       1    NaN      8      2   69.5500
181       2       1    NaN      0      0   15.0500
182       3       1   9.00      4      2   31.3875
183       2       1   1.00      2      1   39.0000
184       3       1   4.00      0      2   22.0250
185       1       1    NaN      0      0   50.0000
186       3       1    NaN      1      0   15.5000
187       1       1  45.00      0      0   26.5500
188       3       1  40.00      1      1   15.5000
189       3       1  36.00      0      0    7.8958
190       2       1  32.00      0      0   13.0000
191       2       1  19.00      0      0   13.0000
192       3       1  19.00      1      0    7.8542
193       2       1   3.00      1      1   26.0000
194       1       1  44.00      0      0   27.7208
195       1       1  58.00      0      0  146.5208
196       3       1    NaN      0      0    7.7500
197       3       1  42.00      0      1    8.4042
198       3       1    NaN      0      0    7.7500
199       2       1  24.00      0      0   13.0000
200       3       1  28.00      0      0    9.5000
201       3       1    NaN      8      2   69.5500
202       3       1  34.00      0      0    6.4958
203       3       1  45.50      0      0    7.2250
204       3       1  18.00      0      0    8.0500
205       3       1   2.00      0      1   10.4625
206       3       1  32.00      1      0   15.8500
207       3       1  26.00      0      0   18.7875
208       3       1  16.00      0      0    7.7500
209       1       1  40.00      0      0   31.0000
210       3       1  24.00      0      0    7.0500
211       2       1  35.00      0      0   21.0000
212       3       1  22.00      0      0    7.2500
213       2       1  30.00      0      0   13.0000
214       3       1    NaN      1      0    7.7500
215       1       1  31.00      1      0  113.2750
216       3       1  27.00      0      0    7.9250
217       2       1  42.00      1      0   27.0000
218       1       1  32.00      0      0   76.2917
219       2       1  30.00      0      0   10.5000
220       3       1  16.00      0      0    8.0500
221       2       1  27.00      0      0   13.0000
222       3       1  51.00      0      0    8.0500
223       3       1    NaN      0      0    7.8958
224       1       1  38.00      1      0   90.0000
225       3       1  22.00      0      0    9.3500
226       2       1  19.00      0      0   10.5000
227       3       1  20.50      0      0    7.2500
228       2       1  18.00      0      0   13.0000
229       3       1    NaN      3      1   25.4667
230       1       1  35.00      1      0   83.4750
231       3       1  29.00      0      0    7.7750
232       2       1  59.00      0      0   13.5000
233       3       1   5.00      4      2   31.3875
234       2       1  24.00      0      0   10.5000
235       3       1    NaN      0      0    7.5500
236       2       1  44.00      1      0   26.0000
237       2       1   8.00      0      2   26.2500
238       2       1  19.00      0      0   10.5000
239       2       1  33.00      0      0   12.2750
240       3       1    NaN      1      0   14.4542
241       3       1    NaN      1      0   15.5000
242       2       1  29.00      0      0   10.5000
243       3       1  22.00      0      0    7.1250
244       3       1  30.00      0      0    7.2250
245       1       1  44.00      2      0   90.0000
246       3       1  25.00      0      0    7.7750
247       2       1  24.00      0      2   14.5000
248       1       1  37.00      1      1   52.5542
249       2       1  54.00      1      0   26.0000
250       3       1    NaN      0      0    7.2500
251       3       1  29.00      1      1   10.4625
252       1       1  62.00      0      0   26.5500
253       3       1  30.00      1      0   16.1000
254       3       1  41.00      0      2   20.2125
255       3       1  29.00      0      2   15.2458
256       1       1    NaN      0      0   79.2000
257       1       1  30.00      0      0   86.5000
258       1       1  35.00      0      0  512.3292
259       2       1  50.00      0      1   26.0000
260       3       1    NaN      0      0    7.7500
261       3       1   3.00      4      2   31.3875
262       1       1  52.00      1      1   79.6500
263       1       1  40.00      0      0    0.0000
264       3       1    NaN      0      0    7.7500
265       2       1  36.00      0      0   10.5000
266       3       1  16.00      4      1   39.6875
267       3       1  25.00      1      0    7.7750
268       1       1  58.00      0      1  153.4625
269       1       1  35.00      0      0  135.6333
270       1       1    NaN      0      0   31.0000
271       3       1  25.00      0      0    0.0000
272       2       1  41.00      0      1   19.5000
273       1       1  37.00      0      1   29.7000
274       3       1    NaN      0      0    7.7500
275       1       1  63.00      1      0   77.9583
276       3       1  45.00      0      0    7.7500
277       2       1    NaN      0      0    0.0000
278       3       1   7.00      4      1   29.1250
279       3       1  35.00      1      1   20.2500
280       3       1  65.00      0      0    7.7500
281       3       1  28.00      0      0    7.8542
282       3       1  16.00      0      0    9.5000
283       3       1  19.00      0      0    8.0500
284       1       1    NaN      0      0   26.0000
285       3       1  33.00      0      0    8.6625
286       3       1  30.00      0      0    9.5000
287       3       1  22.00      0      0    7.8958
288       2       1  42.00      0      0   13.0000
289       3       1  22.00      0      0    7.7500
290       1       1  26.00      0      0   78.8500
291       1       1  19.00      1      0   91.0792
292       2       1  36.00      0      0   12.8750
293       3       1  24.00      0      0    8.8500
294       3       1  24.00      0      0    7.8958
295       1       1    NaN      0      0   27.7208
296       3       1  23.50      0      0    7.2292
297       1       1   2.00      1      2  151.5500
298       1       1    NaN      0      0   30.5000
299       1       1  50.00      0      1  247.5208
300       3       1    NaN      0      0    7.7500
301       3       1    NaN      2      0   23.2500
302       3       1  19.00      0      0    0.0000
303       2       1    NaN      0      0   12.3500
304       3       1    NaN      0      0    8.0500
305       1       1   0.92      1      2  151.5500
306       1       1    NaN      0      0  110.8833
307       1       1  17.00      1      0  108.9000
308       2       1  30.00      1      0   24.0000
309       1       1  30.00      0      0   56.9292
310       1       1  24.00      0      0   83.1583
311       1       1  18.00      2      2  262.3750
312       2       1  26.00      1      1   26.0000
313       3       1  28.00      0      0    7.8958
314       2       1  43.00      1      1   26.2500
315       3       1  26.00      0      0    7.8542
316       2       1  24.00      1      0   26.0000
317       2       1  54.00      0      0   14.0000
318       1       1  31.00      0      2  164.8667
319       1       1  40.00      1      1  134.5000
320       3       1  22.00      0      0    7.2500
321       3       1  27.00      0      0    7.8958
322       2       1  30.00      0      0   12.3500
323       2       1  22.00      1      1   29.0000
324       3       1    NaN      8      2   69.5500
325       1       1  36.00      0      0  135.6333
326       3       1  61.00      0      0    6.2375
327       2       1  36.00      0      0   13.0000
328       3       1  31.00      1      1   20.5250
329       1       1  16.00      0      1   57.9792
330       3       1    NaN      2      0   23.2500
331       1       1  45.50      0      0   28.5000
332       1       1  38.00      0      1  153.4625
333       3       1  16.00      2      0   18.0000
334       1       1    NaN      1      0  133.6500
335       3       1    NaN      0      0    7.8958
336       1       1  29.00      1      0   66.6000
337       1       1  41.00      0      0  134.5000
338       3       1  45.00      0      0    8.0500
339       1       1  45.00      0      0   35.5000
340       2       1   2.00      1      1   26.0000
341       1       1  24.00      3      2  263.0000
342       2       1  28.00      0      0   13.0000
343       2       1  25.00      0      0   13.0000
344       2       1  36.00      0      0   13.0000
345       2       1  24.00      0      0   13.0000
346       2       1  40.00      0      0   13.0000
347       3       1    NaN      1      0   16.1000
348       3       1   3.00      1      1   15.9000
349       3       1  42.00      0      0    8.6625
350       3       1  23.00      0      0    9.2250
351       1       1    NaN      0      0   35.0000
352       3       1  15.00      1      1    7.2292
353       3       1  25.00      1      0   17.8000
354       3       1    NaN      0      0    7.2250
355       3       1  28.00      0      0    9.5000
356       1       1  22.00      0      1   55.0000
357       2       1  38.00      0      0   13.0000
358       3       1    NaN      0      0    7.8792
359       3       1    NaN      0      0    7.8792
360       3       1  40.00      1      4   27.9000
361       2       1  29.00      1      0   27.7208
362       3       1  45.00      0      1   14.4542
363       3       1  35.00      0      0    7.0500
364       3       1    NaN      1      0   15.5000
365       3       1  30.00      0      0    7.2500
366       1       1  60.00      1      0   75.2500
367       3       1    NaN      0      0    7.2292
368       3       1    NaN      0      0    7.7500
369       1       1  24.00      0      0   69.3000
370       1       1  25.00      1      0   55.4417
371       3       1  18.00      1      0    6.4958
372       3       1  19.00      0      0    8.0500
373       1       1  22.00      0      0  135.6333
374       3       1   3.00      3      1   21.0750
375       1       1    NaN      1      0   82.1708
376       3       1  22.00      0      0    7.2500
377       1       1  27.00      0      2  211.5000
378       3       1  20.00      0      0    4.0125
379       3       1  19.00      0      0    7.7750
380       1       1  42.00      0      0  227.5250
381       3       1   1.00      0      2   15.7417
382       3       1  32.00      0      0    7.9250
383       1       1  35.00      1      0   52.0000
384       3       1    NaN      0      0    7.8958
385       2       1  18.00      0      0   73.5000
386       3       1   1.00      5      2   46.9000
387       2       1  36.00      0      0   13.0000
388       3       1    NaN      0      0    7.7292
389       2       1  17.00      0      0   12.0000
390       1       1  36.00      1      2  120.0000

In [136]:
train = train.drop(columns=['Survived'])

In [142]:

    print(row)

Pclass
Sex
Age
SibSp
Parch
Fare

In [141]:
train

     Pclass     Sex    Age  SibSp  Parch      Fare
0         3    male  22.00      1      0    7.2500
1         1  female  38.00      1      0   71.2833
2         3  female  26.00      0      0    7.9250
3         1  female  35.00      1      0   53.1000
4         3    male  35.00      0      0    8.0500
5         3    male    NaN      0      0    8.4583
6         1    male  54.00      0      0   51.8625
7         3    male   2.00      3      1   21.0750
8         3  female  27.00      0      2   11.1333
9         2  female  14.00      1      0   30.0708
10        3  female   4.00      1      1   16.7000
11        1  female  58.00      0      0   26.5500
12        3    male  20.00      0      0    8.0500
13        3    male  39.00      1      5   31.2750
14        3  female  14.00      0      0    7.8542
15        2  female  55.00      0      0   16.0000
16        3    male   2.00      4      1   29.1250
17        2    male    NaN      0      0   13.0000
18        3  female  31.00      1      0   18.0000
19        3  female    NaN      0      0    7.2250
20        2    male  35.00      0      0   26.0000
21        2    male  34.00      0      0   13.0000
22        3  female  15.00      0      0    8.0292
23        1    male  28.00      0      0   35.5000
24        3  female   8.00      3      1   21.0750
25        3  female  38.00      1      5   31.3875
26        3    male    NaN      0      0    7.2250
27        1    male  19.00      3      2  263.0000
28        3  female    NaN      0      0    7.8792
29        3    male    NaN      0      0    7.8958
30        1    male  40.00      0      0   27.7208
31        1  female    NaN      1      0  146.5208
32        3  female    NaN      0      0    7.7500
33        2    male  66.00      0      0   10.5000
34        1    male  28.00      1      0   82.1708
35        1    male  42.00      1      0   52.0000
36        3    male    NaN      0      0    7.2292
37        3    male  21.00      0      0    8.0500
38        3  female  18.00      2      0   18.0000
39        3  female  14.00      1      0   11.2417
40        3  female  40.00      1      0    9.4750
41        2  female  27.00      1      0   21.0000
42        3    male    NaN      0      0    7.8958
43        2  female   3.00      1      2   41.5792
44        3  female  19.00      0      0    7.8792
45        3    male    NaN      0      0    8.0500
46        3    male    NaN      1      0   15.5000
47        3  female    NaN      0      0    7.7500
48        3    male    NaN      2      0   21.6792
49        3  female  18.00      1      0   17.8000
50        3    male   7.00      4      1   39.6875
51        3    male  21.00      0      0    7.8000
52        1  female  49.00      1      0   76.7292
53        2  female  29.00      1      0   26.0000
54        1    male  65.00      0      1   61.9792
55        1    male    NaN      0      0   35.5000
56        2  female  21.00      0      0   10.5000
57        3    male  28.50      0      0    7.2292
58        2  female   5.00      1      2   27.7500
59        3    male  11.00      5      2   46.9000
60        3    male  22.00      0      0    7.2292
61        1  female  38.00      0      0   80.0000
62        1    male  45.00      1      0   83.4750
63        3    male   4.00      3      2   27.9000
64        1    male    NaN      0      0   27.7208
65        3    male    NaN      1      1   15.2458
66        2  female  29.00      0      0   10.5000
67        3    male  19.00      0      0    8.1583
68        3  female  17.00      4      2    7.9250
69        3    male  26.00      2      0    8.6625
70        2    male  32.00      0      0   10.5000
71        3  female  16.00      5      2   46.9000
72        2    male  21.00      0      0   73.5000
73        3    male  26.00      1      0   14.4542
74        3    male  32.00      0      0   56.4958
75        3    male  25.00      0      0    7.6500
76        3    male    NaN      0      0    7.8958
77        3    male    NaN      0      0    8.0500
78        2    male   0.83      0      2   29.0000
79        3  female  30.00      0      0   12.4750
80        3    male  22.00      0      0    9.0000
81        3    male  29.00      0      0    9.5000
82        3  female    NaN      0      0    7.7875
83        1    male  28.00      0      0   47.1000
84        2  female  17.00      0      0   10.5000
85        3  female  33.00      3      0   15.8500
86        3    male  16.00      1      3   34.3750
87        3    male    NaN      0      0    8.0500
88        1  female  23.00      3      2  263.0000
89        3    male  24.00      0      0    8.0500
90        3    male  29.00      0      0    8.0500
91        3    male  20.00      0      0    7.8542
92        1    male  46.00      1      0   61.1750
93        3    male  26.00      1      2   20.5750
94        3    male  59.00      0      0    7.2500
95        3    male    NaN      0      0    8.0500
96        1    male  71.00      0      0   34.6542
97        1    male  23.00      0      1   63.3583
98        2  female  34.00      0      1   23.0000
99        2    male  34.00      1      0   26.0000
100       3  female  28.00      0      0    7.8958
101       3    male    NaN      0      0    7.8958
102       1    male  21.00      0      1   77.2875
103       3    male  33.00      0      0    8.6542
104       3    male  37.00      2      0    7.9250
105       3    male  28.00      0      0    7.8958
106       3  female  21.00      0      0    7.6500
107       3    male    NaN      0      0    7.7750
108       3    male  38.00      0      0    7.8958
109       3  female    NaN      1      0   24.1500
110       1    male  47.00      0      0   52.0000
111       3  female  14.50      1      0   14.4542
112       3    male  22.00      0      0    8.0500
113       3  female  20.00      1      0    9.8250
114       3  female  17.00      0      0   14.4583
115       3    male  21.00      0      0    7.9250
116       3    male  70.50      0      0    7.7500
117       2    male  29.00      1      0   21.0000
118       1    male  24.00      0      1  247.5208
119       3  female   2.00      4      2   31.2750
120       2    male  21.00      2      0   73.5000
121       3    male    NaN      0      0    8.0500
122       2    male  32.50      1      0   30.0708
123       2  female  32.50      0      0   13.0000
124       1    male  54.00      0      1   77.2875
125       3    male  12.00      1      0   11.2417
126       3    male    NaN      0      0    7.7500
127       3    male  24.00      0      0    7.1417
128       3  female    NaN      1      1   22.3583
129       3    male  45.00      0      0    6.9750
130       3    male  33.00      0      0    7.8958
131       3    male  20.00      0      0    7.0500
132       3  female  47.00      1      0   14.5000
133       2  female  29.00      1      0   26.0000
134       2    male  25.00      0      0   13.0000
135       2    male  23.00      0      0   15.0458
136       1  female  19.00      0      2   26.2833
137       1    male  37.00      1      0   53.1000
138       3    male  16.00      0      0    9.2167
139       1    male  24.00      0      0   79.2000
140       3  female    NaN      0      2   15.2458
141       3  female  22.00      0      0    7.7500
142       3  female  24.00      1      0   15.8500
143       3    male  19.00      0      0    6.7500
144       2    male  18.00      0      0   11.5000
145       2    male  19.00      1      1   36.7500
146       3    male  27.00      0      0    7.7958
147       3  female   9.00      2      2   34.3750
148       2    male  36.50      0      2   26.0000
149       2    male  42.00      0      0   13.0000
150       2    male  51.00      0      0   12.5250
151       1  female  22.00      1      0   66.6000
152       3    male  55.50      0      0    8.0500
153       3    male  40.50      0      2   14.5000
154       3    male    NaN      0      0    7.3125
155       1    male  51.00      0      1   61.3792
156       3  female  16.00      0      0    7.7333
157       3    male  30.00      0      0    8.0500
158       3    male    NaN      0      0    8.6625
159       3    male    NaN      8      2   69.5500
160       3    male  44.00      0      1   16.1000
161       2  female  40.00      0      0   15.7500
162       3    male  26.00      0      0    7.7750
163       3    male  17.00      0      0    8.6625
164       3    male   1.00      4      1   39.6875
165       3    male   9.00      0      2   20.5250
166       1  female    NaN      0      1   55.0000
167       3  female  45.00      1      4   27.9000
168       1    male    NaN      0      0   25.9250
169       3    male  28.00      0      0   56.4958
170       1    male  61.00      0      0   33.5000
171       3    male   4.00      4      1   29.1250
172       3  female   1.00      1      1   11.1333
173       3    male  21.00      0      0    7.9250
174       1    male  56.00      0      0   30.6958
175       3    male  18.00      1      1    7.8542
176       3    male    NaN      3      1   25.4667
177       1  female  50.00      0      0   28.7125
178       2    male  30.00      0      0   13.0000
179       3    male  36.00      0      0    0.0000
180       3  female    NaN      8      2   69.5500
181       2    male    NaN      0      0   15.0500
182       3    male   9.00      4      2   31.3875
183       2    male   1.00      2      1   39.0000
184       3  female   4.00      0      2   22.0250
185       1    male    NaN      0      0   50.0000
186       3  female    NaN      1      0   15.5000
187       1    male  45.00      0      0   26.5500
188       3    male  40.00      1      1   15.5000
189       3    male  36.00      0      0    7.8958
190       2  female  32.00      0      0   13.0000
191       2    male  19.00      0      0   13.0000
192       3  female  19.00      1      0    7.8542
193       2    male   3.00      1      1   26.0000
194       1  female  44.00      0      0   27.7208
195       1  female  58.00      0      0  146.5208
196       3    male    NaN      0      0    7.7500
197       3    male  42.00      0      1    8.4042
198       3  female    NaN      0      0    7.7500
199       2  female  24.00      0      0   13.0000
200       3    male  28.00      0      0    9.5000
201       3    male    NaN      8      2   69.5500
202       3    male  34.00      0      0    6.4958
203       3    male  45.50      0      0    7.2250
204       3    male  18.00      0      0    8.0500
205       3  female   2.00      0      1   10.4625
206       3    male  32.00      1      0   15.8500
207       3    male  26.00      0      0   18.7875
208       3  female  16.00      0      0    7.7500
209       1    male  40.00      0      0   31.0000
210       3    male  24.00      0      0    7.0500
211       2  female  35.00      0      0   21.0000
212       3    male  22.00      0      0    7.2500
213       2    male  30.00      0      0   13.0000
214       3    male    NaN      1      0    7.7500
215       1  female  31.00      1      0  113.2750
216       3  female  27.00      0      0    7.9250
217       2    male  42.00      1      0   27.0000
218       1  female  32.00      0      0   76.2917
219       2    male  30.00      0      0   10.5000
220       3    male  16.00      0      0    8.0500
221       2    male  27.00      0      0   13.0000
222       3    male  51.00      0      0    8.0500
223       3    male    NaN      0      0    7.8958
224       1    male  38.00      1      0   90.0000
225       3    male  22.00      0      0    9.3500
226       2    male  19.00      0      0   10.5000
227       3    male  20.50      0      0    7.2500
228       2    male  18.00      0      0   13.0000
229       3  female    NaN      3      1   25.4667
230       1  female  35.00      1      0   83.4750
231       3    male  29.00      0      0    7.7750
232       2    male  59.00      0      0   13.5000
233       3  female   5.00      4      2   31.3875
234       2    male  24.00      0      0   10.5000
235       3  female    NaN      0      0    7.5500
236       2    male  44.00      1      0   26.0000
237       2  female   8.00      0      2   26.2500
238       2    male  19.00      0      0   10.5000
239       2    male  33.00      0      0   12.2750
240       3  female    NaN      1      0   14.4542
241       3  female    NaN      1      0   15.5000
242       2    male  29.00      0      0   10.5000
243       3    male  22.00      0      0    7.1250
244       3    male  30.00      0      0    7.2250
245       1    male  44.00      2      0   90.0000
246       3  female  25.00      0      0    7.7750
247       2  female  24.00      0      2   14.5000
248       1    male  37.00      1      1   52.5542
249       2    male  54.00      1      0   26.0000
250       3    male    NaN      0      0    7.2500
251       3  female  29.00      1      1   10.4625
252       1    male  62.00      0      0   26.5500
253       3    male  30.00      1      0   16.1000
254       3  female  41.00      0      2   20.2125
255       3  female  29.00      0      2   15.2458
256       1  female    NaN      0      0   79.2000
257       1  female  30.00      0      0   86.5000
258       1  female  35.00      0      0  512.3292
259       2  female  50.00      0      1   26.0000
260       3    male    NaN      0      0    7.7500
261       3    male   3.00      4      2   31.3875
262       1    male  52.00      1      1   79.6500
263       1    male  40.00      0      0    0.0000
264       3  female    NaN      0      0    7.7500
265       2    male  36.00      0      0   10.5000
266       3    male  16.00      4      1   39.6875
267       3    male  25.00      1      0    7.7750
268       1  female  58.00      0      1  153.4625
269       1  female  35.00      0      0  135.6333
270       1    male    NaN      0      0   31.0000
271       3    male  25.00      0      0    0.0000
272       2  female  41.00      0      1   19.5000
273       1    male  37.00      0      1   29.7000
274       3  female    NaN      0      0    7.7500
275       1  female  63.00      1      0   77.9583
276       3  female  45.00      0      0    7.7500
277       2    male    NaN      0      0    0.0000
278       3    male   7.00      4      1   29.1250
279       3  female  35.00      1      1   20.2500
280       3    male  65.00      0      0    7.7500
281       3    male  28.00      0      0    7.8542
282       3    male  16.00      0      0    9.5000
283       3    male  19.00      0      0    8.0500
284       1    male    NaN      0      0   26.0000
285       3    male  33.00      0      0    8.6625
286       3    male  30.00      0      0    9.5000
287       3    male  22.00      0      0    7.8958
288       2    male  42.00      0      0   13.0000
289       3  female  22.00      0      0    7.7500
290       1  female  26.00      0      0   78.8500
291       1  female  19.00      1      0   91.0792
292       2    male  36.00      0      0   12.8750
293       3  female  24.00      0      0    8.8500
294       3    male  24.00      0      0    7.8958
295       1    male    NaN      0      0   27.7208
296       3    male  23.50      0      0    7.2292
297       1  female   2.00      1      2  151.5500
298       1    male    NaN      0      0   30.5000
299       1  female  50.00      0      1  247.5208
300       3  female    NaN      0      0    7.7500
301       3    male    NaN      2      0   23.2500
302       3    male  19.00      0      0    0.0000
303       2  female    NaN      0      0   12.3500
304       3    male    NaN      0      0    8.0500
305       1    male   0.92      1      2  151.5500
306       1  female    NaN      0      0  110.8833
307       1  female  17.00      1      0  108.9000
308       2    male  30.00      1      0   24.0000
309       1  female  30.00      0      0   56.9292
310       1  female  24.00      0      0   83.1583
311       1  female  18.00      2      2  262.3750
312       2  female  26.00      1      1   26.0000
313       3    male  28.00      0      0    7.8958
314       2    male  43.00      1      1   26.2500
315       3  female  26.00      0      0    7.8542
316       2  female  24.00      1      0   26.0000
317       2    male  54.00      0      0   14.0000
318       1  female  31.00      0      2  164.8667
319       1  female  40.00      1      1  134.5000
320       3    male  22.00      0      0    7.2500
321       3    male  27.00      0      0    7.8958
322       2  female  30.00      0      0   12.3500
323       2  female  22.00      1      1   29.0000
324       3    male    NaN      8      2   69.5500
325       1  female  36.00      0      0  135.6333
326       3    male  61.00      0      0    6.2375
327       2  female  36.00      0      0   13.0000
328       3  female  31.00      1      1   20.5250
329       1  female  16.00      0      1   57.9792
330       3  female    NaN      2      0   23.2500
331       1    male  45.50      0      0   28.5000
332       1    male  38.00      0      1  153.4625
333       3    male  16.00      2      0   18.0000
334       1  female    NaN      1      0  133.6500
335       3    male    NaN      0      0    7.8958
336       1    male  29.00      1      0   66.6000
337       1  female  41.00      0      0  134.5000
338       3    male  45.00      0      0    8.0500
339       1    male  45.00      0      0   35.5000
340       2    male   2.00      1      1   26.0000
341       1  female  24.00      3      2  263.0000
342       2    male  28.00      0      0   13.0000
343       2    male  25.00      0      0   13.0000
344       2    male  36.00      0      0   13.0000
345       2  female  24.00      0      0   13.0000
346       2  female  40.00      0      0   13.0000
347       3  female    NaN      1      0   16.1000
348       3    male   3.00      1      1   15.9000
349       3    male  42.00      0      0    8.6625
350       3    male  23.00      0      0    9.2250
351       1    male    NaN      0      0   35.0000
352       3    male  15.00      1      1    7.2292
353       3    male  25.00      1      0   17.8000
354       3    male    NaN      0      0    7.2250
355       3    male  28.00      0      0    9.5000
356       1  female  22.00      0      1   55.0000
357       2  female  38.00      0      0   13.0000
358       3  female    NaN      0      0    7.8792
359       3  female    NaN      0      0    7.8792
360       3    male  40.00      1      4   27.9000
361       2    male  29.00      1      0   27.7208
362       3  female  45.00      0      1   14.4542
363       3    male  35.00      0      0    7.0500
364       3    male    NaN      1      0   15.5000
365       3    male  30.00      0      0    7.2500
366       1  female  60.00      1      0   75.2500
367       3  female    NaN      0      0    7.2292
368       3  female    NaN      0      0    7.7500
369       1  female  24.00      0      0   69.3000
370       1    male  25.00      1      0   55.4417
371       3    male  18.00      1      0    6.4958
372       3    male  19.00      0      0    8.0500
373       1    male  22.00      0      0  135.6333
374       3  female   3.00      3      1   21.0750
375       1  female    NaN      1      0   82.1708
376       3  female  22.00      0      0    7.2500
377       1    male  27.00      0      2  211.5000
378       3    male  20.00      0      0    4.0125
379       3    male  19.00      0      0    7.7750
380       1  female  42.00      0      0  227.5250
381       3  female   1.00      0      2   15.7417
382       3    male  32.00      0      0    7.9250
383       1  female  35.00      1      0   52.0000
384       3    male    NaN      0      0    7.8958
385       2    male  18.00      0      0   73.5000
386       3    male   1.00      5      2   46.9000
387       2  female  36.00      0      0   13.0000
388       3    male    NaN      0      0    7.7292
389       2  female  17.00      0      0   12.0000
390       1    male  36.00      1      2  120.0000

In [146]:
for i in range(train.shape[0]):
    if train.iloc[i,1]=='male': train.iloc[i,1]=1
    else: train.iloc[i,1]=0

In [148]:
titanic.fit(train, answer)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [149]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
Pclass    891 non-null int64
Sex       891 non-null int64
Age       714 non-null float64
SibSp     891 non-null int64
Parch     891 non-null int64
Fare      891 non-null float64
dtypes: float64(2), int64(4)
memory usage: 41.8 KB

In [161]:
train=train[train.Age<1000]

In [166]:
Graph g{a->b}

SyntaxError: invalid syntax (<ipython-input-166-7159512fff32>, line 1)

In [167]:
digraph {
    A [label="King Arthur"]
    B [label="Sir Bedevere the Wise"]
    L [label="Sir Lancelot the Brave"]
    A -> B
    A -> L
    B -> L [constraint=false]
}

SyntaxError: invalid syntax (<ipython-input-167-29be311c9126>, line 1)

In [175]:
ni = Graph('ni')

In [176]:
ni.attr('node')
ni.node('1', 'Ni!')
ni.node('2', 'Ni!')
ni.edges(['12'])

In [177]:
print(ni.source)

graph ni {
	1 [label="Ni!"]
	2 [label="Ni!"]
	1 -- 2
}

In [178]:
ni